Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

modify createParameterList so that it outputs '(NULL)' instead of '()' for 0 input
  site/app/libraries/database/DatabaseQueries.php
Due: php

Fix queries
  site/app/controllers/SelfRejoinController.php
  site/app/controllers/course/CourseRegistrationController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Make course_create.py set default section, and don't allow users to register if there is no default id
  .setup/bin/sample_courses/models/course/course_create.py
  site/app/controllers/SelfRejoinController.php
  site/app/controllers/course/CourseRegistrationController.php
  site/app/templates/admin/Configuration.twig
  site/app/templates/error/NoAccessCourse.twig
  site/app/views/ErrorView.php
  site/app/views/admin/ConfigurationView.php
Due: php

fix CI error
  site/app/controllers/student/LeaderboardController.php
Due: php

Fix phplinting
  site/app/controllers/course/CourseRegistrationController.php
  site/app/views/ErrorView.php
Due: php

Completely works now, messages fixed, rubric uploads
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Fix phplint again
  site/app/controllers/course/CourseRegistrationController.php
Due: php

Fix tests
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
Due: php

remove before each
  site/app/templates/forum/LikesForm.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

js lint
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

[Feature:Grading] Add toggle functionality for grading details columns and persist selection in cookies
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/grading/electronic/ToggleGradingDetailsColumns.twig
  site/app/views/grading/ElectronicGraderView.php
  site/phpstan-baseline.neon
  site/public/js/details.js
Due: php

[Refactor:Grading] Remove width attributes from grading columns for cleaner code
  site/app/views/grading/ElectronicGraderView.php
Due: php

Refactor:TA Grading Rubric - Move component state updates inside saveChanges condition
  site/public/js/ta-grading-rubric.js
Due: none

fix lint
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix spelling
  site/public/js/user-profile.js
Due: none

Add missing Twig variable
  site/app/controllers/admin/AdminGradeableController.php
  site/public/js/admin-gradeable-updates.js
Due: php

JS Linting
  site/public/js/admin-gradeable-updates.js
Due: none

Add current filter to get edit post content method
  site/app/controllers/forum/ForumController.php
Due: php

[Migration] Add indexes for courses_users table
  migration/migrator/migrations/master/20250121144500_courses_users_indexes.py
Due: migrator

update database dump
  migration/migrator/data/submitty_db.sql
Due: migrator

Delete all threads before each test so that we don't have to manually, don't delete threads that don't exist, delete all threads with the same name.
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

Account for version conflicts
  sbin/send_notification.py
Due: none

add twig-lint to github workflow
  .github/workflows/ci.yml
Due: none

update twig install command
  .github/workflows/ci.yml
Due: none

lint all folders excluding tmp and vendor
  .github/workflows/ci.yml
Due: none

fix typo
  .github/workflows/ci.yml
Due: none

remvoe excludes argument
  .github/workflows/ci.yml
Due: none

More doctrine work
  site/app/controllers/AuthenticationController.php
  site/app/entities/UnverifiedUser.php
  site/app/models/UnverifiedUser.php
Due: php

Remove named parameters
  site/app/controllers/SelfRejoinController.php
  site/app/controllers/course/CourseRegistrationController.php
Due: php

add data-testid
  site/app/templates/forum/ForumBar.twig
  site/cypress/e2e/Cypress-Feature/upduck_forums.spec.js
Due: php

[Bugfix:TAGrading] Simple Gradeable CSV Upload (#11259)
  site/app/controllers/grading/SimpleGraderController.php
  site/phpstan-baseline.neon
  site/public/js/simple-grading.js
Due: php

[Bugfix:TAGrading] Fully discard changes on click (#11488)
  site/public/js/ta-grading-rubric.js
Due: none

[Bugfix:InstructorUI] Fix error in superuser email status page (#11438)
  site/app/entities/email/EmailEntity.php
Due: php

remove waits from removeThread
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

[Bugfix:Forum] Separate and fix inconsistent forum test (#11441)
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/cypress/e2e/Cypress-Feature/upduck_forums.spec.js
Due: php

update ci + move to magic func
  .github/workflows/ci.yml
  site/app/controllers/course/CourseMaterialsController.php
  site/app/models/Config.php
  site/app/views/course/CourseMaterialsView.php
Due: php

update setup test and unit test mock config
  site/tests/BaseUnitTest.php
Due: none

forgot to commit file
  .setup/testing/setup.sh
Due: none

add the symfony console script
  site/scripts/symfony_console
Due: none

update composer dependencies
  site/composer.json
  site/composer.lock
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
