Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Testing:InstructorUI] Course Creation Tests (#13111)
  site/cypress/e2e/Cypress-Admin/course_creation.spec.js
  site/vue/src/pages/HomePage.vue
Due: none

Start Cypress testing
  site/cypress/e2e/Cypress-Gradeable/custom_grading_order.spec.js
Due: none

Update peer_restrictions.spec.js
  site/cypress/e2e/Cypress-TAGrading/peer_restrictions.spec.js
Due: none

update tests
  site/cypress/e2e/Cypress-TAGrading/peer_file_restrictions.spec.js
  site/cypress/e2e/Cypress-TAGrading/peer_restrictions.spec.js
Due: none

updated permissions and ui
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

updated modal
  site/public/css/docker_interface.css
  site/public/js/docker_interface.js
Due: none

updated comment
  site/vue/src/components/FullScreenButton.vue
Due: none

refactored ui change
  site/app/models/DockerUI.php
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
  site/public/js/docker_interface.js
Due: php

css lint
  site/public/css/docker_interface.css
  site/public/js/docker_interface.js
Due: none

updated spec
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Due: none

display owners
  site/app/models/DockerUI.php
  site/app/templates/admin/Docker.twig
Due: php

added multiple vs single image modal text
  site/app/models/DockerUI.php
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

php lint
  site/app/models/DockerUI.php
Due: php

moving style to fix failing cli
  site/app/templates/AddTerm.twig
  site/public/css/global.css
Due: php

Add tests for Toggling, downloading, and uploading a CSV
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/cypress/e2e/Cypress-Gradeable/custom_grading_order.spec.js
  site/cypress/fixtures/custom_grading_order/base_order.csv
  site/cypress/fixtures/custom_grading_order/duplicate.csv
  site/cypress/fixtures/custom_grading_order/invalid_header.csv
  site/cypress/fixtures/custom_grading_order/missing_student.csv
  site/cypress/fixtures/custom_grading_order/reordered.csv
  site/cypress/fixtures/custom_grading_order/unknown_id.csv
Due: php

stabilized a bit
  site/cypress/e2e/Cypress-Feature/grades_configuration.spec.js
Due: none

fixed course creation filesystem provisioning
  sbin/course_api.py
  sbin/create_course.py
  site/app/controllers/HomePageController.php
Due: php

adding circle+question mark icon linking to documentation
  site/app/templates/grading/electronic/Details.twig
Due: php

fixing icon, replacing bulksavinggrades function by for-loop
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/vue/src/components/ta_grading/TaGradingToolbar.vue
Due: php

fix js lint and some minor changes
  site/app/libraries/database/DatabaseQueries.php
  site/app/repositories/grading_cluster/GradingClusterConfigRepository.php
  site/vue/src/components/ta_grading/TaGradingToolbar.vue
Due: php

fix php lint
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:Testing] save status in forum (#13118)
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/cypress/e2e/Cypress-Feature/discussion_post.spec.js
Due: php

[Bugfix:TAGrading] Implement Panel Visibility Controls (#13126)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/cypress/e2e/Cypress-TAGrading/peer_restrictions.spec.js
Due: php

[Bugfix:InstructorUI] Peer Matrix Popup (#13153)
  site/app/templates/admin/admin_gradeable/rubric/ElectronicFileRubric.twig
Due: php

hopefully fix windows cmd
  .setup/SUBMITTY_TEST.sh
Due: none

intial commit
  sbin/grading_clustering/algorithms/single_cluster.py
  sbin/grading_clustering/main.py
  sbin/submitty_daemon_jobs/tests/test_grading_clustering.py
  site/app/entities/grading_cluster/GradingClusterAlgorithm.php
Due: php

course creation endpoint uses daemon job to queue requests again
  .setup/submitty_sudoers
  sbin/submitty_daemon_jobs/submitty_jobs/__init__.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/HomePageController.php
Due: php

[UI/UX:TAGrading] Annotation as Unviewed Grade (#13106)
  site/app/controllers/image_submission_files/ImageController.php
Due: php

add cypress testing for the new features in the add term modal
  site/cypress/e2e/Cypress-Admin/add_term.spec.js
Due: none

created separate file for token api endpoints
  site/app/controllers/AuthenticationController.php
  site/app/controllers/api/TokenController.php
  site/app/libraries/routers/WebRouter.php
Due: php

Revert "hopefully fix windows cmd"
  .setup/SUBMITTY_TEST.sh
Due: none

All singular tests completed and add team testing
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-Gradeable/custom_grading_order.spec.js
  site/cypress/fixtures/custom_grading_order/invalid_header.csv
  site/cypress/fixtures/custom_grading_order/missing_student.csv
  site/cypress/fixtures/custom_grading_order/reordered.csv
  site/cypress/fixtures/custom_grading_order/team_base_order.csv
  site/cypress/fixtures/custom_grading_order/team_reordered.csv
Due: php

Change names via requested changes
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260729111910_add_gradeable_custom_sort.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

fix submitty_utils install issue?
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

Remove unneeded line
  migration/migrator/data/course_tables.sql
Due: migrator

fixing python lint errors
  sbin/course_api.py
  sbin/create_course.py
Due: none

removed unused changes, all db work in python now, none in php
  site/app/libraries/database/DatabaseQueries.php
Due: php

create_course.py now does both filesystem provisioning and db work
  sbin/create_course.py
  sbin/submitty_daemon_jobs/submitty_jobs/__init__.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
