Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

fix naming
  migration/migrator/migrations/course/20240707024127_sloc_for_barb.py
Due: migrator

Update migration/migrator/migrations/course/20240630190649_course_material.py
  migration/migrator/migrations/course/20240630190649_course_material.py
Due: migrator

fix db issue
  migration/migrator/data/course_tables.sql
Due: migrator

visual testing setup and test
  site/cypress-image-diff-screenshots/baseline/forums.spec-forum-threads-9.png
  site/cypress-image-diff-screenshots/baseline/markdown_test.spec-autograding_code.png
  site/cypress-image-diff-screenshots/baseline/test_forum.spec-forum-threads-9.png
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/cypress/e2e/Cypress-Feature/markdown_test.spec.js
Due: none

gitignore
  .gitignore
Due: none

eslint
  site/cypress/e2e/Cypress-Feature/markdown_test.spec.js
Due: none

Updated plugin file
  site/cypress/plugins/index.js
Due: none

self_grading error
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php

Update course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

Update 20240707024127_sloc_for_barb.py
  migration/migrator/migrations/course/20240707024127_sloc_for_barb.py
Due: migrator

ta grading detail testing
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-UI/ta_grading_details.spec.js
Due: php

minor error
  site/cypress/e2e/Cypress-UI/ta_grading_details.spec.js
Due: none

added test for teams
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-UI/ta_grading_details.spec.js
Due: php

Move arg parsing to get_globals.sh
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_submitty/get_globals.sh
Due: none

fixed banner
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
  site/app/templates/submission/homework/LateDayMessage.twig
  site/app/views/submission/HomeworkView.php
Due: php

remove testing
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
  site/app/views/submission/HomeworkView.php
Due: php

indent
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
Due: php

php lint
  site/app/views/submission/HomeworkView.php
Due: php

[Feature:TAGrading] Allow user to remove hotkey (#10671)
  site/app/templates/grading/SettingsForm.twig
  site/cypress/e2e/Cypress-Gradeable/hotkey.spec.js
  site/public/css/electronic.css
  site/public/js/ta-grading-keymap.js
  site/public/js/ta-grading.js
  site/public/templates/grading/settings/HotkeyList.twig
Due: php

[Feature:InstructorUI] add sloc in database (#10678)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240707024127_sloc_for_barb.py
Due: migrator

Fixing duplicated histogram
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/templates/grading/electronic/ta_status/StatusManualGradingHistogram.twig
Due: php

cypress test
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/submission/grade_inquiry/ComponentTabs.twig
  site/app/templates/submission/grade_inquiry/Discussion.twig
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
Due: php

Initial attempt
  grading/clean.cpp
  grading/clean.h
  grading/dispatch.cpp
Due: none

use open homework
  .setup/data/courses/testing.yml
Due: none

add cypress permissions plugin
  site/cypress.config.ts
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
  site/package-lock.json
  site/package.json
Due: none

add test ids to elements already referred to in tests
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/public/templates/grading/GradingComponentHeader.twig
  site/public/templates/grading/OverallComment.twig
  site/public/templates/grading/SavingTools.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

update tests to use new test-ids
  site/cypress/e2e/Cypress-TAGrading/ta_grading_comments.spec.js
Due: none

fix
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Due: php

fix user assignment download
  site/app/templates/grading/electronic/SubmissionPanel.twig
Due: php

[Dependency] Bump RainbowGrades from v24.07.00 to v24.07.03 (#10683)
  .setup/bin/versions.sh
Due: none

check the right thing now
  site/app/templates/grading/electronic/SubmissionPanel.twig
Due: php

rm commented out
  site/app/controllers/admin/ReportController.php
Due: php

colors.css
  site/app/templates/generic/Banner.twig
  site/app/templates/submission/homework/LateDayMessage.twig
Due: php

Changing from peer grading
  .setup/bin/setup_sample_courses.py
  .setup/data/courses/testing.yml
  site/cypress/e2e/Cypress-Gradeable/testing.spec.js
Due: none

[Bugfix:InstructorUI] Remove lowest null handling (#10680)
  site/app/models/RainbowCustomization.php
Due: php

lint cypress.config.ts
  site/cypress.config.ts
Due: none

change color of daylight savings
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
Due: php

use colors.css
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
Due: php

lint office_hours_queue.spec.js
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

finish lint cypress.config.ts
  site/cypress.config.ts
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
