Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Revert "speedup install site"
  .setup/INSTALL_SUBMITTY_HELPER_SITE.sh
  .setup/install_submitty/install_site.sh
Due: none

Refactor installation scripts: consolidate and streamline setup processes for Python utilities, grading code, and sample files.
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_submitty/build_grading.sh
  .setup/install_submitty/build_juint copy.sh
  .setup/install_submitty/build_junit.sh
  .setup/install_submitty/build_system_call_check.sh
  .setup/install_submitty/install_python.sh
  .setup/install_submitty/install_site.sh
  .setup/install_submitty/setup_sample_autograding.sh
  .setup/install_submitty/update_drmemory.sh
Due: none

remove column
  .setup/bin/sample_courses/models/gradeable.py
Due: none

fix shellcheck
  .setup/install_submitty/build_grading.sh
  .setup/install_submitty/build_juint copy.sh
  .setup/install_submitty/build_junit.sh
  .setup/install_submitty/build_system_call_check.sh
  .setup/install_submitty/install_python.sh
  .setup/install_submitty/setup_sample_autograding.sh
  .setup/install_submitty/update_drmemory.sh
Due: none

update triggers unit test
  migration/tests/test_load_triggers.py
Due: none

fix viewing files in submissions_processed
  site/ts/ta-grading.ts
Due: none

fix autograding
  autograder/autograder/insert_database_version_data.py
Due: autograder

revert db check
  .github/workflows/ci.yml
Due: none

fix phplint
  site/app/libraries/NotebookUtils.php
  site/app/views/AutoGradingView.php
Due: php

update output directory path to use 'submissions_processed' instead of 'results'
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
  site/app/controllers/student/SubmissionController.php
Due: php

Consolidate subject creation
  sbin/send_notification.py
Due: none

Make subject clearer for students
  sbin/send_notification.py
Due: none

Remove old php-baseline error
  site/phpstan-baseline.neon
Due: none

try to fix trigger tests
  migration/tests/test_load_triggers.py
Due: none

Refactor installation scripts: consolidate database setup and analysis tool installation processes into dedicated scripts.
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/update_repos.sh
  .setup/install_submitty/build_analysis_tools.sh
  .setup/install_submitty/build_untrusted_execute.sh
  .setup/install_submitty/setup_database.sh
Due: none

Basic Job for notifications for e2e testing
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/superuser/SuperuserEmailController.php
  site/app/templates/superuser/Email.twig
  site/public/js/superuser-email.js
Due: php

fixes for williams
  site/app/templates/forum/ThreadPostForm.twig
  site/vue/src/components/MarkdownArea.vue
Due: php

Remove installation step for third party dependencies from e2e setup action
  .github/actions/e2e-Setup-Composite/action.yml
Due: none

fix /grading/details missing autograding config bug
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Add installation step for third-party dependencies in e2e setup action
  .github/actions/e2e-Setup-Composite/action.yml
  .setup/testing/autograder.sh
Due: none

add it to /grading/grade
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

debug ansible
  sbin/adduser.py
Due: none

Refactor cleanup function to use shutil for copying test output files
  tests/integrationTests/tests/c_system_call_filtering/__init__.py
Due: none

test fix ansible
  sbin/adduser.py
Due: none

fix lint
  sbin/adduser.py
Due: none

finally fix ansible
  sbin/adduser.py
Due: none

huge refactor
  .setup/bin/populate_office_hours_queue.py
  .setup/bin/reupload_old_assignments.py
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/bin/sample_courses/models/course/course_generate_utils.py
  .setup/bin/sample_courses/models/gradeable.py
  .setup/bin/setup_sample_courses.py
  .setup/bin/setup_sample_emails.py
  autograder/autograder/insert_database_version_data.py
  migration/migrator/db.py
  migration/migrator/migrations/course/20180607070236_initial.py
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  migration/migrator/migrations/master/20180607070236_initial.py
  migration/migrator/migrations/master/20210714135438_add_course_groups.py
  migration/migrator/migrations/system/20190324065300_cgi_url.py
  migration/tests/test_db.py
  sbin/adduser.py
  sbin/adduser_course.py
  sbin/anonymize.py
  sbin/cleanup_old_email.py
Due: autograder, migrator

remove print and usused vars
  .setup/bin/sample_courses/models/gradeable.py
  .setup/bin/setup_sample_courses.py
Due: none

resolved no longer exists on course
  .setup/bin/sample_courses/models/course/course_data.py
Due: none

differentiate display txt output vs stream
  grading_bin/jupyter_notebook_grader.py
Due: none

Added Query for Notifications
  site/app/controllers/GlobalController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/views/HomePageView.php
  site/vue/src/components/AllNotificationsDisplay.vue
  site/vue/src/pages/HomePage.vue
Due: php

copilot suggestions
  sbin/cleanup_old_email.py
  sbin/send_email.py
Due: none

use scalar or 0
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_generate_utils.py
  autograder/autograder/insert_database_version_data.py
  sbin/cleanup_old_email.py
Due: autograder

fix some more files
  .setup/bin/setup_sample_emails.py
Due: none

update allowed system calls
  more_autograding_examples/julia_hello_world/config/config.json
Due: none

detect custom system calls
  grading/system_call_categories.cpp
  grading/system_call_check.cpp
  more_autograding_examples/julia_hello_world/config/config.json
Due: none

[Feature:Autograding] Add Julia autograding example (#11718)
  grading/system_call_categories.cpp
  grading/system_call_check.cpp
  more_autograding_examples/julia_hello_world/config/config.json
  more_autograding_examples/julia_hello_world/submissions/goodbye.julia
  more_autograding_examples/julia_hello_world/submissions/hello.julia
Due: none

Initial work to add late days to email content
  sbin/send_notification.py
  site/app/templates/NotificationSettings.twig
Due: php

Fix late days message
  sbin/send_notification.py
Due: none

Clearer notification type
  sbin/send_notification.py
Due: none
