Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fixed Button Formatting, added testids
  site/app/templates/chat/AllChatroomsPage.twig
  site/app/templates/chat/CreateChatroomForm.twig
Due: php

Added Undefined Course Handling to Email Header
  site/app/models/Email.php
Due: php

Minor Logic Improvements
  site/app/controllers/ChatroomController.php
  site/app/views/ChatroomView.php
  site/public/js/chatroom.js
Due: php

Reverted PHP
  site/app/models/DockerUI.php
  site/app/views/admin/DockerView.php
  site/tests/app/models/DockerUITester.php
Due: php

text revisions
  sbin/send_notification.py
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

edit text
  site/app/templates/NotificationSettings.twig
Due: php

Working Rate Limiter with Nginx
  .setup/nginx/submitty.conf
Due: none

render attachments in markdown and error messages
  site/app/libraries/NotebookUtils.php
Due: php

add working autograding example
  more_autograding_examples/jupyter_notebook_autograding/config/config.json
  more_autograding_examples/jupyter_notebook_autograding/config/test_input/grader.py
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/circuit.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/graph.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/histogram.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/one.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/two.png
  more_autograding_examples/jupyter_notebook_autograding/submissions/example.ipynb
  more_autograding_examples/jupyter_notebook_autograding/submissions/one.png
  more_autograding_examples/jupyter_notebook_autograding/submissions/two.png
Due: none

refactor sql queries into vue
  site/app/controllers/admin/SqlToolboxController.php
  site/app/views/admin/SqlToolboxView.php
  site/phpstan-baseline.neon
  site/public/css/sql-toolbox.css
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
  site/tests/ts/sql-toolbox.spec.js
  site/ts/sql-toolbox.ts
  site/vue/src/components/displayQueryResults.vue
  site/vue/src/components/downloadQuery.vue
  site/vue/src/components/runQuery.vue
  site/vue/src/components/sqlSchema.vue
  site/vue/src/components/sqlToolboxPage.vue
  site/vue/tsconfig.app.json
Due: php

clear output of student submission first
  more_autograding_examples/jupyter_notebook_autograding/config/test_input/grader.py
Due: none

Reimplemented Sort with JS
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

Fixed FA Icons
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

Address Jeffery's comments
  .setup/CONFIGURE_SUBMITTY.py
  migration/migrator/migrations/system/20240814131600_self_account_creation.py
  site/app/controllers/AuthenticationController.php
  site/app/entities/UnverifiedUserEntity.php
  site/app/libraries/Utils.php
  site/app/templates/CreateNewAccount.twig
  site/app/templates/VerifyEmailForm.twig
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
  site/public/css/authentication.css
  site/public/js/authentication.js
Due: php, migrator

minor touchups
  site/app/views/admin/SqlToolboxView.php
Due: php

testing get api key
  .github/workflows/api_key.yml
  .github/workflows/ci.yml
  site/cypress/e2e/Cypress-Ansible/ansible-course.spec.js
Due: none

testing get api key
  .github/workflows/api_key.yml
Due: none

improvements to UI
  site/vue/src/components/displayQueryResults.vue
  site/vue/src/components/runQuery.vue
Due: none

not use * in css
  site/vue/src/components/sqlToolboxPage.vue
Due: none

testing get api key
  .github/workflows/api_key.yml
  .github/workflows/ci.yml
  site/cypress/support/utils.js
Due: none

fix test
  site/cypress/e2e/Cypress-UI/sidebar.spec.js
  site/cypress/fixtures/more_autograding_examples
Due: none

Delete site/cypress/fixtures/more_autograding_examples
  site/cypress/fixtures/more_autograding_examples
Due: none

add mappigns
  migration/migrator/main.py
Due: migrator

test db
  migration/migrator/db.py
  migration/migrator/migrations/course/20180607070236_initial.py
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  migration/migrator/migrations/master/20180607070236_initial.py
  migration/migrator/migrations/master/20210714135438_add_course_groups.py
  migration/migrator/migrations/system/20190324065300_cgi_url.py
Due: migrator

fix tests
  migration/tests/test_handle_migration.py
Due: none

fix more stuff
  migration/migrator/main.py
  migration/tests/test_db.py
Due: migrator

Cleaned up diff, fixed cookie names
  site/public/js/docker_interface.js
Due: none

Fixing Diff
  site/app/templates/admin/Docker.twig
Due: php

Update Docker.twig
  site/app/templates/admin/Docker.twig
Due: php

Made improvements to code simplicity, made the design more mobile friendly.
  site/app/templates/chat/Chatroom.twig
  site/public/css/chatroom.css
  site/public/js/chatroom.js
Due: php

Fixed Lint
  site/public/js/docker_interface.js
Due: none

Fixed more lint
  site/public/js/docker_interface.js
Due: none

Added Minimal Test
  site/tests/app/models/EmailTester.php
Due: none

Fixed linting
  site/app/controllers/ChatroomController.php
  site/public/css/chatroom.css
  site/public/js/chatroom.js
Due: php

Create cypress test for enabling live lecture chat and creating a new lecture chat
  site/cypress/e2e/Cypress-Feature/live_lecture_chat.spec.js
Due: none

remove space
  more_autograding_examples/jupyter_notebook_autograding/config/test_input/grader.py
Due: none

More minor linting fixes
  site/app/controllers/ChatroomController.php
  site/public/js/chatroom.js
Due: php

Fixed Lint and Test
  site/tests/app/models/EmailTester.php
Due: none

Update EmailTester.php
  site/tests/app/models/EmailTester.php
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
