Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Updated gradeable dates cypress testing
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Fixed javascript linting
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Fixed course tables manually
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260220160242_allow_read_only.py
Due: migrator

Fixed edit_gradeable.spec
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Upgrade postgres?
  .github/workflows/ci.yml
Due: none

js and frontend added
  site/app/controllers/admin/ConfigurationController.php
  site/app/templates/admin/Configuration.twig
  site/public/js/admin-course-archive.js
  site/public/js/configuration.js
Due: php

modified php CICD testing to reflect change in DB course table
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
Due: none

minor fixes before PR
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/admin-course-archive.js
Due: php

[Bugfix:InstructorUI] Fix histogram bucket double-count
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/tests/unit/histogram_buckets.test.js
Due: php

Add configurable password requirements and update Change Password modal
  .setup/CONFIGURE_SUBMITTY.py
  .setup/testing/testing_submitty_config.json
  migration/migrator/migrations/system/20260220120000_add_password_requirements.py
  site/app/controllers/AuthenticationController.php
  site/app/controllers/UserProfileController.php
  site/app/libraries/Utils.php
  site/app/models/Config.php
  site/app/templates/ChangePasswordForm.twig
  site/app/templates/CreateNewAccount.twig
  site/app/views/UserProfileView.php
  site/tests/app/libraries/UtilsTester.php
Due: php, migrator

[UI/UX:System] Add global full screen mode
  site/app/templates/GlobalHeader.twig
  site/package-lock.json
  site/public/css/electronic.css
  site/public/css/server.css
  site/public/js/server.js
Due: php

Revert unintended package-lock.json changes
  site/package-lock.json
Due: none

[Bugfix:Forum] Fix OP badge on anonymous toggle
  site/app/templates/forum/CreatePost.twig
  site/public/js/server.js
Due: php

warning description fix
  site/app/templates/admin/Configuration.twig
Due: php

Fix #12405: Revert accidental IDE auto-formatting
  site/app/views/grading/ElectronicGraderView.php
Due: php

Update ThreadPostForm.twig
  site/app/templates/forum/ThreadPostForm.twig
Due: php

removed update dates on submission open
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Fix forum category release date validation (Issue #12327)
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/ShowCategories.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/package-lock.json
  site/package.json
Due: php

Address review feedback: Revert CLI config and remove SubmitBox warning
  .setup/install_system.sh
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

[Bugfix:System] Fix PHP post_max_size configuration mismatch (#11445)
  .setup/install_system.sh
  site/app/controllers/grading/ImagesController.php
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

Improve Live Chat anonymous naming: random, persistent names with # suffix
  migration/migrator/migrations/course/20250222150000_chatroom_anonymous_names.py
  migration/migrator/migrations/course/20250222150100_chatroom_anonymous_names_display_name.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Chatroom.php
  site/app/entities/chat/ChatroomAnonymousName.php
  site/app/templates/chat/ChatroomRow.twig
  site/app/views/ChatroomView.php
  site/public/js/chatroom.js
  site/public/templates/chat/ChatroomRow.twig
  vagrant
Due: php, migrator

Fix: Remove abandoned doctrine/cache package and upgrade doctrine/dbal
  site/composer.json
Due: none

Fixed cypress trying to change dates while not logged in as instructor
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Fix: Add submitty/verilog:latest to default capability
  .setup/CONFIGURE_SUBMITTY.py
Due: none

ci: add top-level permissions to all workflows for least-privilege security
  .github/workflows/bump_repo.yml
  .github/workflows/ci.yml
  .github/workflows/documentation_check.yml
  .github/workflows/first_issue_reply.yml
  .github/workflows/first_pr_open.yml
  .github/workflows/label_stale_prs.yml
  .github/workflows/localization_up.yml
  .github/workflows/move_to_in_review.yml
  .github/workflows/notify_issues.yml
  .github/workflows/notify_main_fail.yml
  .github/workflows/sort_draft_prs.yml
Due: none

Fixed student view issue
  site/app/models/gradeable/Gradeable.php
Due: php

made default generated files as footer links and login.md
  migration/migrator/migrations/system/20260218220517_make_preserve_files.py
Due: migrator

Improve variable naming and comments in difference.cpp
  grading/difference.cpp
Due: none

Fixed ta being able to view FUTURE gradeables
  site/app/models/gradeable/Gradeable.php
Due: php

Fix grading progress bar incorrectly including null section (#11450)
  site/app/libraries/database/DatabaseQueries.php
Due: php

Removed all doctrine/cache references from composer.lock
  site/composer.lock
Due: none

Fix limited access grader view submissions before grading opens (#11372)
  site/app/libraries/Access.php
Due: php

Only include verilog image for sample course setups
  .setup/CONFIGURE_SUBMITTY.py
Due: none

Add execute permissions to install_system.sh
  .setup/install_system.sh
Due: none

Fix redaction performance issues - 20-30x speedup
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
Due: none

Make password requirements mandatory from config, simplify migration down(), and add Cypress password validation tests
  migration/migrator/migrations/system/20260220120000_add_password_requirements.py
  site/app/libraries/Utils.php
  site/app/models/Config.php
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/ConfigTester.php
Due: php, migrator

Fix: Align comment indentation using spaces and restore PEP 8 function spacing
  autograder/autograder/packer_unpacker.py
Due: autograder

Fix #11535: Suppress abort alerts during Firefox page reloads
  site/public/js/forum.js
  site/vue/src/components/ta_grading/TaGradingToolbar.vue
  site/vue/src/pages/CourseNotificationsPage.vue
Due: none

Attempt to set ansible values, and specify a location
  .github/workflows/ci.yml
Due: none
