Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Attempt to set ansible values in workspace
  .github/workflows/ci.yml
Due: none

Generate install file in validate, since all places use it, and linting
  .github/workflows/ci.yml
  .setup/generate_configs.py
  .setup/set_config_permissions.py
  .setup/testing/setup.sh
  .setup/validate_configs.py
Due: none

Fix path of validate script
  .setup/set_config_permissions.py
  .setup/testing/setup.sh
Due: none

Attempt to fix styling of code, and some python linting
  .setup/generate_configs.py
  .setup/set_config_permissions.py
  .setup/validate_configs.py
Due: none

fix calling data dir in validate
  .setup/testing/setup.sh
Due: none

Remove extraneous whitespace and conflict markers
  site/vue/src/components/ta_grading/TaGradingToolbar.vue
  site/vue/src/pages/CourseNotificationsPage.vue
Due: none

Linting, and change route to remote /list
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/GradeableList.php
Due: php

removed condensed expand/collapse buttons
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/ts/twig/grading/electronic/AutogradingPanel.ts
Due: php

Styling changes, add a few comments, and remove unused ansible variables
  .github/workflows/ci.yml
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/data/configs/authentication.json
  .setup/data/configs/autograding_containers.json
  .setup/data/configs/autograding_workers.json
  .setup/data/configs/database.json
  .setup/data/configs/email.json
  .setup/data/configs/submitty.json
  .setup/data/configs/submitty_admin.json
  .setup/generate_configs.py
  .setup/install_system.sh
  .setup/set_config_permissions.py
Due: none

Fixed merge error
  site/app/templates/admin/users/RotatingSectionsForm.twig
Due: php

WIP mov csv existing user update to column-title based approach
  site/app/controllers/admin/UsersController.php
Due: php

Not yet complete but starting changes
  site/cypress/e2e/Cypress-Gradeable/gradeable_results.spec.js
Due: none

Don't require user_ids
  site/app/controllers/student/SubmissionController.php
Due: php

misc bugfixes, update usergroup even on classlist
  site/app/controllers/admin/UsersController.php
Due: php

Try to fix duplicated URL
  site/app/models/gradeable/Gradeable.php
Due: php

Testing duplicated URL
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
Due: php

Removing testing, it needed rtrim
  site/app/models/gradeable/GradeableList.php
Due: php

Remove some unneeded code, and test not making data dir
  .github/workflows/ci.yml
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/validate_configs.py
Due: none

test not making data dir
  .setup/testing/setup.sh
Due: none

Added a curly bracket in chatroom.js
  site/public/js/chatroom.js
Due: none

Fix python linting issue
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
Due: none

Fixed copilot suggestions as well as linting issue
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
Due: none

Fix: Improve clarity of rubric cancel dialog buttons (#9018)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/DiscardChangesPopup.twig
  site/app/views/grading/ElectronicGraderView.php
  site/ts/ta-grading-rubric.ts
Due: php

ci: add concurrency settings to documentation_check.yml and sort_draft_prs.yml
  .github/workflows/documentation_check.yml
  .github/workflows/sort_draft_prs.yml
Due: none

Add GitHub Action to verify migration file datestamp freshness
  .github/scripts/verify_migration_datestamp.py
  .github/workflows/verify-migration-datestamp.yml
  migration/tests/test_verify_migration_datestamp.py
Due: none

Re-add data dir
  .setup/testing/setup.sh
Due: none

Re-add data dir
  .setup/validate_configs.py
Due: none

Add stylelint rules to prohibit hardcoded CSS colors (#11224)
  site/.stylelintrc.json
Due: none

[Bugfix:InstructorUI] Fixing histogram filters (#12425)
  site/app/controllers/grading/ElectronicGraderController.php
  site/phpstan-baseline.neon
Due: php

[Bugfix:System] vagrant workers up setup fix (#12465)
  .setup/distro_setup/setup_distro.sh
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
  .setup/install_worker.sh
Due: none

[Feature:InstructorUI] Enable Read-Only Livechat (#12428)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260220160242_allow_read_only.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Chatroom.php
  site/app/templates/chat/AllChatroomsPage.twig
  site/app/templates/chat/Chatroom.twig
  site/app/templates/chat/ChatroomRow.twig
  site/app/templates/chat/CreateChatroomForm.twig
  site/app/templates/chat/EditChatroomForm.twig
  site/app/views/ChatroomView.php
  site/public/css/chatroom.css
  site/public/js/chatroom.js
  site/public/templates/chat/ChatroomRow.twig
Due: php, migrator

Remove is not defined fallback checks per review
  site/app/templates/ChangePasswordForm.twig
  site/app/templates/CreateNewAccount.twig
Due: php

Fix PHP code style (Stroustrup catch) and Cypress test assertions
  site/app/controllers/forum/ForumController.php
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

Fix JavaScript lint errors in chatroom.js
  site/public/js/chatroom.js
Due: none

Fix anonymous chat crash and DB schema dump
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20250222150100_chatroom_anonymous_names_display_name.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Chatroom.php
Due: php, migrator

Fix Copilot AI review issues: toast notification, unique constraints, varchar length, and double route
  migration/migrator/migrations/course/20250222150000_chatroom_anonymous_names.py
  migration/migrator/migrations/course/20250222150100_chatroom_anonymous_names_display_name.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Chatroom.php
  site/public/js/chatroom.js
Due: php, migrator

Fix course_tables.sql: reorder chatroom tables and make index UNIQUE
  migration/migrator/data/course_tables.sql
Due: migrator

Readd pam auth
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
Due: none

Linting, and some other fixes
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/generate_configs.py
  .setup/set_config_permissions.py
  .setup/validate_configs.py
Due: none

Changed postgres version to 14
  .github/workflows/ci.yml
Due: none
