Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update update_and_install_workers.py
  sbin/shipper_utils/update_and_install_workers.py
Due: none

Fix bug and draft test
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/searchResults.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

use contains()
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

fix lint
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

fix test failures
  site/app/templates/forum/ForumBar.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

use more data-testids and add serach to performance ignore
  site/.performance_warning_ignore.json
  site/app/templates/forum/ForumBar.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

[Bugfix:Forum] Fix and test search (#12057)
  site/.performance_warning_ignore.json
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/searchResults.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

Update admin-gradeable.css
  site/public/css/admin-gradeable.css
Due: none

fix notebook perm issue
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/libraries/FileUtils.php
Due: php

fix phpstan
  site/app/libraries/FileUtils.php
  site/phpstan-baseline.neon
Due: php

[Bugfix:InstructorUI] Notebook Permissions fix (#12060)
  site/app/controllers/admin/NotebookBuilderController.php
  site/app/libraries/FileUtils.php
  site/phpstan-baseline.neon
Due: php

[Bugfix:InstructorUI] Fix Config Editor Text Color (#12059)
  site/public/css/admin-gradeable.css
Due: none

[Bugfix:Developer] Optional Notebook Elements Fix (#12016)
  site/app/templates/notebook/Notebook.twig
Due: php

[Bugfix:Submission] Fix vue-id collision (#12010)
  site/app/libraries/Output.php
  site/app/templates/Vue.twig
Due: php

[Feature:Autograding] Add regrade_by to autograding history (#12006)
  autograder/autograder/autograding_utils.py
  autograder/submitty_autograding_shipper.py
  autograder/tests/test_write_grade_history.py
  bin/regrade.py
  site/app/controllers/student/SubmissionController.php
Due: php, autograder

Add /home to performance warning ignore
  site/.performance_warning_ignore.json
Due: none

Fix path renaming logic and cleanup empty directories.
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Added Coming Soon
  site/app/templates/grading/simple/Display.twig
  site/public/css/details.css
  site/public/css/server.css
  site/public/css/simple-grading.css
Due: php

Update simple-grading.css
  site/public/css/simple-grading.css
Due: none

fix firefox rubric
  site/public/js/gradeable.js
Due: none

Fixed Success Message
  site/app/templates/chat/ChatroomRow.twig
  site/public/js/chatroom.js
  site/public/templates/chat/ChatroomRow.twig
Due: php

[Feature:Forum] Add ability to clear live chat messages (#12008)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20250815133202_live_chat_clear.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Message.php
  site/app/templates/chat/AllChatroomsPage.twig
  site/app/templates/chat/ChatroomRow.twig
  site/cypress/e2e/Cypress-Feature/live_chat.spec.js
  site/public/js/chatroom.js
  site/public/templates/chat/ChatroomRow.twig
Due: php, migrator

[Bugfix:InstructorUI] Fix Simple Gradeable Key (#12062)
  site/app/templates/grading/simple/Display.twig
  site/public/css/details.css
  site/public/css/server.css
  site/public/css/simple-grading.css
Due: php

[Bugfix:InstructorUI] Fix Rubric Rendering on Firefox (#12063)
  site/public/js/gradeable.js
Due: none

Added Team Action Icon
  site/app/templates/Notifications.twig
  site/vue/src/components/AllNotificationsDisplay.vue
Due: php

Overhaul forum search
  site/app/controllers/forum/ForumController.php
  site/app/entities/forum/Post.php
  site/app/entities/forum/Thread.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/repositories/forum/ThreadRepository.php
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/searchResults.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

Update tests
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

Changed Implementation
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Fix lint & cypress
  site/app/views/forum/ForumThreadView.php
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/phpstan-baseline.neon
  site/public/js/forum.js
Due: php

Resolve PHP lint failure caused by whitespace.
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Deleted Commented Code, Removed Switch Statement
  site/app/controllers/HomePageController.php
  site/vue/src/components/AllNotificationsDisplay.vue
Due: php

Updated to reflect 12007 commit
  site/app/controllers/HomePageController.php
  site/vue/src/components/AllNotificationsDisplay.vue
Due: php

Update AllNotificationsDisplay.vue
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Call notification wrapper instead of query
  site/app/controllers/HomePageController.php
Due: php

Update HomePageController.php
  site/app/controllers/HomePageController.php
Due: php

Fix history navigation & categories
  site/app/templates/forum/ForumBar.twig
  site/public/js/forum.js
Due: php

eslint fix
  site/public/js/forum.js
Due: none

[Enhancement] Update minimum grading group selection handling in AdminGradeableAuto.twig and admin-gradeable-updates.js
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/public/js/admin-gradeable-updates.js
Due: php
