Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Fixing php-lint
  site/public/js/notebook_builder/widgets/widget.js
Due: none

Added error checking to image widget
  site/public/js/notebook_builder/notebook-builder-utils.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/image-widget.js
Due: none

Fixing js-lint
  site/public/js/notebook_builder/widgets/widget.js
Due: none

Fixing js-lint issues
  site/public/js/notebook_builder/notebook-builder-utils.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: none

allows users to search for a timezone quickly with an input field
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
Due: php

add checking as a function to reduce code repetition
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
Due: none

fixed php lint errors
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Update
  site/app/templates/generic/Popup.twig
  site/public/js/server.js
Due: php

Allows multiple responses from students
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240208120646_custom_answers_polls.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/phpstan-baseline.neon
  site/public/js/polls.js
Due: php, migrator

Rename
  migration/migrator/migrations/master/20240311203659_community_events_master.py
Due: migrator

Update disconnect comment
  site/app/libraries/database/AbstractDatabase.php
Due: php

Fix PHPUnit test
  site/tests/app/libraries/database/AbstractDatabaseTester.php
Due: none

fixing lint issues and added day cookie
  site/app/templates/calendar/Calendar.twig
  site/app/views/calendar/CalendarView.php
  site/public/js/calendar.js
Due: php

Move Doctrine Proxy Install
  .setup/install_submitty/install_site.sh
Due: none

[Bugfix:InstructorUI] Due date validation for isStudentSubmit
  site/app/models/gradeable/Gradeable.php
Due: php

fixed php static errors
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

Unit test fixes
  site/app/controllers/DockerInterfaceController.php
Due: php

Working custom poll options for all poll types
  migration/migrator/data/course_tables.sql
  site/app/controllers/PollController.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/public/js/polls.js
Due: php, migrator

Database dump fix
  migration/migrator/data/course_tables.sql
  site/app/entities/poll/Poll.php
  site/app/templates/polls/ViewPoll.twig
Due: php, migrator

Minor whitespace fix
  site/app/entities/poll/Poll.php
  site/app/templates/polls/ViewPoll.twig
Due: php

Removed useless container update
  site/public/js/polls.js
Due: none

remove unwanted comment
  site/app/models/gradeable/Gradeable.php
Due: php

Display Empty Team
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

Delete migration/migrator/migrations/course/20240227151048_abandon_team.py
  migration/migrator/migrations/course/20240227151048_abandon_team.py
Due: migrator

[Bugfix:TAGrading] Rendering Team IDs for graders
  site/app/views/grading/ElectronicGraderView.php
Due: php

resolved peer bug
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Bugfix:InstructorUI] Add constraints to team name (#10111)
  site/app/controllers/student/TeamController.php
  site/app/models/Team.php
  site/app/templates/grading/electronic/Details.twig
  site/app/templates/submission/EditTeamName.twig
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/TeamView.php
  site/tests/app/controllers/student/TeamControllerTester.php
Due: php

Move permission update
  .setup/install_submitty/install_site.sh
Due: none

Added view_year, view_month and view_day
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar.js
Due: php

Added Button and Function
  site/app/templates/calendar/Calendar.twig
  site/public/js/calendar.js
Due: php

Remove milliseconds
  site/app/controllers/admin/AdminGradeableController.php
Due: php

textbox default size
  site/app/templates/misc/MarkdownArea.twig
  site/public/css/forum.css
  site/public/css/markdown.css
  site/public/js/notebook_builder/widgets/markdown-widget.js
  site/public/templates/grading/OverallComment.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

Align help icon and Markdown button
  site/app/templates/forum/ThreadPostForm.twig
  site/public/css/forum.css
Due: php

Adding Enable Timer?
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/templates/polls/PollForm.twig
Due: php, migrator

Updated to account for various poll updates
  site/app/controllers/PollController.php
  site/app/templates/polls/ViewPoll.twig
Due: php

[Bugfix:Forum] Fix alignment of help icon (#10268)
  site/app/templates/forum/ThreadPostForm.twig
  site/public/css/forum.css
Due: php

[Bugfix:HelpQueue] Fix Spacing for Websocket (#10256)
  site/app/templates/officeHoursQueue/QueueHeader.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
Due: php

UI Polishing Added Labels
  site/app/controllers/PollController.php
  site/app/templates/polls/PollForm.twig
  site/public/css/polls.css
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php

Update polls.css
  site/public/css/polls.css
Due: none

Cypress and unit test fix
  site/app/controllers/DockerInterfaceController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/Docker.twig
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
  site/tests/app/controllers/DockerInterfaceControllerTester.php
Due: php
