Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

add jquery to vue project
  site/vue/tsconfig.app.json
Due: none

implement popup vue component
  site/vue/src/components/popup.vue
Due: none

refactor if/else in forum.js
  site/public/js/forum.js
Due: none

Github Action to sort draft PRs
  .github/workflows/sort_draft_prs.yml
Due: none

Fix syntax
  .github/workflows/sort_draft_prs.yml
Due: none

stop withholding thread id from CreatePost.twig
  site/app/views/forum/ForumThreadView.php
Due: php

updated the button colors
  site/app/templates/admin/NotebookBuilder.twig
  site/public/js/notebook_builder/widgets/selector-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: php

Default to all user_ids
  .setup/user_id_requirements.json
  site/app/controllers/AuthenticationController.php
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
Due: php

linting
  site/app/controllers/AuthenticationController.php
Due: php

phpstan
  site/app/controllers/AuthenticationController.php
Due: php

Dump database
  migration/migrator/data/submitty_db.sql
Due: migrator

"Submitty DB Check" -> "DB Check"
  .github/workflows/db_check.yml
Due: none

"Submitty PR Title Check" -> "PR Title Check"
  .github/workflows/pr_title_check.yml
Due: none

revert change and parse json
  site/app/controllers/admin/ReportController.php
  site/public/js/rainbow-customization.js
Due: php

update plugin version
  workers.sh
Due: none

Update Tutorial to v24.07.00
  .setup/bin/versions.sh
Due: none

[Dependency] Bump Tutorial from v23.09.00 to v24.07.00 (#10779)
  .setup/bin/versions.sh
Due: none

[Refactor:System] fix 07-july.svg (#10776)
  site/public/img/moorthy_duck/07-july.svg
Due: none

[Refactor:System] Update 03-march.svg (#10777)
  site/public/img/moorthy_duck/03-march.svg
Due: none

added multiple path for cy screenshot
  .github/workflows/submitty_ci.yml
Due: none

show diff image & suppress warning
  more_autograding_examples/qiskit_tolerance_diff/config/config.json
Due: none

stop forcing json objects
  site/app/templates/Vue.twig
Due: php

[Feature:Autograding] Qiskit autograding example (#10577)
  .setup/data/courses/development.yml
  more_autograding_examples/qiskit_circuit_draw_diff/config/config.json
  more_autograding_examples/qiskit_circuit_draw_diff/config/test_output/output_circuit.txt
  more_autograding_examples/qiskit_circuit_draw_diff/submissions/correct.py
  more_autograding_examples/qiskit_circuit_draw_diff/submissions/incorrect.py
  more_autograding_examples/qiskit_circuit_draw_diff/submissions/partially-incorrect.py
  more_autograding_examples/qiskit_tolerance_diff/config/config.json
  more_autograding_examples/qiskit_tolerance_diff/config/test_output/expected.png
  more_autograding_examples/qiskit_tolerance_diff/config/test_output/expected.txt
  more_autograding_examples/qiskit_tolerance_diff/submissions/expectation_value.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/sampling.py
Due: none

[UI/UX:Submission] Notebook Button Styling (#10768)
  site/app/templates/admin/NotebookBuilder.twig
  site/public/js/notebook_builder/builders/abstract-builder.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/selector-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: php

[Testing:TAGrading] Download Zip File (#10694)
  site/.performance_warning_ignore.json
  site/app/controllers/MiscController.php
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/cypress/e2e/Cypress-TAGrading/zip_file_download.spec.js
Due: php

ensure base for worker vms
  Vagrantfile
Due: none

remove worker connect from main install
  .setup/CONFIGURE_SUBMITTY.py
  .setup/install_system.sh
Due: none

fix old use of args provider
  generate_workers.py
Due: none

Revert "Edited error message for submission page for grading issues to display more information"
  site/app/templates/submission/homework/AutogradingResultsBox.twig
Due: php

write ssh config
  .setup/bin/refresh_vagrant_workers.py
Due: none

Add tooltip for password
  site/app/templates/CreateNewAccount.twig
  site/public/css/authentication.css
Due: php

Update 20240723131339_change_customization_name.py
  migration/migrator/migrations/course/20240723131339_change_customization_name.py
Due: migrator

rm dumb stuff
  site/public/js/rainbow-customization.js
Due: none

Remove or-block for creating non-draft PR
  .github/workflows/sort_draft_prs.yml
Due: none

[Bugfix:Submission] Improve daylight savings warning banner (#10721)
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/LateDays.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/app/templates/admin/users/MoreExtensions.twig
  site/app/templates/submission/homework/DaylightSavingsMessage.twig
  site/app/templates/submission/homework/LateDayMessage.twig
  site/app/views/submission/HomeworkView.php
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: php

[Bugfix:System] Vue hotfixes (#10780)
  site/app/templates/Vue.twig
  site/vue/tsconfig.app.json
Due: php

Submitty/Tutorial#45 has been merged so this is no longer necessary for testing
  .setup/bin/update_repos.sh
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
