Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

js lint
  site/public/js/server.js
Due: none

details for grading
  more_autograding_examples/python_qiskit_circuit_identities/config/config.json
Due: none

add wait for transition to cypress tests
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

remove unused JQuery
  site/app/templates/officeHoursQueue/QueueFooter.twig
Due: php

Use jquery
  site/public/js/grade-inquiry.js
Due: none

add back empty line
  site/public/js/grade-inquiry.js
Due: none

linting
  site/public/js/grade-inquiry.js
Due: none

[Bugfix:Forum] Auto-resizing for all reply_box (#10624)
  site/public/js/markdown.js
Due: none

remove stuff
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

Histogram
  more_autograding_examples/python_qiskit_histogram_diff_test/config/config.json
  more_autograding_examples/python_qiskit_histogram_diff_test/config/test_output/expected.png
  more_autograding_examples/python_qiskit_histogram_diff_test/submissions/expectation_value.py
  more_autograding_examples/python_qiskit_histogram_diff_test/submissions/sampling.py
Due: none

add cypress aliases for js variables
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

replace .wait with .then
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

clean cypress tests
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

add more integration tests & add to development course
  .setup/data/courses/development.yml
  more_autograding_examples/tolerance_check/submissions/extra_spaces.py
  tests/integrationTests/tests/tolerance_check/__init__.py
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_buggy.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_extra_spaces.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_fewer_spaces.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_format_flaw.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_tolerance.txt
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_extra_spaces
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_fewer_spaces
  tests/integrationTests/tests/tolerance_check/validation/results.json_extra_spaces
  tests/integrationTests/tests/tolerance_check/validation/results.json_fewer_spaces
Due: none

[Bugfix:InstructorUI] Improved score pill design (#10350)
  site/public/css/server.css
  site/public/js/server.js
Due: none

[Feature:Autograding] Tolerance check in diff validator (#8251)
  .setup/data/courses/development.yml
  bin/json_schemas/complete_config_schema.json
  grading/clean.cpp
  grading/clean.h
  grading/dispatch.cpp
  grading/dispatch.h
  grading/testResults.h
  more_autograding_examples/tolerance_check/config/config.json
  more_autograding_examples/tolerance_check/config/test_input/test_input.txt
  more_autograding_examples/tolerance_check/config/test_output/test_output.txt
  more_autograding_examples/tolerance_check/submissions/buggy.py
  more_autograding_examples/tolerance_check/submissions/extra_spaces.py
  more_autograding_examples/tolerance_check/submissions/fewer_spaces.py
  more_autograding_examples/tolerance_check/submissions/format_flaw.py
  more_autograding_examples/tolerance_check/submissions/solution.py
  more_autograding_examples/tolerance_check/submissions/tolerance.py
  tests/integrationTests/tests/tolerance_check/__init__.py
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_buggy.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_extra_spaces.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_fewer_spaces.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_format_flaw.txt
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_tolerance.txt
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_buggy
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_extra_spaces
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_fewer_spaces
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_format_flaw
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_solution
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_tolerance
  tests/integrationTests/tests/tolerance_check/validation/results.json_buggy
  tests/integrationTests/tests/tolerance_check/validation/results.json_extra_spaces
  tests/integrationTests/tests/tolerance_check/validation/results.json_fewer_spaces
  tests/integrationTests/tests/tolerance_check/validation/results.json_format_flaw
  tests/integrationTests/tests/tolerance_check/validation/results.json_solution
  tests/integrationTests/tests/tolerance_check/validation/results.json_tolerance
Due: none

[Feature:Developer] Add CI flag to setup scripts (#10640)
  .github_actions_ci_flag
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/vagrant/setup_vagrant.sh
  Vagrantfile
Due: none

[Bugfix:InstructorUI] Bulk upload not showing options (#10467)
  site/app/templates/submission/homework/SubmitBox.twig
  site/ts/grader-submission.ts
Due: php

added skip cypress test on ci
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
Due: none

Fix threshold (needs more testing)
  more_autograding_examples/python_qiskit_histogram_diff_test/config/config.json
Due: none

rm whitespace
  site/ts/grader-submission.ts
Due: none

Update migration/migrator/data/course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

reintroduce .wait with .then
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

hide clear conflicts button when the correct version isn't being shown
  site/app/templates/grading/electronic/RubricPanel.twig
Due: php

stop converting submitter id to int
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

adding timeout to cypress tests
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

add cypress testing for the clear version conflicts button
  site/cypress/e2e/Cypress-TAGrading/clearing_version_conflicts.spec.js
Due: none

fix types for change graded version database query
  site/app/libraries/database/DatabaseQueries.php
Due: php

3 s to 50 s
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
Due: none

Update EditDisplayNameOrderForm.twig
  site/app/templates/EditDisplayNameOrderForm.twig
Due: php

Delete hw08customization.json
  hw08customization.json
Due: none

Delete customization.json
  customization.json
Due: none

Delete site/tmp_customization.json
  site/tmp_customization.json
Due: none

make change graded version query accept which components to change instead of always operating on all components for a student
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/ta-grading-rubric.js
Due: php

[Bugfix:InstructorUI] URGENT Bugfix Bulk upload (#10668)
  site/ts/grader-submission.ts
Due: none

rm npm install
  .setup/SUBMITTY_TEST.sh
Due: none

rm debugging
  sbin/auto_rainbow_grades.py
Due: none

fix linting errors
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php
