Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

enabling pylinter for generate_workers.py
  .pylintrc
  pyproject.toml
  vagrant-workers/generate_workers.py
Due: none

more debug
  .github/workflows/ci.yml
Due: none

more debugging
  .github/workflows/ci.yml
Due: none

removed debug
  .github/workflows/ci.yml
Due: none

new debugging attempt
  .github/workflows/ci.yml
Due: none

removed debug and changed sed command
  .github/workflows/ci.yml
Due: none

[Bugfix:Developer] Fix more CI issues (#12857)
  .github/workflows/ci.yml
  site/app/views/PollView.php
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: php

refactor: add data-testid selectors
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/app/templates/grading/electronic/PanelSelectorModal.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_panel_switcher.spec.js
  site/vue/src/components/ta_grading/TaGradingToolbar.vue
Due: php

[Refactor:System] Enabled Pylint for generate_workers.py (#12873)
  .pylintrc
  pyproject.toml
  vagrant-workers/generate_workers.py
Due: none

[Feature:API] Get list of student's gradeables (#11532)
  site/app/controllers/UserProfileController.php
  site/app/controllers/student/SubmissionController.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
  site/cypress/e2e/Cypress-Feature/student_api.spec.js
Due: php

consolidated sed commands into a cleaner file
  .github/workflows/ci.yml
  migration/migrator/cleaner.sh
  migration/migrator/main.py
Due: migrator

fixed lints
  migration/migrator/cleaner.sh
  migration/migrator/main.py
Due: migrator

added back stripping to CI dumper
  .github/workflows/ci.yml
Due: none

trying new approach, removed sed commands
  .github/workflows/ci.yml
  migration/migrator/dumper.py
  migration/migrator/main.py
Due: migrator

moved pg_dump argument in CI
  .github/workflows/ci.yml
Due: none

added condition to check if instructor released the specific hidden test case before granting view access to student
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

update comment on changed code
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

reverted dumper.py
  migration/migrator/dumper.py
Due: migrator

reverted CI
  .github/workflows/ci.yml
Due: none

fix '==' comparison for PHP linting
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

changed initial migrations to strip restrict tokens
  .github/workflows/ci.yml
  migration/migrator/migrations/course/20180607070236_initial.py
  migration/migrator/migrations/master/20180607070236_initial.py
Due: migrator

fixed added sed command
  .github/workflows/ci.yml
Due: none

changed sed command in CI
  .github/workflows/ci.yml
Due: none

added sql
  migration/migrator/data/course_tables.sql
Due: migrator

Add explanatory placeholder text to grade inquiry reopen text box
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

"Add explanatory placeholder text to grade inquiry reopen text box
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

Add conditional logic to placeholder text for grade inquiry reopen
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

Move TotalScoreBox to Vue
  site/app/templates/grading/electronic/RubricPanel.twig
  site/ts/ta-grading-rubric.ts
  site/vue/src/components/ta_grading/Rubric.vue
  site/vue/src/components/ta_grading/RubricPanel.vue
Due: php

revised the logic
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
Due: none

Add ordereddict import
  .setup/generate_configs.py
Due: none

Fix other imports, and move permissions to separate file
  .setup/generate_configs.py
  .setup/set_config_permissions.py
Due: none

adding changes to sql files
  migration/migrator/data/course_tables.sql
Due: migrator

[Refactor:Autograding] Optimize PDF speed (#12471)
  .setup/pip/system_requirements.txt
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  sbin/submitty_daemon_jobs/submitty_jobs/regenerate_bulk_images.py
Due: none

[Bugfix:TAGrading] Fix override stats counting (#12651)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/grading/electronic/ta_status/StatusData.twig
  site/app/views/NavigationView.php
  site/app/views/grading/ElectronicGraderView.php
  site/phpstan-baseline.neon
Due: php

testing db check fix
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

trying another fix
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

almost fixed, removed whitespace at eof
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

added condition to disallow custom marks if student grader
  site/public/js/gradeable.js
Due: none

added whitespace back plus one extra line
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

removed one extra one
  migration/migrator/data/course_tables.sql
Due: migrator

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
