Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Fix style issue
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
Due: php

Create navigation-bar.css
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
  site/app/views/grading/popup_refactor/RubricGraderView.php
  site/public/css/popup_refactor/navigation-bar.css
Due: php

Handle all cases for warning messages
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/drag-and-drop.js
Due: php

Update NavigationBar css
  site/app/templates/grading/popup_refactor/NavigationBar.twig
  site/public/css/popup_refactor/navigation-bar.css
Due: php

cpp_simple_lab
  more_autograding_examples/cpp_simple_lab/config/config.json
  more_autograding_examples/cpp_simple_lab/config/config.zip
Due: none

early_submission_incentive
  more_autograding_examples/early_submission_incentive/config/config.json
Due: none

file_check
  more_autograding_examples/file_check/config/config.json
Due: none

imge_diff_mirror
  more_autograding_examples/image_diff_mirror/config/config.json
  more_autograding_examples/image_diff_mirror/config/config.zip
Due: none

Fix style issues
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
  site/app/views/grading/popup_refactor/RubricGraderView.php
Due: php

input_output_subdirectories
  more_autograding_examples/input_output_subdirectories/config/config.json
  more_autograding_examples/input_output_subdirectories/config/config.zip
Due: none

Delete @var s
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
Due: php

Fix typo
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
Due: php

Deleted unused variables for php static analysis
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
Due: php

AnalysisToolsTS v23.06.00
  .setup/bin/versions.sh
Due: none

typo
  site/app/views/forum/ForumThreadView.php
Due: php

update test
  site/tests/app/authentication/LdapAuthenticationTester.php
Due: none

[Dependency] AnalysisToolsTS v23.06.00 (#9455)
  .setup/bin/versions.sh
Due: none

Fix name_clash a bit and make the file_path show the new filename
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Fix password issue
  .setup/install_system.sh
Due: none

overwrite course materials
  site/public/js/drag-and-drop.js
Due: none

Update ForumController.php
  site/app/controllers/forum/ForumController.php
Due: php

Replace # comments with //
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
  site/app/views/grading/popup_refactor/RubricGraderView.php
Due: php

syntax error fix
  site/app/templates/grading/electronic/ta_status/StatusFilterModal.twig
Due: php

Backgoroud of Notes
  site/app/entities/calendar/CalendarItem.php
  site/app/templates/calendar/EditCalendarItem.twig
  site/app/templates/calendar/NewCalendarItem.twig
  site/public/js/calendar.js
Due: php

leadership
  more_autograding_examples/leaderboard/config/config.json
  more_autograding_examples/leaderboard/config/config.zip
Due: none

left_right_examples
  more_autograding_examples/left_right_exam_seating/config/config.json
Due: none

minimal_code_editing
  more_autograding_examples/minimal_code_editing/config/config.json
  more_autograding_examples/minimal_code_editing/config/config.zip
Due: none

multiple_pdf_annotations
  more_autograding_examples/multiple_pdf_annotations/config/config.json
Due: none

just one database.execute
  migration/migrator/migrations/master/202306205342134_add_course_and_semester_constraint.py
Due: migrator

removed extra line
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

make it to separate column
  site/app/templates/admin/users/RotatingSectionsForm.twig
Due: php

py lint fix
  migration/migrator/main.py
Due: migrator

replying thread
  site/app/controllers/forum/ForumController.php
Due: php

Add blind access modes
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
  site/app/views/grading/popup_refactor/RubricGraderView.php
Due: php

space after ===
  site/app/controllers/forum/ForumController.php
Due: php

Remove unneeded file
  site/public/css/popup_refactor/navigation-bar.css
Due: none

Copy NavigationBar.twig code
  site/app/templates/grading/popup_refactor/NavigationBar.twig
Due: php

comment out test_submission selenium test
  tests/e2e/test_submission.py
Due: none

fix packer
  autograder/autograder/packer_unpacker.py
Due: autograder

linting
  autograder/autograder/packer_unpacker.py
Due: autograder
