Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

hoho
  .github/workflows/bakri.yml
  .github/workflows/manage_do_not_merge_prs.yml
Due: none

Add alert + Revert status
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
  site/public/js/admin-gradeable-updates.js
Due: php

fix lint
  site/phpstan-baseline.neon
Due: none

fix phplint
  site/app/models/RainbowCustomizationJSON.php
Due: php

add cloc
  bin/comment_count.py
  more_autograding_examples/cpp_hidden_tests/config/config.json
Due: none

fixed late days <0
  site/app/controllers/admin/AdminGradeableController.php
Due: php

fix dropdown
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Due: php

fix text align
  site/public/css/rainbow-customization.css
Due: none

finish json -> form pipe
  site/app/templates/admin/RainbowCustomization.twig
Due: php

fix json -> form pipeline
  site/app/controllers/admin/ReportController.php
Due: php

fix eslint
  site/public/js/rainbow-customization.js
Due: none

allowClear
  site/public/js/rainbow-customization.js
Due: none

add display_rank
  site/app/models/RainbowCustomizationJSON.php
Due: php

[UI/UX:Submission] Improve Navigation Buttons (#10852)
  site/app/views/NavigationView.php
Due: php

[Bugfix:Submission] Uncaught SyntaxError (#10787)
  site/app/templates/grading/electronic/PDFAnnotationBar.twig
  site/app/templates/notebook/Notebook.twig
  site/public/js/drag-and-drop.js
Due: php

[Refactor:Developer] Move vars in board automation (#10858)
  .github/bin/board_automation_helper.sh
  .github/workflows/sort_draft_prs.yml
Due: none

Fix whitespace issue
  .setup/bin/sample_courses/models/course/__init__.py
Due: none

[Testing:TAGrading] Rubric Grading Interface (#10755)
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
  site/public/templates/grading/Component.twig
  site/public/templates/grading/GradingComponentHeader.twig
  site/public/templates/grading/GradingGradeable.twig
  site/public/templates/grading/RubricTotalBox.twig
  site/public/templates/grading/TotalScoreBox.twig
Due: none

Does this make it break?
  .setup/testing/setup.sh
Due: none

fix alias migration
  migration/migrator/migrations/system/20240726135507_refresh_vagrant_workers.py
Due: migrator

fix ssh config permissions
  .setup/bin/refresh_vagrant_workers.py
Due: none

Switch to system migration
  migration/migrator/migrations/system/20240814131600_self_account_creation.py
  site/app/controllers/AuthenticationController.php
  site/tests/app/models/UserTester.php
Due: php, migrator

[Testing:Submission] Notebook Builder And Panel Tests (#10766)
  site/app/templates/admin/NotebookBuilder.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/app/templates/misc/MarkdownArea.twig
  site/app/templates/notebook/Notebook.twig
  site/cypress/e2e/Cypress-TAGrading/notebook_section.spec.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: php

prevent duplicate gradeables
  site/public/js/rainbow-customization.js
Due: none

stop autoselecting first option
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

Update colors.css
  site/public/css/colors.css
Due: none

containerize
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

another tweak to dark green color in light mode
  site/public/css/colors.css
Due: none

[UI/UX:Autograding] Distinguish Insertion/Deletion results (#10752)
  site/app/libraries/DiffViewer.php
  site/public/css/colors.css
  site/public/css/diff-viewer.css
  site/tests/data/diffs/diff_test_01/output_actual.txt
  site/tests/data/diffs/diff_test_01/output_expected.txt
  site/tests/data/diffs/diff_test_02/output_actual.txt
  site/tests/data/diffs/diff_test_02/output_expected.txt
  site/tests/data/diffs/diff_test_03/output_actual.txt
  site/tests/data/diffs/diff_test_03/output_expected.txt
  site/tests/data/diffs/diff_test_04/output_actual.txt
  site/tests/data/diffs/diff_test_04/output_expected.txt
  site/tests/data/diffs/diff_test_05/output_actual.txt
  site/tests/data/diffs/diff_test_05/output_expected.txt
Due: php

move refresh vagrant workers to submitty install
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_system.sh
  migration/migrator/migrations/system/20240726135507_refresh_vagrant_workers.py
Due: migrator

finished cypress test
  site/app/templates/autograding/TAResults.twig
  site/app/templates/functions/Badge.twig
  site/app/templates/functions/TAResultsFunctions.twig
  site/app/templates/submission/homework/CurrentVersionBox.twig
  site/app/templates/submission/homework/TAResultsBox.twig
  site/cypress/e2e/Cypress-Feature/viewing_version_conflict.spec.js
Due: php

[Refactor:Forum] Refactor forum websockets (#9906)
  site/app/controllers/forum/ForumController.php
  site/app/views/forum/ForumThreadView.php
  site/phpstan-baseline.neon
  site/public/js/forum.js
Due: php

Remove unnecessary changes, and add instructor notification email
  site/app/controllers/course/CourseRegistrationController.php
  site/app/libraries/Access.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/HomePage.twig
  site/app/templates/admin/Configuration.twig
  site/app/templates/admin/users/RotatingSectionsForm.twig
  site/app/templates/error/NoAccessCourse.twig
  site/app/views/admin/UsersView.php
Due: php

Change to void return types
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Feature:RainbowGrades] Add Gradeable Percents to GUI (#10763)
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Due: php

fix accessibility
  site/app/templates/admin/RainbowCustomization.twig
Due: php

Remove THIS_DIR
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

disable selected gradeables
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

update comment
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

remove deprecated buttons
  site/app/templates/admin/Report.twig
  site/app/views/admin/ReportView.php
  site/ts/grade-report.js
Due: php
