Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fix
  site/public/css/calendar.css
Due: none

More removes
  site/public/css/calendar.css
Due: none

Fix last failing
  site/public/css/calendar.css
Due: none

table name changed in insert file
  autograder/autograder/insert_database_version_data.py
Due: autograder

refactor: Update equality checks for total non-hidden points to use strict comparison.
  site/app/views/NavigationView.php
Due: php

changed name of table
  migration/migrator/migrations/course/20260327174757_autograding_testcase_details.py
Due: migrator

Fix formatting and hide default popup trigger
  site/vue/src/components/chat/ChatroomFormModal.vue
  site/vue/src/components/chat/ChatroomRow.vue
  site/vue/src/pages/ChatroomListPage.vue
Due: none

removed old migration
  migration/migrator/migrations/course/20260324170815_full_autograding_testcases.py
Due: migrator

[UI/UX:Submission] Fix scroll lock (#12629)
  site/cypress/e2e/Cypress-UI/profile.spec.js
  site/public/js/user-profile.js
Due: none

Restore original tests and add non-zero depends_on_points test
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
Due: none

updated to hide option on team gradeables.
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

course dump
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

fixed course dump
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

testing new db check fix
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

removed restrict line that was breaking db check
  migration/migrator/data/submitty_db.sql
Due: migrator

removed \unrestrict
  migration/migrator/data/submitty_db.sql
Due: migrator

removed \restrict + \unrestrict from course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

added newline at end of database files
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

changed migration indexes
  migration/migrator/migrations/course/20260327174757_autograding_testcase_details.py
Due: migrator

db check new fix
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

Fix: scrolling disabled after uploading profile picture
  site/public/js/user-profile.js
Due: none

Update: improved scroll handling and validation for profile photo upload
  site/public/js/user-profile.js
Due: none

Remove redundant condition and fix codebox resize behavior
  site/app/templates/notebook/Notebook.twig
  site/public/css/gradeable-notebook.css
Due: php

Restore missing fewer_spaces test case
  tests/integrationTests/tests/tolerance_check/__init__.py
  tests/integrationTests/tests/tolerance_check/validation/STDOUT_fewer_spaces.txt
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_fewer_spaces
  tests/integrationTests/tests/tolerance_check/validation/results.json_fewer_spaces
Due: none

Fix PHPCS formatting
  site/app/controllers/MiscController.php
Due: php

Fix PHP CS formatting
  site/app/controllers/MiscController.php
Due: php

Fix non-ASCII em-dash in PHP comment to pass phpcs lint check
  site/app/libraries/database/DatabaseQueries.php
Due: php

Fixed cypress tests
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
Due: none

Fix PHP lint by casting total_non_hidden to int
  site/app/views/NavigationView.php
Due: php

Fix PHPStan warning by removing redundant non-zero check
  site/app/views/NavigationView.php
  site/phpstan-baseline.neon
Due: php

Remove down migration
  migration/migrator/migrations/course/20260325150849_sync_gradeable_notification_status.py
Due: migrator

fixing bug with future dates @12204
  site/app/models/gradeable/Gradeable.php
Due: php

changed button to read 'no file rubric grading'
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

Fix: handle invalid date format in forum category editing
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ShowCategories.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

Harden course repository sync validation
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/HomePageController.php
  site/app/controllers/admin/ConfigurationController.php
  site/public/js/configuration.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
Due: php

[UI/UX:Forum] Simplify create-thread back button wiring
  site/app/templates/forum/createThread.twig
  site/app/views/forum/ForumThreadView.php
Due: php

Stabilize Cypress autograding tutorial result wait
  site/cypress/support/electronic_gradeable_utils.js
Due: none

Add Cypress regression coverage for forum invalid category date
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ShowCategories.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: php

Revert AUTHORS.md changes
  AUTHORS.md
Due: none

Revert AUTHORS.md changes 2
  AUTHORS.md
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
