Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Added check for manual grading start date warning
  site/public/js/admin-gradeable-updates.js
Due: none

Database/UI Changes
  .claude/settings.local.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260410120000_create_block_user_action.py
  site/app/controllers/forum/ForumController.php
  site/app/libraries/Access.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/BlockUserForm.twig
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/showFullThreadsPage.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php, migrator

Update PHPStan baseline
  site/phpstan-baseline.neon
Due: none

add hidden markdown actions into overflow menu
  site/public/css/markdown.css
  site/vue/src/components/MarkdownArea.vue
Due: none

fix new thread autocomplete listing issues + autocomplete list formatting
  site/app/templates/forum/displayThreadList.twig
  site/app/views/forum/ForumThreadView.php
  site/vue/src/components/MarkdownArea.vue
Due: php

Removed date constraint
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260410171716_drop_grading_open_constraint.py
  site/app/models/gradeable/Gradeable.php
Due: php, migrator

feat: Implement cross-course notification synchronization (#11732)
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20260408120000_default_notification_settings.py
  site/app/controllers/NotificationController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/NotificationSettings.twig
  site/app/views/NotificationView.php
Due: php, migrator

[Bugfix:Forum] Keep forum stats layout stable when posts expand
  site/app/templates/forum/StatPage.twig
  site/public/js/stat-page.js
Due: php

Handle reopened PRs already in In Review
  .github/workflows/move_to_in_review.yml
Due: none

Done fixes in accordance with copilot's review
  .github/workflows/move_to_in_review.yml
Due: none

[Bugfix:Submission] Remove invalid notifications.gradeable_id query
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:Submission] Clarify disabled notification path
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:TAGrading] Fix false peer grading version conflict
  site/ts/ta-grading-rubric.ts
Due: none

[Bugfix:CourseMaterials] Instructor Course Materials Upload Limit (#12585)
  site/app/models/Config.php
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/views/course/CourseMaterialsView.php
  site/public/css/course-materials.css
  site/tests/app/models/ConfigTester.php
Due: php

Add a confirmation pop-up for do not grade this asssignment
  site/app/templates/submission/homework/CurrentVersionBox.twig
Due: php

Changes to backend implementation
  site/app/controllers/NotificationController.php
  site/app/templates/NotificationSettings.twig
  site/app/views/NotificationView.php
Due: php

Changed to just removing the upload.pdf file for mentors
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

PHP Lint fixes
  site/app/controllers/MiscController.php
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

More PHP fixes
  site/app/views/grading/ElectronicGraderView.php
Due: php

fix file view
  site/public/css/electronic.css
Due: none

Making the test more deterministic and independent of previous tests
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

Harden Cypress login URL query handling
  site/cypress/support/commands.js
Due: none

Started adding cypress test
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: none

[Feature:RainbowGrades] Add show_notes control to Rainbow Grades (#12757)
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/models/RainbowCustomizationJSON.php
  site/app/templates/admin/RainbowCustomization.twig
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
  site/public/js/rainbow-customization.js
  site/tests/app/controllers/admin/ReportControllerTester.php
Due: php

Added Cypress test
  site/app/controllers/MiscController.php
  site/app/views/grading/ElectronicGraderView.php
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: php

update ci system to now look for 102 submissions, extra submission result of install process seeing new folder added
  site/cypress/e2e/Cypress-System/autograding_status_1.spec.js
Due: none

CI fixes
  site/app/controllers/MiscController.php
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: php

Fix lint
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  site/vue/src/components/MarkSeenPopup.vue
  site/vue/src/components/NotificationsDisplay.vue
Due: none

Implement github-style kebab button for toolbar
  site/vue/src/components/MarkdownArea.vue
Due: none

Fixed link
  site/vue/src/components/Notification.vue
Due: none

Fix announcment functionality
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

Cypress test fixes
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: none

Fix kebab button formatting
  site/vue/src/components/MarkdownArea.vue
Due: none

javascript lint fix
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: none

Fix missing newline at end of colors.css
  site/public/css/colors.css
Due: none

Cleanup
  site/app/templates/forum/ShowCategories.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  size_t read(int fd, void buf[.count], size_t count);qman write
Due: php

Fixed open to grading now button
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/GradeableList.php
Due: php

Attempt at fixing backend
  site/app/controllers/NotificationController.php
Due: php

made it so apache2 is not run when workers boot.
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
  .setup/install_system.sh
Due: none

fix CI System check and update error checking
  site/app/controllers/student/SubmissionController.php
  site/cypress/e2e/Cypress-System/autograding_status_1.spec.js
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
