Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

fix it so only animation when we choose to open
  site/public/js/event-advertisements.js
Due: none

Revert "Revert "hopefully made indentations correct""
  site/app/templates/GlobalHeader.twig
Due: php

Update event-advertisements.js
  site/public/js/event-advertisements.js
Due: none

Revert "Update event-advertisements.js"
  site/public/js/event-advertisements.js
Due: none

Bad path write
  site/app/controllers/banner/BannerController.php
Due: php

make the duck be in the exact correct spot
  site/public/css/global.css
Due: none

Revert "Revert "Update event-advertisements.js""
  site/public/js/event-advertisements.js
Due: none

[UI/UX:Forum] top-duck button for forum (#9947)
  site/public/img/dark-off-duck-button.svg
  site/public/img/light-off-duck-button.svg
  site/public/img/on-duck-button.svg
Due: none

fix access control check
  site/app/controllers/banner/BannerController.php
Due: php

dump sql
  migration/migrator/data/course_tables.sql
  site/app/views/forum/ForumThreadView.php
Due: php, migrator

final changes
  site/public/js/event-advertisements.js
Due: none

Update event-advertisements.js
  site/app/controllers/banner/BannerController.php
  site/public/js/event-advertisements.js
Due: php

[Bugfix:TAGrading] Grade button and progress bar (#9979)
  site/app/models/gradeable/Gradeable.php
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/views/NavigationView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

Fix PHP errors on autograding status page
  site/app/libraries/GradingQueue.php
  site/app/templates/AutogradingStatus.twig
Due: php

Update Banner.twig
  site/app/templates/banner/Banner.twig
Due: php

Revert "Merge branch 'make-poster' of https://github.com/Submitty/Submitty into make-poster"
  site/public/js/event-advertisements.js
Due: none

[Bugfix:InstructorUI] Sort by autograding (#9991)
  site/app/models/GradingOrder.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

[Bugfix:InstructorUI] exam seating null handling (#9998)
  site/app/templates/navigation/RoomSeating.twig
  site/app/views/NavigationView.php
Due: php

Update GlobalHeader.twig
  site/app/templates/GlobalHeader.twig
Due: php

export the function, and fix javascript errors
  site/public/js/course-materials.js
Due: none

Update INSTALL_SUBMITTY_HELPER.sh
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

remove the unrelated changes
  site/app/templates/forum/CreatePost.twig
  site/app/templates/generic/Popup.twig
Due: php

[Feature:Autograding] Autograding example for Verilog (#9231)
  grading/allowed_autograding_commands_default.json
  more_autograding_examples/verilog_hello_world/config/config.json
  more_autograding_examples/verilog_hello_world/submissions/correct.v
  more_autograding_examples/verilog_hello_world/submissions/incorrect.v
Due: none

fix merge conficts and add themed duck
  site/app/templates/forum/CreatePost.twig
  site/app/views/forum/ForumThreadView.php
  site/public/img/dark-mode-off-duck.svg
  site/public/img/light-mode-off-duck.svg
  site/public/js/forum.js
Due: php

add commas
  site/public/js/course-materials.js
Due: none

small fix
  site/app/views/forum/ForumThreadView.php
  site/public/img/on-duck-button.svg
Due: php

replace grab late day function
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20231022152303_renaming_late_day_exceptions.py
  migration/migrator/triggers/course/grab_late_day_gradeables_for_user.sql
Due: migrator

delete created function
  migration/migrator/data/course_tables.sql
Due: migrator

Resolve the margin conflict with buttons
  site/app/templates/admin/SqlToolbox.twig
Due: php

migration for the data
  migration/migrator/migrations/course/20231212150903_course_materials_on_calendar.py
  site/app/entities/course/CourseMaterial.php
Due: php, migrator

Fix websocket update when someone else edits post
  site/app/controllers/forum/ForumController.php
Due: php

Address Chris's review comments
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/course/20230921190909_add_previous_rotating_section_trigger.py
  migration/migrator/migrations/master/20230916171141_add_previous_registration_section_trigger.py
Due: migrator

Change column type to 255 varchar
  migration/migrator/migrations/master/20230916171141_add_previous_registration_section_trigger.py
Due: migrator

Lint fix
  site/app/controllers/forum/ForumController.php
Due: php

whitespace removals
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/public/js/office-hours-queue.js
Due: php

update databaseQueries
  site/app/libraries/database/DatabaseQueries.php
Due: php

Update datebase dump to match migration
  migration/migrator/data/course_tables.sql
  migration/migrator/data/submitty_db.sql
Due: migrator

Change migration date to be current
  migration/migrator/migrations/course/20230921190909_add_previous_rotating_section_trigger.py
  migration/migrator/migrations/master/20230916171141_add_previous_registration_section_trigger.py
Due: migrator
