Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Create migration using command, fix test lint from merge
  migration/migrator/migrations/course/20250815133202_live_chat_clear.py
  site/cypress/e2e/Cypress-Feature/live_chat.spec.js
Due: migrator

Actually fix migration dump oops
  migration/migrator/data/course_tables.sql
Due: migrator

Added Index, Improved Styling
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20250815124030_notifications_to_user_seen_index.py
  site/vue/src/components/AllNotificationsDisplay.vue
Due: migrator

Clearer var names for socket message handler
  site/public/js/chatroom.js
Due: none

fix bulk upload
  site/app/templates/submission/homework/BulkUploadBox.twig
Due: php

Optimize query count, save singular delete for later
  site/app/controllers/ChatroomController.php
Due: php

Removed Index, Commented Out Mark All, Added Reactive Updating
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20250815124030_notifications_to_user_seen_index.py
  site/app/controllers/HomePageController.php
  site/vue/src/components/AllNotificationsDisplay.vue
Due: php, migrator

Reverting Style changes
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Revert Styling, Ad Notification Hover
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Fix Lint, Add Course to target find
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Update AllNotificationsDisplay.vue
  site/vue/src/components/AllNotificationsDisplay.vue
Due: none

Initial Commit
  site/app/controllers/HomePageController.php
  site/vue/src/components/AllNotificationsDisplay.vue
Due: php

fix vue duplicate element
  site/app/templates/Vue.twig
  site/public/templates/misc/Vue.twig
Due: php

update footer links
  README.md
  site/app/templates/GlobalFooter.twig
Due: php

Add Star Icon to Notification page
  site/app/templates/Notifications.twig
Due: php

use a better random number generator
  site/app/libraries/Output.php
  site/app/templates/Vue.twig
  site/public/templates/misc/Vue.twig
Due: php

remove previous vue changes
  site/app/templates/Vue.twig
  site/public/templates/misc/Vue.twig
Due: php

add more entropy
  site/app/controllers/HomePageController.php
  site/app/libraries/Output.php
  site/app/templates/Test.twig
  site/app/templates/notebook/Notebook.twig
Due: php

testing
  site/app/controllers/HomePageController.php
  site/app/templates/Test.twig
  site/app/templates/notebook/Notebook.twig
Due: php

more changes to output.php
  site/app/libraries/Output.php
Due: php

fix lint
  site/app/libraries/Output.php
  site/app/templates/Vue.twig
  site/app/templates/notebook/Notebook.twig
Due: php

revert stuff
  site/app/templates/Vue.twig
  site/app/templates/notebook/Notebook.twig
Due: php

[Bugfix:System] update footer links (#12011)
  README.md
  site/app/templates/GlobalFooter.twig
Due: php

[Bugfix:InstructorUI] Bulk upload toast fix (#12009)
  site/app/templates/submission/homework/BulkUploadBox.twig
Due: php

account for string source
  site/app/libraries/NotebookUtils.php
Due: php

[Bugfix:Autograding] Render Jupyter Notebook TypeError (#12013)
  site/app/libraries/NotebookUtils.php
Due: php

make misc/vue.twig use random()
  site/public/templates/misc/Vue.twig
Due: none

Refactor chatroom templates and improve success message handling
  site/app/controllers/ChatroomController.php
  site/app/templates/chat/AllChatroomsPage.twig
  site/public/js/chatroom.js
Due: php

Update old 'defaults' references
  site/tests/app/libraries/TokenManagerTester.php
Due: none

Fix lint
  site/public/js/chatroom.js
Due: none

Refactor annotation json loader out
  site/app/controllers/pdf/PDFController.php
Due: php

Add annotation ownership check to access library
  site/app/controllers/MiscController.php
  site/app/libraries/Access.php
Due: php

Remove unnecessary comment
  site/app/templates/grading/electronic/ImageAnnotationEmbedded.twig
Due: php

[Feature:System] Add verification of WebSocket pages (#11634)
  site/app/controllers/AuthenticationController.php
  site/app/controllers/ChatroomController.php
  site/app/controllers/OfficeHoursQueueController.php
  site/app/controllers/PollController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/controllers/student/GradeInquiryController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/Core.php
  site/app/libraries/TokenManager.php
  site/app/libraries/Utils.php
  site/app/libraries/socket/Server.php
  site/app/templates/polls/ViewPoll.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
  site/cypress/e2e/Cypress-Feature/live_chat.spec.js
  site/cypress/e2e/Cypress-Feature/office_hours_queue.spec.js
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-TAGrading/simple_grading.spec.js
  site/cypress/support/utils.js
  site/public/js/chatroom.js
  site/public/js/grade-inquiry.js
  site/public/js/polls.js
  site/public/js/simple-grading.js
  site/public/js/websocket.js
  site/tests/app/libraries/TokenManagerTester.php
Due: php

Remove error checking so that they show in logs
  site/app/views/ImageView.php
Due: php

Remove Whitespace
  site/app/controllers/pdf/PDFController.php
Due: php

update regrade.py
  bin/regrade.py
Due: none

fix notebook definition
  site/app/templates/notebook/Notebook.twig
Due: php

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update CalendarController.php
  site/app/controllers/calendar/CalendarController.php
Due: php
