Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

[Bugfix:Developer] Add developer CSS ignore files (#12806)
  site/.stylelintrc.json
Due: none

[Refactor:System] : Remove unused batchImportJSON function (#12710)
  site/public/js/server.js
Due: none

[Bugfix:RainbowGrades] Gradebook Format Fix (#12754)
  site/app/templates/submission/RainbowGrades.twig
Due: php

Regenerate PHPStan baseline
  site/phpstan-baseline.neon
Due: none

[Bugfix:Forum] Escape raw HTML in Markdown rendering (#12480)
  site/vue/src/components/Markdown.vue
Due: none

[Testing:InstructorUI] Legal name privacy (#12562)
  site/app/templates/EditNameForm.twig
  site/cypress/e2e/Cypress-UI/name_privacy.spec.js
Due: php

Try fixing Lint errors
  site/app/controllers/NotificationController.php
Due: php

Fixed warning message not displaying correct message
  .setup/CONFIGURE_SUBMITTY.py
  .setup/testing/testing_submitty_config.json
  migration/migrator/migrations/system/20260220120000_add_password_requirements.py
  site/app/controllers/UserProfileController.php
  site/app/templates/ChangePasswordForm.twig
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/ConfigTester.php
Due: php, migrator

added conditional to verify that the resource increase is not on a worker machine
  Vagrantfile
Due: none

Added warning message for invalid grading due date
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
Due: php

Remove extra newline in NotificationController.php
  site/app/controllers/NotificationController.php
Due: php

[Testing:Developer] Allow gradeable upload test to be re-run (#12785)
  .github/workflows/ci.yml
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
Due: none

Lint fix
  site/public/js/forum.js
Due: none

Remove DrMemory
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/versions.sh
  .setup/install_system.sh
  .setup/testing/autograder.sh
Due: none

restricts workers from running install_migrator
  .setup/install_submitty/install_migrator.sh
Due: none

Another Formatting change
  site/app/templates/NotificationSettings.twig
  site/app/templates/SyncSettingsPopup.twig
Due: php

[Bugfix:System] Vagrant workers ssh fix (#12798)
  .setup/bin/refresh_vagrant_workers.py
  .setup/install_system.sh
Due: none

Fix failing Python linting
  .setup/bin/refresh_vagrant_workers.py
Due: none

[Feature:Autograding] Remove DrMemory (#12817)
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/versions.sh
  .setup/install_system.sh
  .setup/testing/autograder.sh
Due: none

[Bugfix:Developer] Fix failing Python linting (#12818)
  .setup/bin/refresh_vagrant_workers.py
Due: none

PHP Fix
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Refactor:Developer] Increase default ram and cpus for speed (#12149)
  Vagrantfile
Due: none

Possibly final popup fix
  site/app/templates/NotificationSettings.twig
  site/app/templates/SyncSettingsPopup.twig
Due: php

Another final formatting for popup
  site/app/templates/NotificationSettings.twig
Due: php

Fixed css lint
  site/vue/src/components/Notification.vue
  site/vue/src/components/Popup.vue
  site/vue/src/components/sql_toolbox/ManageSqlQuery.vue
  site/vue/src/pages/HomePage.vue
  site/vue/src/pages/SqlToolboxPage.vue
Due: none

[Bugfix:System] Fix crash on numeric section names (#12529)
  site/app/libraries/database/DatabaseQueries.php
  site/tests/app/models/UserTester.php
Due: php

[Feature:Developer] Add stylelint support for vue files (#12807)
  site/.stylelintrc.json
  site/package-lock.json
  site/package.json
  site/vue/src/components/Notification.vue
  site/vue/src/components/Popup.vue
  site/vue/src/components/SolutionPanel.vue
  site/vue/src/components/sql_toolbox/ManageSqlQuery.vue
  site/vue/src/pages/CourseNotificationsPage.vue
  site/vue/src/pages/HomePage.vue
  site/vue/src/pages/SqlToolboxPage.vue
Due: none

fix css lint
  site/public/css/latedaystableplugin.css
Due: none

yet another minor css linting fix
  site/public/css/latedaystableplugin.css
Due: none

Address review comments
  site/ts/ta-grading-panels.ts
Due: none

css is hard ok
  site/public/css/latedaystableplugin.css
Due: none

Add Cypress test for limited access grader submission view restriction
  site/cypress/e2e/Cypress-Gradeable/limited_access_grader.spec.js
Due: none

[Bugfix:Submission] No File Rubric submit all user groups (#12812)
  site/app/controllers/student/SubmissionController.php
Due: php

Remove misc Java utils from install
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/bin/versions.sh
  .setup/install_system.sh
Due: none

[Bugfix:System] File lost when running install clean fix (#12158)
  .setup/CONFIGURE_SUBMITTY.py
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/install_system.sh
  migration/migrator/migrations/system/20260218220517_make_preserve_files.py
Due: migrator

Added warning check
  site/public/js/admin-gradeable-updates.js
Due: none

[Bugfix:Forum] Reduce Page Caching (#12339)
  site/public/index.php
Due: none

Use abbrev name, fix whitespace
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/public/css/officeHoursQueue.css
Due: php

Resolved CSS
  site/public/css/officeHoursQueue.css
Due: none
