Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

[Bugfix:SubminiPolls] Prevent Quote Escaping in Histogram
  site/app/templates/polls/ViewPoll.twig
Due: php

Updated readme.md
  README.md
Due: none

arg
  site/app/templates/GlobalHeader.twig
  site/app/templates/banner/BiggerBanner.twig
  site/app/templates/nav_content.twig
  site/app/views/GlobalView.php
  site/public/js/event-advertisements.js
  site/public/js/server.js
Due: php

Feedback fixes
  site/app/controllers/forum/ForumController.php
  site/app/entities/forum/Category.php
  site/app/entities/forum/Thread.php
Due: php

Add dynamic linking comment
  more_autograding_examples/docker_choice_of_language/config/config.json
Due: none

Fix linting, css, and js updates
  site/app/controllers/AuthenticationController.php
  site/app/libraries/Utils.php
  site/app/models/User.php
  site/app/templates/CreateNewAccount.twig
  site/app/views/AuthenticationView.php
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
  site/public/css/authentication.css
  site/public/js/authentication.js
  site/tests/app/libraries/UtilsTester.php
Due: php

Add more to Cypress test
  site/app/controllers/AuthenticationController.php
  site/app/libraries/Utils.php
  site/app/models/User.php
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
Due: php

Fix php lint and unit tests
  site/app/libraries/Utils.php
  site/tests/app/libraries/UtilsTester.php
Due: php

[Bugfix:InstructorUI] Fix Downloading Activity Link (#11238)
  site/app/controllers/admin/StudentActivityDashboardController.php
  site/app/templates/admin/users/StudentActivityDashboard.twig
  site/app/views/admin/StudentActivityDashboardView.php
  site/cypress/e2e/Cypress-Feature/student_activity_download.spec.js
Due: php

Updated ViewPoll.twig
  site/app/templates/polls/ViewPoll.twig
Due: php

Fix workflow
  .github/workflows/ci.yml
Due: none

Add unit tests for HomePageController
  site/tests/app/controllers/HomePageControllerTester.php
Due: none

php lint fix
  site/tests/app/controllers/HomePageControllerTester.php
Due: none

Removed getUserId method and replaced usage with getUser()->getId()
  site/app/authentication/AbstractAuthentication.php
  site/app/controllers/AuthenticationController.php
  site/app/controllers/ManageSessionsController.php
  site/app/controllers/student/AuthTokenController.php
  site/app/entities/Session.php
  site/app/entities/VcsAuthToken.php
  site/app/entities/course/CourseMaterial.php
  site/app/entities/course/CourseMaterialAccess.php
  site/app/entities/email/EmailEntity.php
  site/app/entities/forum/StudentFavorite.php
  site/app/entities/forum/Thread.php
  site/app/entities/forum/ThreadAccess.php
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/entities/plagiarism/PlagiarismRunAccess.php
  site/app/libraries/Core.php
  site/app/libraries/NotificationFactory.php
  site/app/libraries/SessionManager.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/EmailStatus.twig
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/tests/app/authentication/DatabaseAuthenticationTester.php
  site/tests/app/authentication/PamAuthenticationTester.php
  site/tests/app/libraries/SessionManagerTester.php
  site/tests/app/models/EmailTester.php
Due: php

fix floating points addition
  site/app/templates/admin/admin_gradeable/rubric/NumericRubric.twig
Due: php

changed maxClamp condition check
  site/public/js/simple-grading.js
Due: none

Update ViewPoll.twig
  site/app/templates/polls/ViewPoll.twig
Due: php

Remove from Core.php and update type hints
  site/app/libraries/Core.php
Due: php

Revert "Removed getUserId method and replaced usage with getUser()->getId()"
  site/app/authentication/AbstractAuthentication.php
  site/app/controllers/AuthenticationController.php
  site/app/controllers/ManageSessionsController.php
  site/app/controllers/student/AuthTokenController.php
  site/app/entities/Session.php
  site/app/entities/VcsAuthToken.php
  site/app/entities/course/CourseMaterial.php
  site/app/entities/course/CourseMaterialAccess.php
  site/app/entities/email/EmailEntity.php
  site/app/entities/forum/StudentFavorite.php
  site/app/entities/forum/Thread.php
  site/app/entities/forum/ThreadAccess.php
  site/app/entities/plagiarism/PlagiarismConfig.php
  site/app/entities/plagiarism/PlagiarismRunAccess.php
  site/app/libraries/Core.php
  site/app/libraries/NotificationFactory.php
  site/app/libraries/SessionManager.php
  site/app/models/OfficeHoursQueueModel.php
  site/app/templates/EmailStatus.twig
  site/app/templates/officeHoursQueue/CurrentQueue.twig
  site/app/templates/officeHoursQueue/QueueHistory.twig
  site/app/templates/officeHoursQueue/QueueStatus.twig
  site/tests/app/authentication/DatabaseAuthenticationTester.php
  site/tests/app/authentication/PamAuthenticationTester.php
  site/tests/app/libraries/SessionManagerTester.php
  site/tests/app/models/EmailTester.php
Due: php

Fixed lint errors in Core.php
  site/app/libraries/Core.php
Due: php

Refactor: replace .html with .text and adjust score formatting
  site/app/templates/admin/admin_gradeable/rubric/NumericRubric.twig
Due: php

remove excessive console logs
  site/public/js/ta-grading.js
Due: none

[Bugfix:TAGrading] Remove Debug logging statements (#11271)
  site/public/js/ta-grading.js
Due: none

Refactor: replace string concatenation with template literals
  site/app/templates/admin/admin_gradeable/rubric/NumericRubric.twig
Due: php

bulk upload with spaces fixed
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/FileUtils.php
Due: php

Hopefully fix lint and unit tests
  site/app/libraries/Utils.php
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/models/UserTester.php
Due: php

Fixed phpstan
  site/app/libraries/Core.php
  site/phpstan-baseline.neon
Due: php

New year!
  LICENSE.md
Due: none

Update forum.css removing hard-coded css
  site/public/css/forum.css
Due: none

[Documentation:Developer] Update License 2025 (#11304)
  LICENSE.md
Due: none

[Bugfix: Leaderboard]: Fixed access to leaderboard
  site/app/controllers/student/LeaderboardController.php
Due: php

[Bugfix: Gradeables]: Fixed 0 clamp
  site/public/js/simple-grading.js
Due: none

fix: rule-empty-line-before classes
  site/public/css/forum.css
Due: none

[Feature:InstructorUI] Add ability to delete docker imgs in UI (#8845)
  .setup/data/system_docker_containers.json
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20240219141515_docker_image.py
  sbin/shipper_utils/update_and_install_workers.py
  site/app/controllers/DockerInterfaceController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/Docker.twig
  site/app/views/admin/DockerView.php
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
  site/phpstan-baseline.neon
  site/public/js/docker_interface.js
  site/tests/app/controllers/DockerInterfaceControllerTester.php
Due: php, migrator

[Bugfix:TAGrading] Fix saving mark order (#11189)
  site/.performance_warning_ignore.json
  site/cypress/e2e/Cypress-TAGrading/rubric_editing.spec.js
  site/public/js/ta-grading-rubric.js
  site/public/templates/grading/Mark.twig
Due: none

[Documentation:Autograding] Docker Choice of Language Example (#11226)
  .setup/data/courses/development.yml
  more_autograding_examples/docker_choice_of_language/config/config.json
  more_autograding_examples/docker_choice_of_language/submissions/helloworld.c
  more_autograding_examples/docker_choice_of_language/submissions/helloworld.cpp
  more_autograding_examples/docker_choice_of_language/submissions/helloworld.rs
Due: none

[Bugfix:InstructorUI] Max Score Floating Point Add Fix (#11268)
  site/app/templates/admin/admin_gradeable/rubric/NumericRubric.twig
Due: php

changed to use http_build_query
  site/app/controllers/student/SubmissionController.php
Due: php

Fix course name and id bug
  site/app/templates/error/NoAccessCourse.twig
Due: php

Fix variable substitution in self-registration course message
  site/app/templates/error/NoAccessCourse.twig
Due: php
