Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Fix bad providers
  Vagrantfile
Due: none

remove exit
  Vagrantfile
Due: none

can now scroll down
  site/app/templates/misc/MarkdownArea.twig
Due: php

remove libvirt
  Vagrantfile
Due: none

Only on up
  Vagrantfile
Due: none

Fix grade inquiries
  site/app/controllers/admin/AdminGradeableController.php
Due: php

use single quotes
  site/app/controllers/admin/AdminGradeableController.php
Due: php

fix quotes for route
  site/app/controllers/admin/AdminGradeableController.php
Due: php

bulk upload fix
  site/app/controllers/admin/AdminGradeableController.php
Due: php

remove BASE_BOX=1 requirement
  Vagrantfile
Due: none

[Feature:Developer] Save VM after vagrant up job (#9766)
  .github/workflows/save_vm.yaml
  .setup/install_success_from_cloud.sh
  Vagrantfile
Due: none

[Refactor:Developer] Lint remaining JS files (#10102)
  site/.eslintignore
  site/.eslintrc.json
  site/public/js/admin-gradeable-updates.js
  site/public/js/drag-and-drop.js
  site/public/js/forum.js
  site/public/js/gradeable.js
  site/public/js/rainbow-customization.js
  site/public/js/server.js
  site/public/js/ta-grading-keymap.js
  site/public/js/ta-grading-rubric-conflict.js
  site/public/js/ta-grading-rubric.js
  site/public/js/ta-grading.js
  site/public/js/userform.js
Due: none

fixed websockets
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240209021641_lecture_chat.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Message.php
  site/app/libraries/socket/Server.php
  site/app/templates/chat/Chatroom.twig
  site/app/views/ChatroomView.php
  site/public/css/chatroom.css
  site/public/js/chatroom.js
Due: php, migrator

fix space
  site/app/models/gradeable/Gradeable.php
Due: php

remove space
  site/app/models/gradeable/Gradeable.php
Due: php

Fix: constrain the code box size
  site/public/css/gradeable-notebook.css
Due: none

Format css
  site/public/css/gradeable-notebook.css
Due: none

[Feature:System] Create Git Safe DIR during installation (#9659)
  .setup/install_system.sh
  migration/migrator/migrations/system/20230815125306_add_git_safe_directory.py
Due: migrator

Rename duplicate files instead of overwriting
  site/app/controllers/forum/ForumController.php
Due: php

lint fix
  site/app/controllers/forum/ForumController.php
Due: php

Fixed a small bug #10207
  site/app/views/calendar/CalendarView.php
Due: php

adding testing to main.yml install script
  ansible/roles/app_submitty/tasks/main.yml
Due: none

JS linting gradeable.js
  site/public/js/gradeable.js
Due: none

added ansible lint to test
  .github/workflows/submitty_ci.yml
Due: none

changing branch temporarily
  .github/workflows/submitty_ci.yml
Due: none

commented out everything except the linter
  .github/workflows/submitty_ci.yml
Due: none

if this doesnt work need to change to manually installing and running
  .github/workflows/submitty_ci.yml
Due: none

adding install php, ensuring cracklib not installed
  ansible/playbooks/submitty_install.yml
  ansible/roles/app_submitty/defaults/main.yml
  ansible/roles/app_submitty/files/append_to_submitty.conf
  ansible/roles/app_submitty/tasks/main.yml
Due: none

Binary string for panel info
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240219030249_peer_panel_graders.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/admin-gradeable-updates.js
Due: php, migrator

Update BannerController.php
  site/app/controllers/banner/BannerController.php
Due: php

Fixed php & js-lint
  site/app/models/gradeable/Gradeable.php
  site/public/js/admin-gradeable-updates.js
Due: php

fetch abandoned team
  migration/migrator/migrations/course/20240227151048_abandon_team.py
Due: migrator

Changes
  site/app/controllers/banner/BannerController.php
  site/app/templates/banner/UploadBannerPopup.twig
Due: php

Fixing Spacing Lint Issues
  site/app/views/forum/ForumThreadView.php
Due: php

Fix
  site/app/controllers/banner/BannerController.php
  site/public/js/server.js
Due: php

Lint Fixes
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
Due: php, migrator

Update server.js
  site/public/js/server.js
Due: none

Update course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

Fixing Unit Tests Constructor
  site/tests/app/entities/poll/PollTester.php
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
