Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

ensure is_superuser constant has a value in calendar
  site/app/templates/calendar/Calendar.twig
Due: php

fix route to php8 syntax
  site/app/controllers/calendar/CalendarController.php
Due: php

add rainbow customization to accessibility_baseline
  site/cypress/fixtures/accessibility_baseline.json
Due: none

Update ta-grading-rubric.js
  site/public/js/ta-grading-rubric.js
Due: none

fix linting
  site/public/js/ta-grading-rubric.js
Due: none

temp
  .setup/ansible/ansible.cfg
  .setup/ansible/playbooks/submitty_course_creation.yml
  .setup/ansible/playbooks/submitty_install.yml
  .setup/ansible/roles/submitty_course_add_instructor/defaults/main.yml
  .setup/ansible/roles/submitty_course_add_instructor/tasks/main.yml
  .setup/ansible/roles/submitty_course_add_user/defaults/main.yml
  .setup/ansible/roles/submitty_course_add_user/tasks/main.yml
  .setup/ansible/roles/submitty_course_creation/defaults/main.yml
  .setup/ansible/roles/submitty_course_creation/tasks/main.yml
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
  .setup/ansible/roles/submitty_term_creation/defaults/main.yml
  .setup/ansible/roles/submitty_term_creation/tasks/main.yml
Due: none

[UI/UX:InstructorUI] Fix CodeMirror size for "Notebook.twig" (#10206)
  site/app/templates/notebook/Notebook.twig
  site/public/css/gradeable-notebook.css
Due: php

[Bugfix:InstructorUI] Delete last rubric component break site (#10509)
  site/public/js/ta-grading-rubric.js
Due: none

staging changes
  .setup/ansible/playbooks/submitty_course_creation.yml
  .setup/ansible/playbooks/submitty_course_creation2.yml
  .setup/ansible/roles/submitty_course_add_instructor/tasks/main.yml
  .setup/ansible/roles/submitty_course_add_user/defaults/main.yml
  .setup/ansible/roles/submitty_course_add_user/tasks/main.yml
  .setup/ansible/roles/submitty_course_creation/defaults/main.yml
  .setup/ansible/roles/submitty_course_creation/tasks/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
  .setup/ansible/roles/submitty_term_creation/defaults/main.yml
  .setup/ansible/roles/submitty_term_creation/tasks/main.yml
Due: none

changing variable names
  .setup/ansible/playbooks/submitty_course_creation.yml
Due: none

Change API tests to Jest
  site/tests/api/student_api.spec.ts
Due: none

Fix test
  site/tests/api/student_api.spec.ts
Due: none

made text-align legal
  site/app/templates/admin/RainbowCustomization.twig
Due: php

Move time calc outside loop
  .github/bin/label_abandoned_prs.py
Due: none

remove !important
  site/public/css/select-widgets.css
Due: none

Rename variable
  .github/bin/label_abandoned_prs.py
Due: none

[Bugfix:TAGrading] Fixed title and Shortcut for Notebook (#10511)
  site/app/templates/grading/electronic/NotebookPanel.twig
  site/public/js/ta-grading.js
Due: php

[Bugfix:InstructorUI] No dark mode for select2 (#10513)
  site/public/css/select-widgets.css
Due: none

Fix function miscall issue
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/views/submission/HomeworkView.php
Due: php

save all keys in submitty.json
  .setup/CONFIGURE_SUBMITTY.py
Due: none

fix typo in access.php
  site/app/libraries/Access.php
Due: php

[Feature:System] Recently Dropped Icon (#9818)
  site/.performance_warning_ignore.json
  site/app/controllers/HomePageController.php
  site/app/controllers/SelfRejoinController.php
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/StudentList.twig
  site/app/views/admin/UsersView.php
Due: php

make resolving the rainbow grades download url slightly less hardcoded
  site/app/libraries/Access.php
Due: php

replace string concat with joinPaths
  site/app/libraries/Access.php
Due: php

move styling from twig file to css
  site/app/templates/submission/RainbowGrades.twig
  site/public/css/rainbow-grades.css
Due: php

innerHTML -> textContent
  site/app/templates/polls/ViewPoll.twig
Due: php

replace innerHTML with textContent
  site/app/templates/officeHoursQueue/SearchStudentQueue.twig
Due: php

Fix requested changes 1 and 3
  site/app/templates/calendar/Calendar.twig
  site/app/views/calendar/CalendarView.php
Due: php

rename custom_customization
  sbin/auto_rainbow_grades.py
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomizationJSON.php
Due: php

strict equality -> equality operator
  site/app/templates/calendar/Calendar.twig
Due: php

year +100 -100 to year +1 -5
  site/app/templates/calendar/Calendar.twig
Due: php

added other keyboard testing
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
  site/app/templates/misc/MarkdownArea.twig
  site/cypress/e2e/Cypress-Gradeable/hotkey.spec.js
  site/public/js/notebook_builder/widgets/form-options-widget.js
  site/public/js/notebook_builder/widgets/widget.js
Due: php

make downloading the rainbow grades csv its own route
  site/app/controllers/admin/ReportController.php
  site/app/libraries/Access.php
Due: php

Add git safe dir * for daemon
  .setup/install_system.sh
  migration/migrator/migrations/system/20240606141301_add_git_safe_dir_daemon.py
Due: migrator

changed to should
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
Due: none

update button on rainbow grades page to correct download url
  site/app/templates/submission/RainbowGrades.twig
  site/app/views/admin/ReportView.php
Due: php

fix if/else formatting
  site/app/controllers/admin/ReportController.php
Due: php

small refactors and comment
  site/app/templates/GlobalHeader.twig
Due: php

remove unneeded lines
  site/app/views/GlobalView.php
Due: php

Add script to move abandoned and non-abandoned PRs to abandoned and WIP columns in project
  .github/bin/reorganize_board.py
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
