Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Removed Unnecessary Spacing
  site/public/css/server.css
Due: none

[Bugfix:Submission] Bulk upload encode query params (#11228)
  site/app/controllers/student/SubmissionController.php
Due: php

Change values added
  site/app/controllers/superuser/GradeablesController.php
  site/app/models/gradeable/GradeableList.php
Due: php

Add home creation ansible script
  .setup/ansible/playbooks/submitty_homework_creation.yml
  .setup/ansible/roles/submitty_homework_creation/files/config_files/file_homework.json
  .setup/ansible/roles/submitty_homework_creation/files/json_list.txt
  .setup/ansible/roles/submitty_homework_creation/tasks/create_gradeable.yml
  .setup/ansible/roles/submitty_homework_creation/tasks/main.yml
Due: none

linting
  .setup/ansible/playbooks/submitty_homework_creation.yml
  .setup/ansible/roles/submitty_homework_creation/tasks/create_gradeable.yml
  .setup/ansible/roles/submitty_homework_creation/tasks/main.yml
Due: none

fixing minor database and date writing issues
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20261212150903_course_materials_on_calendar copy 3.py
  migration/migrator/migrations/course/20261212150903_course_materials_on_calendar copy 4.py
  site/app/controllers/course/CourseMaterialsController.php
  site/app/entities/course/CourseMaterial.php
  site/app/libraries/Utils.php
  site/app/templates/course/CourseMaterials.twig
  site/app/templates/course/CourseMaterialsCalendarMenu.twig
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/public/js/course-materials.js
  site/public/js/drag-and-drop.js
  site/public/js/server.js
Due: php, migrator

Try to fix git linting?
  .setup/ansible/playbooks/submitty_homework_creation.yml
Due: none

Trying to ignore sql error
  site/cypress/e2e/Cypress-Feature/superuser_email.spec.js
Due: none

Update superuser_email.spec.js
  site/cypress/e2e/Cypress-Feature/superuser_email.spec.js
Due: none

now can edit lockdate to null and post to the thread after that date
  site/app/controllers/forum/ForumController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/ThreadPostForm.twig
Due: php

Update DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

try to no check sql
  site/cypress/e2e/Cypress-Feature/superuser_email.spec.js
Due: none

fix php lint
  site/app/libraries/database/DatabaseQueries.php
Due: php

add ignore
  site/.performance_warning_ignore.json
  site/cypress/e2e/Cypress-Feature/superuser_email.spec.js
Due: none

Fix js lint and site errors
  site/.performance_warning_ignore.json
  site/cypress/support/api_testing_json.js
Due: none

Separate add_user script, and test using Cypress
  .github/workflows/ci.yml
  .setup/ansible/playbooks/submitty_course_creation.yml
  .setup/ansible/roles/submitty_add_user/tasks/main.yml
  .setup/ansible/roles/submitty_course_add_user/defaults/main.yml
  .setup/ansible/roles/submitty_course_add_user/tasks/main.yml
  .setup/ansible/roles/submitty_course_creation/defaults/main.yml
  .setup/ansible/roles/submitty_course_creation/tasks/main.yml
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
  site/cypress/e2e/Cypress-Ansible/ansible-course.spec.js
Due: none

Add comment, and change variables
  .setup/ansible/playbooks/submitty_course_creation.yml
Due: none

Change to 'human readable name'
  .github/workflows/ci.yml
Due: none

Fix ansible lint
  .setup/ansible/playbooks/submitty_homework_creation.yml
Due: none

fix indentation
  site/app/models/RainbowCustomizationJSON.php
Due: php

first refactor
  site/app/controllers/course/CourseMaterialsController.php
Due: php

leaderboard update
  site/app/views/LeaderboardView.php
Due: php

Instructor UI Optimizations
  python_submitty_utils/tests/test_notification.py
  sbin/send_notification.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/css/admin-gradeable.css
  site/public/js/admin-gradeable-updates.js
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/models/gradeable/GradeableListTester.php
Due: php

Change variable names
  .setup/ansible/playbooks/submitty_homework_creation.yml
  .setup/ansible/roles/submitty_homework_creation/tasks/create_gradeable.yml
Due: none

add in webresponse type
  site/app/views/LeaderboardView.php
Due: php

fix webresponse again
  site/app/views/LeaderboardView.php
Due: php

webresponse again
  site/app/views/LeaderboardView.php
Due: php

Improved instructor UI message
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
Due: php

Update Discussion.twig
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

Split pdf image generation into new job
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_upload_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

fix lint
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

Update site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

did necessary changes
  site/app/controllers/forum/ForumController.php
Due: php

ESLint fix
  site/public/js/admin-gradeable-updates.js
Due: none

[Feature] Implement redaction handling in PDF generation and bulk upload processes
  migration/migrator/migrations/course/20250312145730_add_redactions.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_upload_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/Redaction.php
Due: php, migrator

Fix lint
  sbin/submitty_daemon_jobs/tests/test_bulk_pdf_split.py
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/Redaction.php
Due: php

Update db dump
  migration/migrator/data/course_tables.sql
Due: migrator

Update RainbowCustomization.twig
  site/app/templates/admin/RainbowCustomization.twig
Due: php

Update rainbow-customization.css
  site/public/css/rainbow-customization.css
Due: none
