Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[UI/UX:Submission] Collapse File List (#12938)
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/public/css/submitbox.css
  site/public/js/server.js
Due: php

Merge origin/main into forum-block
  migration/migrator/data/course_tables.sql
Due: migrator

Remove .upload.pdf
  site/app/libraries/FileUtils.php
Due: php

Fixed .upload.pdf section in ElectronicGraderView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

Revert "edit python_simple_homework"
  .setup/data/courses/testing.yml
  more_autograding_examples/python_simple_homework/config/config.json
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
Due: none

Fixed typo
  site/app/views/grading/ElectronicGraderView.php
Due: php

update gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
Due: none

[Bugfix:TAGrading] Fix Locked Gradeable Spec (#12944)
  .setup/data/courses/testing.yml
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
Due: none

updated auto-open cypress test
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
Due: none

more comments and cleanup
  site/ts/ta-grading-panels-init.ts
Due: none

erroneous conditional
  site/ts/ta-grading-panels-init.ts
Due: none

[Bugfix:System] Preserve signup fields after validation errors
  site/app/controllers/AuthenticationController.php
  site/app/templates/CreateNewAccount.twig
  site/app/views/AuthenticationView.php
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
Due: php

Using the callback mapping in migration to avoid external DOM manipulation from inside the Vue component
  site/app/templates/Vue.twig
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/vue/src/callbacks.ts
  site/vue/src/components/StatusBanner.vue
  site/vue/src/main.ts
Due: php

Update tests according to the changes made + add a few edge case tests
  site/cypress/component/StatusBanner.cy.js
Due: none

Fix JS lint
  site/cypress/component/StatusBanner.cy.js
  site/vue/src/callbacks.ts
Due: none

Add gradeable specific seeding to course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
Due: none

moved banner above content area
  site/app/templates/NotificationSettings.twig
  site/public/css/notifications.css
Due: php

newline eof
  site/public/css/notifications.css
Due: none

removed whitespace line
  site/app/templates/NotificationSettings.twig
Due: php

add validation to course code
  site/app/controllers/HomePageController.php
Due: php

refactored test
  site/cypress/e2e/Cypress-Feature/sync_notification_test.spec.js
Due: none

js lint
  site/cypress/e2e/Cypress-Feature/sync_notification_test.spec.js
Due: none

borrowing from #12625
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
Due: php

Fix websocket verification execution
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
Due: none

matching #12931
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
Due: none

adding comment
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
Due: none

[Bugfix:TAGrading] Student Name Resize (#12946)
  site/ts/ta-grading-panels-init.ts
Due: none

reverted datatest-id for checkboxes, broke another spec
  site/app/templates/NotificationSettings.twig
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  site/cypress/e2e/Cypress-Feature/sync_notification_test.spec.js
Due: php

fixed suoders write & fixed vagrant workers command parsing
  .setup/install_system.sh
  .setup/install_worker.sh
  vagrant-workers/workers.py
Due: none

fix pylint
  vagrant-workers/workers.py
Due: none

remove unnecessary whitespace changes
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
  .setup/install_system.sh
Due: none

remove trailing whitespace
  vagrant-workers/workers.py
Due: none

[UI/UX:System] Add fullscreen button vue component (#12936)
  site/app/templates/chat/Chatroom.twig
  site/app/templates/forum/ForumBar.twig
  site/app/templates/grading/simple/Display.twig
  site/public/css/chatroom.css
  site/public/css/simple-grading.css
  site/vue/src/components/FullScreenButton.vue
Due: php

[Testing:Notifications] Fix grade_inquiries.spec.js (#12950)
  site/cypress/e2e/Cypress-Feature/grade_inquiries.spec.js
Due: none

[Bugfix:InstructorUI] Create Course Validation (#12949)
  site/app/controllers/HomePageController.php
Due: php

save & restore autograding_workers.json file on recreate_sample_courses
  .setup/bin/partial_reset.py
Due: none

query and initial setup
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

added to stats page
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/templates/grading/electronic/ta_status/StatusTestcaseAverages.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

php lint
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

refactor StudentList.twig to appropriately use the Vue component
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/StudentList.twig
  site/vue/src/components/ToggleColumns.vue
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
