Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Change Cypress artifacts to have unique names for each folder
  .github/workflows/ci.yml
  site/cypress/e2e/Cypress-Admin/auth_token.spec.js
  site/cypress/e2e/Cypress-Feature/discussion_post.spec.js
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_1.spec.js
  site/cypress/e2e/Cypress-TAGrading/clearing_version_conflicts.spec.js
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Due: none

Remove changes that forced cypress to fail to show new artifact names
  site/cypress/e2e/Cypress-Admin/auth_token.spec.js
  site/cypress/e2e/Cypress-Feature/discussion_post.spec.js
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_1.spec.js
  site/cypress/e2e/Cypress-TAGrading/clearing_version_conflicts.spec.js
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Due: none

Update site/app/libraries/database/DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

refactor
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/displayThreadList.twig
Due: php

Update DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix bug
  site/app/controllers/student/SubmissionController.php
Due: php

space..
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:TAGrading] Wait for promise before navigating (#10986)
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
  site/public/js/ta-grading-rubric.js
Due: none

clean up unused variables
  site/app/views/forum/ForumThreadView.php
Due: php

Copy over migration for forum attachment PK
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240924125155_doctrine_primary_keys.py
Due: migrator

code refactor using testid
  site/app/templates/EditPronounsForm.twig
  site/app/templates/GlobalHeader.twig
  site/app/templates/UserProfile.twig
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/ForumBar.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/forum/displayThreadList.twig
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
Due: php

Update pronouns_change.spec.js
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
Due: none

fix
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/templates/forum/ThreadPostForm.twig
Due: php

Switch to Submitty URLs
  more_autograding_examples/networking/config/config.json
  more_autograding_examples/networking/config/test_output/google.txt
  more_autograding_examples/networking/config/test_output/submitty.txt
  more_autograding_examples/networking/submissions/correct.url
  more_autograding_examples/networking/submissions/incorrect.url
Due: none

Adding the 2 Selectors
  site/app/templates/polls/PollForm.twig
  site/app/views/PollView.php
Due: php

Update PollForm.twig
  site/app/templates/polls/PollForm.twig
Due: php

first iteration
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableCreate.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/public/js/admin-gradeable-updates.js
Due: php

fix eslint
  site/public/js/admin-gradeable-updates.js
Due: none

[Bugfix:InstructorUI] Fix Bulk Upload by Page Count (#11001)
  site/app/controllers/student/SubmissionController.php
Due: php

[Feature:Developer] Add Archived Sample Course (#10932)
  .setup/bin/sample_courses/models/course/__init__.py
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/data/courses/archived.yml
  sbin/create_course.sh
Due: none

[Bugfix:Developer] Give Cypress Artifacts Unique Names (#11000)
  .github/workflows/ci.yml
Due: none

code style
  site/app/templates/EditPronounsForm.twig
  site/app/templates/UserProfile.twig
  site/app/templates/forum/CreatePost.twig
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
Due: php

Update displayThreadList.twig
  site/app/templates/forum/displayThreadList.twig
Due: php

fix forum in grading page
  site/app/entities/forum/Post.php
  site/app/repositories/forum/ThreadRepository.php
  site/app/views/forum/ForumThreadView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

Editing a post with date-released category
  site/app/templates/forum/EditPostForm.twig
Due: php

further discussion grading fixes
  site/app/entities/forum/Post.php
  site/app/repositories/forum/ThreadRepository.php
  site/app/views/forum/ForumThreadView.php
Due: php

Revert "Update pronouns_change.spec.js"
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
Due: none

Update GlobalHeader.twig
  site/app/templates/GlobalHeader.twig
Due: php

Updated View in Main TA Viewing
  site/public/templates/grading/GradingComponent.twig
Due: none

Making Square Sizes Consistent with Original
  site/public/templates/grading/GradingComponent.twig
Due: none

ta grading histograms missing in some cases
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/grading/electronic/AutogradingPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/js/ta-grading.js
Due: php

Update forums.spec.js
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

run phpcbf
  site/app/controllers/forum/ForumController.php
  site/app/entities/forum/Category.php
  site/app/entities/forum/Post.php
  site/app/entities/forum/PostHistory.php
  site/app/entities/forum/ThreadAccess.php
  site/app/repositories/forum/ThreadRepository.php
  site/app/views/forum/ForumThreadView.php
Due: php

fix
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/rubric/CheckpointsRubric.twig
  site/public/js/admin-gradeable-updates.js
Due: php

Update PollView.php
  site/app/views/PollView.php
Due: php

applied Ryan change + fixed WS
  site/app/views/PollView.php
Due: php
