Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Testing:InstructorUI] Added Cypress test for locked gradeable (#11364)
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/bin/sample_courses/models/gradeable.py
  .setup/data/courses.yml
  .setup/data/courses/testing.yml
  site/.performance_warning_ignore.json
  site/app/templates/submission/homework/SubmitBox.twig
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
Due: php

[Refactor:Developer] Remove magic methods from Button.php (#11642)
  site/app/models/Button.php
Due: php

add in courses to setup arguments
  .setup/bin/recreate_sample_courses.sh
Due: none

Fix default value warning in toggleColumns.vue
  site/vue/src/components/toggleColumns.vue
Due: none

bug fix when only one missing image (duplicates error)
  autograder/autograder/execution_environments/container_network.py
  site/app/templates/submission/homework/AutogradingResultsBox.twig
Due: php, autograder

remove import
  autograder/autograder/execution_environments/container_network.py
Due: autograder

fix py lint
  autograder/autograder/execution_environments/container_network.py
Due: autograder

Refactor: Replace deprecated property access with method calls in repository classes
  site/app/repositories/SessionRepository.php
  site/app/repositories/VcsAuthTokenRepository.php
  site/app/repositories/banner/BannerImageRepository.php
  site/app/repositories/email/EmailRepository.php
  site/app/repositories/forum/PostRepository.php
  site/app/repositories/forum/ThreadRepository.php
  site/app/repositories/poll/OptionRepository.php
  site/app/repositories/poll/PollRepository.php
Due: php

add cypress autograding directory
  .github/actions/e2e-Setup-Composite/action.yml
  .github/workflows/ci.yml
  site/cypress/e2e/Cypress-Autograding/test_course.spec.js
Due: none

actually add the autograding to the container
  .github/workflows/ci.yml
Due: none

change ordering of flags and courses
  .github/actions/e2e-Setup-Composite/action.yml
Due: none

actually use this development course this time
  .github/workflows/ci.yml
Due: none

Update title's to objects with inner text properties for rendering measures
  site/app/templates/grading/electronic/ta_status/GradingHistogram.twig
  site/app/templates/grading/electronic/ta_status/Scatterplot.twig
  site/app/templates/grading/electronic/ta_status/StatusComponentAverages.twig
  site/app/templates/polls/ViewPoll.twig
Due: php

finish most of the changes, need to debug everything
  .setup/bin/populate_office_hours_queue.py
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/bin/sample_courses/models/course/course_generate_utils.py
  .setup/bin/setup_sample_courses.py
  .setup/bin/setup_sample_emails.py
  autograder/autograder/insert_database_version_data.py
  bin/generate_repos.py
  migration/migrator/db.py
  migration/migrator/main.py
  migration/migrator/migrations/course/20180607070236_initial.py
  migration/migrator/migrations/course/20210610100802_course_materials_json_to_db.py
  migration/migrator/migrations/master/20180607070236_initial.py
Due: autograder, migrator

[Dependency] Update nikic/php-parser to version v4.19.1 in composer.json and composer.lock
  site/composer.json
  site/composer.lock
Due: none

default dates for development course
  .setup/bin/sample_courses/models/gradeable.py
  .setup/data/courses.yml
  .setup/data/courses/development.yml
Due: none

verified that courses exist
  site/app/templates/submission/homework/LoadMessagePage.twig
  site/cypress/e2e/Cypress-Autograding/development_courses.spec.js
  site/cypress/e2e/Cypress-Autograding/test_course.spec.js
  site/cypress/e2e/README.md
Due: php

Refactor type hints in Gradeable model and update parameter types in related methods
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/student/SubmissionController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/Gradeable.php
  site/phpstan-baseline.neon
Due: php

Update setDependsOn and setDependsOnPoints methods to accept nullable types
  site/app/models/gradeable/Gradeable.php
Due: php

[DevDependency] Bump phpunit to 10 (#11650)
  site/app/models/User.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/composer.json
  site/composer.lock
  site/phpunit.xml
  site/tests/BaseUnitTest.php
  site/tests/app/controllers/MiscControllerTester.php
  site/tests/app/controllers/admin/SqlToolboxControllerTester.php
  site/tests/app/controllers/admin/UsersControllerTester.php
  site/tests/app/controllers/course/CourseMaterialsControllerTester.php
  site/tests/app/controllers/student/SubmissionControllerTester.php
  site/tests/app/controllers/student/TeamControllerTester.php
  site/tests/app/libraries/AccessTester.php
  site/tests/app/libraries/CodeMirrorUtilsTester.php
  site/tests/app/libraries/DateUtilsTester.php
  site/tests/app/libraries/DiffViewerTester.php
  site/tests/app/libraries/FileUtilsTester.php
  site/tests/app/libraries/GradeableTypeTester.php
  site/tests/app/libraries/NumbersUtilsTester.php
  site/tests/app/libraries/UtilsTester.php
  site/tests/app/libraries/database/AbstractDatabaseQueriesTester.php
  site/tests/app/libraries/database/AbstractDatabaseTester.php
  site/tests/app/libraries/database/DatabaseFactoryTester.php
  site/tests/app/libraries/database/DatabaseUtilsTester.php
  site/tests/app/libraries/database/PostgresqlDatabaseTester.php
  site/tests/app/libraries/database/QueryIdentifierTester.php
  site/tests/app/libraries/routers/AccessControlTester.php
  site/tests/app/libraries/routers/WebRouterTester.php
  site/tests/app/models/ConfigTester.php
  site/tests/app/models/DisplayImageTester.php
  site/tests/app/models/DockerUITester.php
  site/tests/app/models/UserTester.php
  site/tests/app/models/gradeable/LateDaysTester.php
  site/tests/phpstan/ModelClassExtensionTester.php
  site/tests/utils/HighestVersion.php
  site/tests/utils/MaxSize.php
  site/tests/utils/NumParts.php
Due: php

fix autograding tests
  site/cypress/e2e/Cypress-Autograding/development_courses.spec.js
Due: none

add comment specifying time limit gradeable
  site/cypress/e2e/Cypress-Autograding/development_courses.spec.js
Due: none

Fix manual vs. autograding vs. overall histogram bucket sizes for gradeable statistics
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
Due: php

Parse float refactoring
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
Due: php

Handle missing DOM element in bucket size verification
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
Due: php

Initial Restart Autograding Cron Job
  .setup/INSTALL_SUBMITTY_HELPER.sh
  .setup/submitty_crontab
  .setup/submitty_sudoers
  sbin/repair_autograding.sh
  sbin/repair_services.sh
Due: none

Fix Accessibility Cypress Tests
  site/app/templates/grading/electronic/ta_status/StatusBase.twig
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

Reset Discussion.twig changes
  site/app/templates/submission/grade_inquiry/Discussion.twig
Due: php

Pass Ansible Install
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
Due: none

Working restart primary / remote shippers and workers
  sbin/repair_autograding.sh
Due: none

Improved error logging
  sbin/repair_autograding.sh
Due: none

Sudo user file flushness
  .setup/submitty_sudoers
Due: none

Update install_system.sh
  .setup/install_system.sh
Due: none

Reordered Params
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
Due: none

Revert "Reordered Params"
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/ansible/roles/submitty_install/tasks/main.yml
Due: none

Changed Orders
  .setup/ansible/roles/submitty_install/defaults/main.yml
  .setup/install_system.sh
Due: none

Fixed Lint
  site/app/controllers/forum/ForumController.php
  site/public/js/forum.js
Due: php

fix nullability
  site/app/models/gradeable/Gradeable.php
Due: php

autograding-cpp-example
  site/app/templates/autograding/AutoResults.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/cypress/e2e/Cypress-Autograding/cpp_cats.spec.js
  site/cypress/fixtures/cpp_cats_submissions/allCorrect.zip
  site/cypress/fixtures/cpp_cats_submissions/extraLinesAtEnd.zip
Due: php

[Refactor] Update resizable panels JS inclusion to use internal module method
  site/app/views/admin/PlagiarismView.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
