Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Add more access roles
  site/app/controllers/admin/AdminGradeableController.php
Due: php

[Bugfix:CI] Fix invalid port 1511 in Cypress CI failure check
  .github/workflows/ci.yml
Due: none

Fix WebSocket reconnect args loss and add reconnect UI option (#13369)
  site/app/templates/GlobalHeader.twig
  site/public/js/websocket.js
Due: php

Refresh WebSocket token cookie before reconnecting (#13369)
  site/public/js/websocket.js
Due: none

Fix trailing blank lines in websocket.js (#13369)
  site/public/js/websocket.js
Due: none

[Bugfix:Notifications] Update DOM badge selector and reset unseen count in markSeen
  site/vue/src/components/NotificationsDisplay.vue
Due: none

[Bugfix:Forum] Update empty thread list
  site/app/templates/forum/showFullThreadsPage.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/public/js/forum.js
Due: php

[Bugfix:Chat] Standardize read-only badge text
  site/cypress/e2e/Cypress-Feature/live_chat.spec.js
  site/public/templates/chat/ChatroomRow.twig
Due: none

[Feature:TAGrading] Custom grading sort (#13123)
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260928120000_add_gradeable_custom_sort.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/GradingOrder.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCustomSort.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableCustomSortUploadForm.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/public/js/admin-gradeable-custom-sort.js
Due: php, migrator

[SECURITY][Bugfix:InstructorUI] Security Improvment (#13387)
  site/app/controllers/student/TeamController.php
Due: php

[Bugfix:TAGrading] Skip withdrawn students in grading navigation
  site/app/models/GradingOrder.php
Due: php

[Bugfix:TAGrading] Respect hide withdrawn setting in grading navigation
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/GradingOrder.php
Due: php

[Bugfix:TAGrading] Grading state out of cookies
  site/public/js/simple-grading.js
  site/ts/ta-grading-panels-init.ts
  site/ts/ta-grading.ts
Due: none

[Bugfix:CourseMaterials] Folder state in localStorage
  site/app/templates/course/CourseMaterials.twig
Due: php

[Bugfix:System] Filter websocket cookies
  .setup/nginx/submitty.conf
Due: none

[Bugfix:Site] Fix WebSocket reconnect parameter loss (#13369)
  site/app/templates/GlobalHeader.twig
  site/public/js/websocket.js
Due: php

[Feature:TAGrading] Auto-open PDF/images
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
  site/ts/ta-grading-panels-init.ts
  site/ts/ta-grading.ts
Due: none

[Bugfix:TAGrading] Fix image annotator zoom
  site/app/templates/grading/electronic/FileView.twig
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
  site/ts/ImageAnnotationEmbedded.ts
  site/ts/ta-grading.ts
Due: php

[Bugfix:Notifications] Grade inquiry icon
  site/vue/src/components/Notification.vue
Due: none

Look up the auto-open file with a selector
  site/ts/ta-grading-panels-init.ts
Due: none

[Bugfix:TAGrading] Scope image zoom to submission panel
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
  site/ts/ImageAnnotationEmbedded.ts
  site/ts/ta-grading.ts
Due: none

[Refactor:TAGrading] Share annotated image restore
  site/ts/ImageAnnotationEmbedded.ts
Due: none

[Feature:TAGrading] Match auto-open files by path
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
  site/ts/ta-grading-panels-init.ts
  site/ts/ta-grading.ts
Due: none

[Bugfix:TAGrading] Fix rubric PDF page jump
  site/public/js/pdf/PDFEmbedded.js
  site/ts/ta-grading-rubric.ts
Due: none

[Bugfix:Submission] Fix Submit All in bulk upload
  site/app/templates/submission/homework/BulkUploadBox.twig
  site/public/js/drag-and-drop.js
Due: php

Address review: fix widgets_array corruption on failed render, rework flaky test
  site/cypress/e2e/Cypress-Gradeable/notebook_builder.spec.js
  site/public/js/notebook_builder/builders/abstract-builder.js
Due: none

[Testing:TAGrading] Use a zoom test image under the upload limit
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
  site/cypress/fixtures/sea_animals.jpg
Due: none

[Testing:TAGrading] Open the files panel before checking Auto open
  site/cypress/e2e/Cypress-Feature/files_panel.spec.js
Due: none

[Bugfix:TAGrading] Scroll the PDF pane that actually scrolls
  site/public/js/pdf/PDFEmbedded.js
  site/ts/ta-grading-rubric.ts
Due: none

add reason for early submission extension
  bin/calculate_extensions.cpp
Due: none

[Feature:Autograding] reason for early submission extension (#13410)
  bin/calculate_extensions.cpp
Due: none

[Feature:SubminiPolls] Live poll index counts
  site/app/controllers/PollController.php
  site/app/libraries/Utils.php
  site/app/repositories/poll/PollRepository.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/public/js/polls.js
  site/tests/app/libraries/UtilsTester.php
Due: php

[UI/UX:TAGrading] Fix mobile annotation buttons
  site/public/css/image/image_annotation.css
Due: none

Fix missing access control annotations
  site/app/controllers/ChatroomController.php
  site/app/controllers/DockerInterfaceController.php
  site/app/controllers/calendar/CalendarController.php
  site/app/controllers/forum/ForumController.php
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

[Testing:Developer] Add YAML lint (#13301)
  .setup/Dockerfile
  .setup/SUBMITTY_TEST.sh
  .yamllint
Due: none

[Bugfix:TAGrading] Keep file view header in view
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/public/css/electronic.css
  site/ts/ta-grading.ts
Due: php
