Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

[Bugfix:Testing] Revert leaderboard Cypress test (#12704)
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
Due: none

Fixed more unintended changes
  .github/workflows/ci.yml
  migration/migrator/data/course_tables.sql
Due: migrator

Added warning message for due date conflict
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
Due: php

Re-add doctrine regeneration, and fix most of shellcheck
  .setup/install_submitty/copy_site.sh
Due: none

[Refactor:System] Remove unnecessary setup script commits (#12691)
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/bin/sample_courses/models/course/course_generate_utils.py
Due: none

Ignore relative shellcheck test
  .setup/install_submitty/copy_site.sh
Due: none

[Bugfix:InstructorUI] Fixed Released Date When Uploading (#12699)
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
Due: php

Fix shellcheck comment
  .setup/install_submitty/copy_site.sh
Due: none

removed csrfToken
  site/app/templates/admin/users/RotatingSectionsForm.twig
Due: php

Fix flaky test: use clear() before type and simplify field checks
  site/cypress/e2e/Cypress-System/self_account_creation.spec.js
Due: none

Use standard sortable headers on forum stats table
  site/app/templates/forum/StatPage.twig
  site/public/js/stat-page.js
Due: php

properly commented the changed
  site/vue/src/components/MarkdownArea.vue
Due: none

Fix in Showcategories.twig
  site/app/templates/forum/ShowCategories.twig
Due: php

[Bugfix:Forum] Fix limited grader access checks
  site/app/controllers/forum/ForumController.php
  site/app/views/forum/ForumThreadView.php
Due: php

issues fixing..
  site/app/controllers/forum/ForumController.php
  site/app/controllers/student/LeaderboardController.php
  site/public/css/sidebar.css
  site/public/js/forum.js
Due: php

[Bugfix:Forum] Add regression test for forum stats deleted-only users
  site/tests/app/controllers/forum/ForumControllerTester.php
Due: none

[Bugfix:Forum] Clarify forum stats show posts label
  site/app/templates/forum/StatPage.twig
Due: php

Fix placeholder text in VCS submission instructions #12681
  site/app/templates/submission/homework/SubmitBox.twig
Due: php

[Bugfix:Forum] Fix eslint errors in forum.js and server.js
  site/public/js/forum.js
  site/public/js/server.js
Due: none

Fixed Padding
  site/public/css/forum.css
Due: none

[Refactor:System] Only chmod on vendor directory changes (#12692)
  .setup/install_submitty/install_site.sh
Due: none

Fix PHP lint and Fix Cypress timeout on leaderboard date update
  site/app/views/forum/ForumThreadView.php
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
Due: php

Fix JS lint
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
Due: none

Fix setting button 2 pixel alignment and font
  site/vue/src/components/NotificationsDisplay.vue
Due: none

Fix cyress tests
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
Due: none

Combine legal name privacy tests into single it block
  site/cypress/e2e/Cypress-UI/name_privacy.spec.js
Due: none

Add styles for markdown area and toolbar
  site/public/css/markdown.css
Due: none

[Bugfix:TAGrading] Fix comment box formatting on narrow panel (#12712)
  site/public/css/markdown.css
Due: none

[Bugfix:Forum] Fix thread preview overflow and layout issue
  site/public/css/forum.css
Due: none

Refactor: Using chardet and simpler decoding logic
  grading/python/submitty_router.py
Due: none

[Bugfix:Forum] Remove unnecessary comments from CSS
  site/public/css/forum.css
Due: none

[Bugfix:Poll] Fix poll layout overflow and text wrapping (#10899)
  site/public/css/polls.css
Due: none

[Bugfix:Autograding] Fix regrade team detection
  bin/regrade.py
Due: none

Fix course repo tests and clean unrelated diff
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/bin/sample_courses/models/course/course_create_gradeables.py
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/bin/sample_courses/models/course/course_generate_utils.py
  .setup/install_submitty/install_site.sh
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260324214652_drop_open_submission_constraint.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Gradeable.php
  site/app/models/gradeable/GradeableList.php
  site/app/templates/admin/admin_gradeable/AdminGradeableDates.twig
  site/cypress/e2e/Cypress-Gradeable/edit_gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable_upload.spec.js
  site/cypress/e2e/Cypress-Gradeable/leaderboard_gradeable.spec.js
  site/public/js/admin-gradeable-updates.js
  site/public/js/submission-page.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: php, migrator

Updated controller to prevent bad requests
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Grep out restrict lines and update postgresql-client to 14
  .github/workflows/ci.yml
Due: none

Sorting before comparing
  .github/workflows/ci.yml
Due: none

Remove leading whitespace
  .github/workflows/ci.yml
Due: none

Changes colors to match by getting rid of the modulo
  site/app/templates/admin/Docker.twig
Due: php
