Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Fix how peer condition is determined
  site/app/controllers/MiscController.php
Due: php

adduser.py now uses venv as interpreter
  sbin/adduser.py
Due: none

changing interpreter of adduser_course.py
  sbin/adduser_course.py
Due: none

Add delete a peer graders grade
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

Fix JS lint
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

Use popup.vue to extend component and fix tests accordingly
  site/cypress/component/PanelSelectorModal.cy.js
  site/vue/src/components/ta_grading/PanelSelectorModal.vue
Due: none

Clear unneeded check
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

Clear trailing space
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

uas json still accessible when student has cancelled submission
  site/app/libraries/Access.php
Due: php

initial commit
  .setup/bin/versions.sh
Due: none

added activate to install_migrator
  .setup/install_submitty/install_migrator.sh
Due: none

added fetch for nlohmann
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

Fix Cypress CT by adding data-testid
  site/vue/src/components/ta_grading/PanelSelector.vue
  site/vue/src/components/ta_grading/PanelSelectorModal.vue
Due: none

reverting gradeable wide option to disallow clustering feature, did course-wide instead
  autograder/tests/data/config_files/config.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260723164300_is_clustering_allowed.py
  migration/migrator/migrations/course/20260724000000_submission_clustering_enabled.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/controllers/admin/ConfigurationController.php
  site/app/controllers/grading/GradingClusterController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Config.php
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/Configuration.twig
  site/app/templates/admin/admin_gradeable/rubric/ElectronicFileRubric.twig
  site/app/views/grading/ElectronicGraderView.php
  site/config/course_template.json
  site/cypress/e2e/Cypress-TAGrading/grading_clustering.spec.js
  site/tests/app/controllers/admin/ConfigurationControllerTester.php
  site/tests/app/controllers/grading/GradingClusterControllerTester.php
  site/tests/app/models/ConfigTester.php
Due: php, migrator

Migration dump and add create index
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260717102400_create_forum_blocked_user.py
Due: migrator

fix js line, fixed GradingClusterControllerTester.php
  site/cypress/e2e/Cypress-TAGrading/grading_clustering.spec.js
  site/tests/app/controllers/grading/GradingClusterControllerTester.php
Due: none

moved logic into main twig file
  site/app/templates/admin/RainbowBuildNotice.twig
  site/app/templates/admin/RainbowCustomization.twig
Due: php

Add second execution
  migration/migrator/migrations/course/20260717102400_create_forum_blocked_user.py
Due: migrator

[Testing:InstructorUI] Add Cypress for Manage Teams (#13043)
  site/.performance_warning_ignore.json
  site/app/templates/admin/users/StudentList.twig
  site/app/templates/admin/users/UserForm.twig
  site/app/templates/submission/Team.twig
  site/cypress/e2e/Cypress-Feature/manage_teams.spec.js
Due: php

[Feature:TAGrading] Instructor Peer Component Handling (#13070)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/EditPeerComponentsForm.twig
  site/app/templates/grading/electronic/PeerPanel.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/electronic.css
  site/public/js/gradeable.js
  site/public/templates/grading/PeerComponent.twig
  site/ts/ta-grading.ts
Due: php

[Bugfix:Testing] Peer Download Own Submission (#13083)
  site/app/controllers/MiscController.php
Due: php

trying to fix course issue
  .setup/install_submitty/install_migrator.sh
  migration/run_migrator.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

Add testid where possibly, and remove check of visibility
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

updated to render in twig
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

not sure this is working
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
Due: autograder

pass args as an object to pass CI
  site/app/templates/grading/electronic/PanelSelectorModal.twig
  site/cypress/component/PanelSelectorModal.cy.js
  site/vue/src/components/ta_grading/PanelSelectorModal.vue
Due: php

fix UI and CI
  site/app/templates/grading/electronic/Details.twig
  site/public/js/details.js
Due: php

adding description for each algorithm
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/entities/grading_cluster/GradingClusterAlgorithm.php
  site/vue/src/components/CreateClustersModal.vue
Due: php

fix php lint,js lint, shifted the Vue component inside ta_grading folder
  site/app/entities/grading_cluster/GradingClusterAlgorithm.php
  site/app/templates/grading/electronic/Details.twig
  site/cypress/component/CreateClustersModal.cy.js
  site/vue/src/components/ta_grading/CreateClustersModal.vue
Due: php

fix js lint again
  site/vue/src/components/ta_grading/CreateClustersModal.vue
Due: none

fix js lint warning
  site/vue/src/components/ta_grading/CreateClustersModal.vue
Due: none

Remove unneeded conditional
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

jslint
  site/public/js/rainbow-customization.js
Due: none

[Feature:RainbowGrades] Gradebook choose sorted table (#13014)
  sbin/auto_rainbow_grades.py
  site/app/controllers/admin/ReportController.php
  site/app/templates/submission/RainbowGrades.twig
  site/app/views/admin/ReportView.php
  site/public/css/rainbow-grades.css
Due: php

fix pdfs.spec.js
  site/cypress/e2e/Cypress-UI/pdfs.spec.js
  site/public/js/testcase-output.js
Due: none

Update details.js
  site/public/js/details.js
Due: none

Revert "fix pdfs.spec.js"
  site/cypress/e2e/Cypress-UI/pdfs.spec.js
  site/public/js/testcase-output.js
Due: none

Update pdfs.spec.js
  site/cypress/e2e/Cypress-UI/pdfs.spec.js
Due: none

Add missing assignment settings warning
  site/app/templates/grading/electronic/SubmissionPanel.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

update print statements
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
Due: autograder
