Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

style: remove blank line formatting in NotificationsDisplay.vue
  site/vue/src/components/NotificationsDisplay.vue
Due: none

Do not send notifications when only updating thread categories (#13366)
  site/app/controllers/forum/ForumController.php
Due: php

[Refactor:System] Shrink shellcheck ignore list (#13323)
  .setup/bin/recreate_sample_courses.sh
  .setup/bin/versions.sh
  .setup/bootstrap.sh
  .setup/distro_setup/debian/8/setup_distro.sh
  .setup/distro_setup/ubuntu/16.04/setup_distro.sh
  .setup/distro_setup/ubuntu/18.04/setup_distro.sh
  .setup/distro_setup/ubuntu/20.04/setup_distro.sh
  .setup/distro_setup/ubuntu/22.04/setup_distro.sh
  .setup/testing/before_install.sh
  .setup/testing/print_debug.sh
  .setup/testing/setup_ldap.sh
  .setup/testing/setup_test_suite.sh
  .setup/update_system.sh
  .setup/vagrant/db_users.sh
  .setup/vagrant/setup_ldap.sh
  .shellcheckignore
  sbin/build_course.sh
Due: none

[Testing:Developer] Error on incorrect eslint directives (#13358)
  site/eslint.config.mjs
Due: none

a
  .gitignore
  multipass/README.md
  multipass/down.sh
  multipass/up.sh
Due: none

Prevent homework cleanup permission failure
  bin/build_homework_function.sh
Due: none

[Bugfix:TAGrading] Peer graders should never see grade inquiries (#13355)
  site/app/templates/grading/electronic/Details.twig
Due: php

Tolerate missing transient files during VCS repo permissions setup
  bin/generate_repos.py
Due: none

remove /flat from import statement
  site/eslint.config.mjs
Due: none

Add retries for PPA update and package installation in CI setup
  .github/actions/e2e-Setup-Composite/action.yml
Due: none

Configure system-wide APT retries before PHP setup
  .github/actions/e2e-Setup-Composite/action.yml
Due: none

Pin postgres:14 and specify explicit user/db in health checks
  .github/workflows/ci.yml
Due: none

Add retry loop and diagnostics to VM image validation step
  .github/workflows/save_vm.yaml
  .github/workflows/vagrant_up.yaml
Due: none

Register tutorial docker images under default capability in autograding_containers.json
  .setup/bin/sample_courses/models/course/course_create.py
Due: none

fix(test): isolate argument-driven Twig lint
  .setup/SUBMITTY_TEST.sh
  site/composer.json
Due: none

Set PGUSER, PGDATABASE, and PGPASSWORD env vars in Cypress jobs
  .github/workflows/ci.yml
Due: none

Restart services and poll port 1511 readiness after composite setup in Cypress jobs
  .github/workflows/ci.yml
Due: none

remove * wildcards
  .yamllint
Due: none

Fix YAML syntax indentation in e2e-Setup-Composite action
  .github/actions/e2e-Setup-Composite/action.yml
Due: none

Fix Cypress System fail due to select2 bump
  site/public/js/select-widgets.js
Due: none

Remove dead PDFAnnotateEmbedded.js reference (fixes #13378)
  site/app/views/grading/ElectronicGraderView.php
Due: php

Remove stale phpstan baseline entry for GradeInquiryController
  site/phpstan-baseline.neon
Due: none

[Bugfix:System] Escape DB credentials in URL
  python_submitty_utils/submitty_utils/db_utils.py
Due: python_submitty_utils

[Testing:System] Test DB URL credential escaping
  python_submitty_utils/tests/test_db_utils.py
Due: none

[Bugfix:Forum] Update empty thread list
  site/app/templates/forum/showFullThreadsPage.twig
  site/cypress/e2e/Cypress-Feature/forums.spec.js
  site/public/js/forum.js
Due: php

Log individual submission file downloads
  site/app/controllers/MiscController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
