Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

remove button
  site/app/templates/admin/GradeOverride.twig
  site/public/js/grade-override.js
Due: php

change language when informing of a version conflict for ta interface, add help link
  site/public/templates/grading/GradingComponentHeader.twig
Due: none

test
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240711151955_dbcheck.py
Due: migrator

combine plagiarism and manual grading user_id autocomplete
  site/app/templates/admin/RainbowCustomization.twig
Due: php

make manual grading grade options concise
  site/app/templates/admin/RainbowCustomization.twig
Due: php

integration test and name fixes
  grading/clean.cpp
  grading/clean.h
  grading/dispatch.cpp
  tests/integrationTests/tests/tolerance_check/validation/grade.txt_buggy
  tests/integrationTests/tests/tolerance_check/validation/results.json_buggy
Due: none

tzlocal 3.0
  .setup/pip/system_requirements.txt
Due: none

error message fix
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php

used class instead of this
  site/app/templates/admin/admin_gradeable/AdminGradeablePeers.twig
Due: php

Randomly generate "filename" field if ID is missing
  site/app/libraries/NotebookUtils.php
Due: php

fix grade inquiry
  site/app/templates/grading/electronic/Details.twig
  site/public/js/details.js
Due: php

make link actually point to correct spot in documentation
  site/public/templates/grading/GradingComponentHeader.twig
Due: none

make author_id nullable
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240208120646_custom_answers_polls.py
  site/app/entities/poll/Option.php
Due: php, migrator

add foreign key constraint
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240208120646_custom_answers_polls.py
Due: migrator

NULL to null
  site/app/entities/poll/Option.php
Due: php

refrain from hydrating poll with options
  site/app/controllers/PollController.php
  site/app/repositories/poll/PollRepository.php
Due: php

expand down migration
  migration/migrator/migrations/course/20240208120646_custom_answers_polls.py
Due: migrator

localize -> astimezone
  python_submitty_utils/submitty_utils/dateutils.py
Due: python_submitty_utils

remove .zone from CONFIGURE_SUBMITTY.py
  .setup/CONFIGURE_SUBMITTY.py
Due: none

add in too many late days
  site/app/templates/grading/electronic/Details.twig
Due: php

move savetools so that appears after the version conflict warning, and always show it
  site/public/templates/grading/GradingComponentHeader.twig
Due: none

Remove pytz
  python_submitty_utils/tests/test_dateutils.py
Due: none

replace existsCustomResponse with query
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/repositories/poll/OptionRepository.php
Due: php

2.1 -> 3.0
  python_submitty_utils/requirements.txt
Due: none

prevent toggle-all visibility on new survey
  site/app/templates/polls/PollForm.twig
Due: php

[Testing:TAGrading] Added Test for Grading Details UI (#10686)
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_details.spec.js
Due: php

[Feature:Submission] Hide Accessibility Text for Disabled (#10649)
  site/app/templates/notebook/Notebook.twig
  site/public/js/code-mirror-utils.js
Due: php

make test ids use hyphens instead of underscores
  site/app/templates/grading/electronic/GradingPanelHeader.twig
Due: php

[Feature:Submission] Select Preferred Name Order on Profile Page (#10259)
  site/app/controllers/UserProfileController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/User.php
  site/app/templates/EditDisplayNameOrderForm.twig
  site/app/templates/UserProfile.twig
  site/public/js/user-profile.js
  site/tests/app/models/UserTester.php
Due: php

Various minor changes
  site/app/controllers/admin/GradeOverrideController.php
  site/app/controllers/admin/LateController.php
  site/app/templates/admin/Extensions.twig
  site/app/templates/admin/GradeOverride.twig
  site/app/templates/admin/users/ExtensionsTeamPrompt.twig
  site/app/templates/admin/users/GradeOverridesTeamPrompt.twig
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
  site/phpstan-baseline.neon
  site/public/js/extensions.js
  site/public/js/server.js
Due: php

make basic vue project
  site/vue3-frontend/env.d.ts
  site/vue3-frontend/src/App.vue
  site/vue3-frontend/src/main.ts
  site/vue3-frontend/tsconfig.app.json
  site/vue3-frontend/tsconfig.json
  site/vue3-frontend/tsconfig.node.json
  site/vue3-frontend/vite.config.mts
Due: none

[Refactor:TAGrading] Add test ids for elements used in tests (#10689)
  site/app/templates/grading/electronic/GradingPanelHeader.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_comments.spec.js
  site/cypress/e2e/Cypress-TAGrading/test_rubric_access.spec.js
  site/public/templates/grading/GradingComponentHeader.twig
  site/public/templates/grading/OverallComment.twig
  site/public/templates/grading/SavingTools.twig
  site/public/templates/misc/MarkdownArea.twig
Due: php

add dependencies
  site/package.json
Due: none

suggested changes
  site/app/templates/grading/electronic/Details.twig
Due: php

add vite to build process
  .gitignore
  .setup/install_submitty/install_site.sh
  site/.rsyncignore
  site/package.json
  site/vue3-frontend/vite.config.mts
Due: none

add .mts and .mjs (module typescript and javascript) files to eslint config
  site/eslint.config.js
Due: none

Fix @patch
  python_submitty_utils/tests/test_dateutils.py
Due: none

add vue render function
  site/app/libraries/Output.php
  site/vue3-frontend/src/main.ts
  site/vue3-frontend/src/pages/Unknown.vue
Due: php

rename buttons and popup
  site/app/templates/officeHoursQueue/NewQueue.twig
  site/app/templates/officeHoursQueue/QueueButtonBar.twig
  site/app/templates/officeHoursQueue/QueueFilter.twig
Due: php

forgot to add dependency
  site/package.json
Due: none

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
