Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

Manual histogram avergae
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/ta_status/GradingHistogram.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

seeing whats on there
  site/cypress/e2e/Cypress-UI/navigation_page.spec.js
Due: none

[Bugfix:Developer] Fix auto move drafts to WIP
  .github/workflows/sort_draft_prs.yml
Due: none

Move DB check to CI
  .github/workflows/ci.yml
  .github/workflows/db_check.yml
Due: none

[Bugfix:Developer] Fix auto move drafts to WIP (#10794)
  .github/workflows/sort_draft_prs.yml
Due: none

update to use user submission
  more_autograding_examples/networking/config/config.json
  more_autograding_examples/networking/config/test_output/google.txt
  more_autograding_examples/networking/submissions/correct.url
  more_autograding_examples/networking/submissions/incorrect.url
Due: none

quantum duck
  site/app/controllers/GlobalController.php
  site/public/img/moorthy_duck/quantum-duck-dark.svg
  site/public/img/moorthy_duck/quantum-duck-light.svg
Due: php

add "perfect" example
  more_autograding_examples/qiskit_tolerance_diff/config/test_output/expected.png
  more_autograding_examples/qiskit_tolerance_diff/submissions/perfect.py
Due: none

[Bugfix:Developer] Fix auto move drafts for real this time
  .github/workflows/sort_draft_prs.yml
Due: none

Typo
  .github/workflows/sort_draft_prs.yml
Due: none

[Bugfix:Developer] automate drafts on project board (#10796)
  .github/workflows/sort_draft_prs.yml
Due: none

[Bugfix:Developer] Fix draft arranger for old PRs
  .github/workflows/sort_draft_prs.yml
Due: none

Only start with 1 assignment
  .setup/data/courses/self_register.yml
  site/app/controllers/AuthenticationController.php
Due: php

simplify popup config
  site/vue/src/components/popup.vue
Due: none

fix types for emitted events
  site/vue/src/components/popup.vue
Due: none

Update Scatterplot.twig
  site/app/templates/grading/electronic/ta_status/Scatterplot.twig
Due: php

Share DockerImages repo with dev VM
  Vagrantfile
Due: none

[Bugfix:Developer] Fix draft arranger for old PRs (#10798)
  .github/workflows/sort_draft_prs.yml
Due: none

fix
  site/app/models/gradeable/AutoGradedGradeable.php
  site/app/templates/grading/electronic/ta_status/Scatterplot.twig
Due: php

[Feature:Developer] Share DockerImages repo with dev VM (#10815)
  Vagrantfile
Due: none

[Bugfix:Developer] Fix typo in draft PR arranger
  .github/workflows/sort_draft_prs.yml
Due: none

rm unused
  site/app/models/gradeable/AutoGradedGradeable.php
  site/app/templates/grading/electronic/ta_status/Scatterplot.twig
Due: php

Switch from tooltip to dropdown
  site/accepted_emails.json
  site/app/controllers/AuthenticationController.php
  site/app/templates/CreateNewAccount.twig
  site/public/css/authentication.css
  site/user_id_requirements.json
Due: php

add curve component color in css
  site/public/css/admin-gradeable.css
  site/public/css/electronic.css
  site/public/templates/grading/EditGradeable.twig
Due: none

Update site/app/controllers/GlobalController.php
  site/app/controllers/GlobalController.php
Due: php

fix curve component border
  site/public/js/gradeable.js
  site/public/templates/grading/Component.twig
  site/public/templates/grading/EditGradeable.twig
  site/public/templates/grading/GradingGradeable.twig
Due: none

Include curve component data in AJAX function
  site/public/js/ta-grading-rubric.js
Due: none

Add curve component data to controller and set default name for new curve component
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

add curve attribute
  site/app/controllers/admin/AdminGradeableController.php
  site/app/models/gradeable/Component.php
  site/app/models/gradeable/Gradeable.php
Due: php

add gc_is_curve column in database schema
  migration/migrator/migrations/course/20240801161603_add_gc_is_curve_column.py
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/SimpleStat.php
Due: php, migrator

Add functionality to assign grades to all students in a class with one click
  site/app/controllers/grading/ElectronicGraderController.php
Due: php

Instructor buttons
  site/app/models/Button.php
  site/app/templates/Navigation.twig
  site/app/views/NavigationView.php
  site/cypress/e2e/Cypress-UI/navigation_page.spec.js
Due: php

[UI/UX:System] quantum duck (#10805)
  site/app/controllers/GlobalController.php
  site/public/img/moorthy_duck/quantum-duck-dark.svg
  site/public/img/moorthy_duck/quantum-duck-light.svg
Due: php

[Bugfix:Developer] Fix typo in draft PR arranger (#10817)
  .github/workflows/sort_draft_prs.yml
Due: none

[Documentation:Autograding] Fix components doc in courses.yml (#10790)
  .setup/data/courses.yml
Due: none

[Refactor:Developer] Add & rename qiskit tolerance files (#10784)
  more_autograding_examples/qiskit_tolerance_diff/config/config.json
  more_autograding_examples/qiskit_tolerance_diff/config/test_output/expected.png
  more_autograding_examples/qiskit_tolerance_diff/submissions/correct_expectation_value.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/correct_sampling.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/incorrect_expectation_value.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/incorrect_sampling.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/out_of_tolerance.py
  more_autograding_examples/qiskit_tolerance_diff/submissions/perfect.py
Due: none

Regenerate package-lock.json with Vue
  site/package-lock.json
Due: none

Fix php lint errors on main
  site/app/controllers/GlobalController.php
Due: php

[Bugfix:Developer] Fix php lint errors on main (#10819)
  site/app/controllers/GlobalController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
