Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

revert vagrantfile
  Vagrantfile
Due: none

[Refactor:System] Move sidebar to Vue (#11859)
  .github/workflows/ci.yml
  .gitignore
  .setup/INSTALL_SUBMITTY_HELPER.sh
  site/app/models/Button.php
  site/app/templates/GlobalHeader.twig
  site/app/templates/admin/Configuration.twig
  site/app/templates/admin/UploadWrapperForm.twig
  site/cypress/e2e/Cypress-UI/sidebar.spec.js
  site/public/css/server.css
  site/vue/src/components/sidebar/Button.vue
Due: php

Added Users
  .setup/bin/sample_courses/models/course/course_create.py
  .setup/data/users/audit.yml
  .setup/data/users/withdrawn.yml
  more_autograding_examples/bulk_upload_pdfs/submissions/04_numeric_ids.txt
Due: none

Fully Revert course_create
  .setup/bin/sample_courses/models/course/course_create.py
Due: none

Small touchups
  site/vue/src/components/AllNotificationsDisplay.vue
  site/vue/src/pages/HomePage.vue
Due: none

Fix linting, use more strict type checking
  site/app/views/course/CourseMaterialsView.php
  site/phpstan-baseline.neon
Due: php

[Feature:InstructorUI] Team Grade Override (#10677)
  site/app/controllers/admin/GradeOverrideController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/admin/GradeOverride.twig
  site/cypress/e2e/Cypress-Feature/grade_override.spec.js
  site/phpstan-baseline.neon
  site/public/js/server.js
  site/vue/src/components/OverrideTeamPopup.vue
Due: php

[Feature:RainbowGrades] Load and Save on Nightly Build (#11496)
  sbin/auto_rainbow_grades.py
  sbin/auto_rainbow_scheduler.py
  sbin/generate_grade_summaries.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/admin/ReportController.php
  site/app/models/RainbowCustomization.php
  site/app/templates/admin/RainbowCustomization.twig
  site/phpstan-baseline.neon
  site/public/js/rainbow-customization.js
  site/tests/app/controllers/admin/ReportControllerTester.php
Due: php

[Documentation:Autograding] Add jupyter autograding example (#11736)
  .setup/CONFIGURE_SUBMITTY.py
  .setup/data/courses/development.yml
  .setup/install_submitty/install_bin.sh
  autograder/autograder/execution_environments/container_network.py
  grading/allowed_autograding_commands_default.json
  grading_bin/jupyter_notebook_grader.py
  more_autograding_examples/jupyter_notebook_autograding/config/config.json
  more_autograding_examples/jupyter_notebook_autograding/config/test_input/one.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_input/two.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/graph.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/one.png
  more_autograding_examples/jupyter_notebook_autograding/config/test_output/two.png
  more_autograding_examples/jupyter_notebook_autograding/submissions/correct.ipynb
  more_autograding_examples/jupyter_notebook_autograding/submissions/error.ipynb
  more_autograding_examples/jupyter_notebook_autograding/submissions/one.png
  more_autograding_examples/jupyter_notebook_autograding/submissions/out_of_order.ipynb
  more_autograding_examples/jupyter_notebook_autograding/submissions/partial.ipynb
  more_autograding_examples/jupyter_notebook_autograding/submissions/two.png
  more_autograding_examples/jupyter_notebook_execution/config/config.json
  more_autograding_examples/jupyter_notebook_execution/submissions/example.ipynb
  site/cypress/e2e/Cypress-Autograding-Development/verify_development_courses.spec.js
Due: autograder

test vars
  .setup/install_submitty/get_globals.sh
Due: none

pass in ci flag
  .github/actions/e2e-Setup-Composite/action.yml
  .setup/INSTALL_SUBMITTY_HELPER.sh
Due: none

run script normally
  .setup/install_submitty/get_globals.sh
Due: none

Turn paginated email check into function
  site/cypress/e2e/Cypress-Feature/emails.spec.js
Due: none

Improved input selector classes
  site/app/templates/NotificationSettings.twig
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: php

Refactor for default course notification settings
  site/app/models/User.php
  site/app/templates/NotificationSettings.twig
Due: php

Basic notification setting checkbox tests
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  site/vue/src/components/Toasts.vue
Due: none

Basic initial refactoring
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

clean up image annotation frame
  site/app/templates/grading/electronic/ImageAnnotationEmbedded.twig
  site/public/js/img/ImageAnnotationEmbedded.js
  site/ts/ta-grading.ts
Due: php

Basic testing for individual checkboxes
  site/app/templates/NotificationSettings.twig
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  site/cypress/e2e/Cypress-Feature/registration.spec.js
Due: php

Make sure to only return if editing title
  site/public/js/drag-and-drop.js
Due: none

update config to use built in script
  more_autograding_examples/jupyter_autograding_with_cell_ids/config/config.json
  more_autograding_examples/jupyter_autograding_with_cell_ids/config/test_input/jupyter_notebook_grader.py
  site/cypress/e2e/Cypress-Autograding-Development/verify_development_courses.spec.js
Due: none

Refactor: Simplify shown columns logic in ElectronicGraderView
  site/app/views/grading/ElectronicGraderView.php
Due: php

Additional refactoring
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

Fix cypress attribute selectors
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

Revert other e2e test changes
  site/cypress/e2e/Cypress-Feature/registration.spec.js
Due: none

Target all checkboxes
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

Improve comments
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

PHP Lint Fix
  site/app/models/User.php
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
  site/phpstan-baseline.neon
Due: php

update config syscall and precommand
  more_autograding_examples/jupyter_autograding_with_cell_ids/config/config.json
Due: none

Fix notification line up
  site/app/models/User.php
Due: php

Fix test description
  site/cypress/e2e/Cypress-Feature/notifications.spec.js
Due: none

test vagrant up
  .setup/install_submitty/get_globals.sh
Due: none

Update message order, remove GREATEST, attempt to address null section
  sbin/send_notification.py
Due: none

remove sucess message
  site/ts/ta-grading-cookies.ts
Due: none

Fix PHP Unit
  site/tests/app/models/UserTester.php
Due: none

Ran ESlint, default unseen, Added No unseen text, removed show more
  site/vue/src/components/AllNotificationsDisplay.vue
  site/vue/src/pages/HomePage.vue
Due: none

[Feature:VersionChoice] Enhance version selection with additional props and event handling
  site/app/templates/submission/homework/CurrentVersionBox.twig
  site/vue/src/components/VersionChoice.vue
Due: php

Refactor: Remove unused hiddenColumns from grading context
  site/app/templates/grading/electronic/Details.twig
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
