Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

echo PR name
  .github/workflows/submitty_ci.yml
Due: none

Fixed Colors and Cleaned Tag
  site/app/templates/forum/CreatePost.twig
Due: php

pulled in ethans ansible folder
  ansible/ansible.cfg
  ansible/inventory/submitty
  ansible/playbooks/submitty_install.yml
  ansible/roles/app_submitty/defaults/main.yml
  ansible/roles/app_submitty/files/append_to_submitty.conf
  ansible/roles/app_submitty/tasks/main.yml
Due: none

testing out this way of linting on actual ansible files
  .github/workflows/submitty_ci.yml
Due: none

added smoke tests
  .github/workflows/submitty_ci.yml
Due: none

adjusted the location
  .github/workflows/submitty_ci.yml
Due: none

added a command to investigate why the directory is not being found
  .github/workflows/submitty_ci.yml
Due: none

yet more troubleshooting
  .github/workflows/submitty_ci.yml
Due: none

this should take it to the right spot
  .github/workflows/submitty_ci.yml
Due: none

this should work for realsies
  .github/workflows/submitty_ci.yml
Due: none

update front end instantly
  site/app/templates/forum/CreatePost.twig
  site/public/js/forum.js
Due: php

Repository is actually head_repository.full_name
  .github/workflows/notify_main_fail.yml
Due: none

fixes js?
  site/cypress/e2e/Cypress-Feature/test_forum.spec.js
Due: none

Draft PR
  site/app/controllers/forum/ForumController.php
Due: php

Finished PR fixed sql line
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/forum/CreatePost.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

fixing unread
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

js and php fix
  site/app/libraries/database/DatabaseQueries.php
  site/public/js/forum.js
Due: php

deleted some of the changes in Wrapper Controller.php
  site/app/controllers/admin/WrapperController.php
Due: php

bugfix student photo
  site/app/templates/grading/UploadImagesForm.twig
Due: php

Update user-profile.js
  site/public/js/user-profile.js
Due: none

formating
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix variable names
  site/app/libraries/database/DatabaseQueries.php
Due: php

[Bugfix:Developer] Fix flaky docker ui cypress test (#10271)
  site/app/views/admin/DockerView.php
Due: php

Fixing DB and lint issues.
  migration/migrator/data/course_tables.sql
  site/app/views/forum/ForumThreadView.php
Due: php, migrator

Revert "Fixing DB and lint issues."
  migration/migrator/data/course_tables.sql
  site/app/views/forum/ForumThreadView.php
Due: php, migrator

Working simple notifications and settings
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240324130619_grade_notifications.py
  site/app/controllers/admin/AdminGradeableController.php
  site/app/libraries/NotificationFactory.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/NotificationSettings.twig
  site/tests/app/models/UserTester.php
Due: php, migrator

fileexist methond
  more_autograding_examples/leaderboard/config/config.json
Due: none

corrected case
  site/app/models/CalendarInfo.php
Due: php

added spaces for readability
  site/app/views/grading/ElectronicGraderView.php
Due: php

remove mapper functions, create consts
  site/app/models/gradeable/GradeableUtils.php
Due: php

Fix reply box not disabled when text area is empty
  site/app/templates/forum/ThreadPostForm.twig
  site/app/templates/misc/MarkdownArea.twig
Due: php

Bump submitty/php-codesniffer to 3.0.0
  site/composer.json
  site/composer.lock
Due: none

Remove unnecessary excludes
  site/phpcs.xml
Due: none

Fix reply box not disabled when text area is empty
  site/app/templates/misc/MarkdownArea.twig
Due: php
