Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

fix database
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20231113195556_create_upduck_table.py
Due: migrator

Finished BackEnd for PollTimer
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/templates/polls/AllPollsPageInstructor.twig
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
Due: php, migrator

Update course_tables.sql
  migration/migrator/data/course_tables.sql
Due: migrator

ansible playbooks formatting
  ansible/playbooks/submitty_install.yml
Due: none

Setup edit and delete custom response
  migration/migrator/data/course_tables.sql
  site/app/controllers/PollController.php
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
  site/public/js/polls.js
Due: php, migrator

Implemented-Search-For-Timezone
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/UserProfile.twig
  site/app/templates/forum/CreatePost.twig
Due: php

Update CreatePost.twig
  site/app/templates/forum/CreatePost.twig
Due: php

Fixed Lint and DB issues
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
  site/app/entities/poll/Poll.php
  site/public/css/polls.css
Due: php, migrator

Revert "[UI/UX:Calendar] Fix calendar announcement cursor (#10125)"
  site/public/css/calendar.css
Due: none

Revert "Revert "[UI/UX:Calendar] Fix calendar announcement cursor (#10125)""
  site/public/css/calendar.css
Due: none

Undid css reordering
  site/public/css/calendar.css
Due: none

working download
  site/app/controllers/admin/AdminGradeableController.php
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/public/js/gradeable.js
Due: php

Submitty choose actually needs vcs_path variable
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Enhanced-feature
  site/app/templates/UserProfile.twig
Due: php

[UI/UX:Calendar] Fix calendar Note cursor (#10172)
  site/public/css/calendar.css
Due: none

Add api, and subdirectory
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Formatting, removing unneeded changes, add tests, and api route
  site/app/controllers/admin/AdminGradeableController.php
  site/cypress/e2e/Cypress-Gradeable/gradeable_download_json.spec.js
  site/public/js/gradeable.js
Due: php

js and php linting
  site/app/controllers/admin/AdminGradeableController.php
  site/cypress/e2e/Cypress-Gradeable/gradeable_download_json.spec.js
Due: php

Making First Post Only Anonymous
  site/app/views/forum/ForumThreadView.php
Due: php

[Bugfix:Forum] Fix Forum Post Spacing (#10176)
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/RenderPost.twig
  site/public/css/forum.css
Due: php

Update migration for requested changes
  migration/migrator/migrations/system/20240204234806_update_vcs_permission.py
Due: migrator

temporarily taking over vagrant_up to test
  .github/workflows/save_vm.yaml
  .github/workflows/vagrant_up.yaml
  Vagrantfile
Due: none

[Bugfix:System] Check if any_manual_grades exists (#10119)
  site/app/models/gradeable/Gradeable.php
Due: php

reset vagrant_up workflow'
  .github/workflows/save_vm.yaml
  .github/workflows/vagrant_up.yaml
Due: none

[UI/UX:Developer] Black history month duck (#10169)
  site/app/controllers/GlobalController.php
  site/public/img/moorthy_duck/black-history-duck.svg
Due: php

fix bug caused by no development course data
  site/cypress/e2e/Cypress-Feature/rainbow_grades_page.spec.js
Due: none

Working implementation
  site/app/controllers/PollController.php
  site/app/templates/polls/PollForm.twig
  site/app/templates/polls/ViewPoll.twig
  site/public/css/polls.css
  site/public/js/polls.js
Due: php

change pop up message
  site/public/templates/grading/Mark.twig
Due: none

php lint
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Update DatabaseQueries.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

No actual banner showing yet
  site/app/libraries/Output.php
  site/app/templates/GlobalHeader.twig
  site/public/css/global.css
  site/public/js/event-advertisements.js
Due: php

revert completely vagrant_up.yml
  .github/workflows/vagrant_up.yaml
Due: none

end of file newline
  .github/workflows/vagrant_up.yaml
Due: none

fix bug ta grading interface
  site/app/models/gradeable/GradedComponentContainer.php
Due: php

add param for downloadJson function
  site/app/controllers/admin/AdminGradeableController.php
Due: php

Update Banner.twig
  site/app/templates/banner/Banner.twig
Due: php

Update GradedComponentContainer.php
  site/app/models/gradeable/GradedComponentContainer.php
Due: php

Making Mouse Hover & Changing Tag to "[OP]"
  site/app/templates/forum/CreatePost.twig
  site/app/views/forum/ForumThreadView.php
Due: php
