Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

removing attempt at big combined function
  site/ts/ta-grading.ts
Due: none

dynamically removing closed files
  site/ts/ta-grading.ts
Due: none

[Refactor:System] Enabled Pylint for workers.py (#12890)
  .pylintrc
  vagrant-workers/workers.py
Due: none

remove duplicates from auto-open list
  site/ts/ta-grading.ts
Due: none

findAllOpenFiles bugfix
  site/ts/ta-grading.ts
Due: none

fix pylint & switch to 1 day
  .setup/pip/dev_requirements.txt
  sbin/cleanup_active_graders.py
Due: none

css tweaks to fix buttons
  site/app/templates/NotificationSettings.twig
Due: php

added test for stale course pointer and logic to delete
  site/app/controllers/admin/UsersController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

consolidate tests
  site/cypress/e2e/Cypress-Feature/sync_notification_test.spec.js
Due: none

allow for unsetting subsection
  site/app/controllers/admin/UsersController.php
  site/phpstan-baseline.neon
Due: php

Fix flake8 line length and phpcs formatting errors
  autograder/submitty_autograding_shipper.py
  site/app/controllers/student/SubmissionController.php
Due: php

inital commit for requested changes
  .setup/CONFIGURE_SUBMITTY.py
  migration/migrator/migrations/system/20260621235959_server_secret.py
  site/app/controllers/ChatroomController.php
  site/app/entities/chat/Chatroom.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Config.php
  site/app/templates/chat/AllChatroomsPage.twig
  site/app/templates/chat/Chatroom.twig
  site/app/views/ChatroomView.php
  site/public/js/chatroom.js
  site/tests/app/models/ConfigTester.php
Due: php, migrator

adding void return type in Tester functions
  site/tests/app/controllers/grading/GradingClusterControllerTester.php
Due: none

Fix YAML formatting
  .setup/data/courses/testing.yml
Due: none

fix yaml lint
  .setup/data/courses/testing.yml
Due: none

skip empty teams when deleting
  site/app/controllers/student/TeamController.php
Due: php

auto-opening algorithm fix
  site/ts/ta-grading-panels-init.ts
Due: none

fix bug where the commit statement was missing!
  sbin/cleanup_active_graders.py
Due: none

lint
  sbin/cleanup_active_graders.py
Due: none

[Feature:System] Cleanup stale active_graders locks (#12427)
  .setup/install_submitty/install_bin.sh
  .setup/pip/dev_requirements.txt
  .setup/submitty_crontab
  sbin/cleanup_active_graders.py
Due: none

Update file list collapse behavior
  site/app/templates/submission/homework/CurrentVersionResults.twig
  site/public/css/submitbox.css
  site/public/js/server.js
Due: php

made requested changes and feature additions
  site/app/controllers/NotificationController.php
  site/app/templates/NotificationSettings.twig
  site/app/templates/SyncSettingsPopup.twig
  site/app/views/NotificationView.php
Due: php

Use FileUtils helper for submission metafiles
  site/app/libraries/FileUtils.php
  site/app/models/gradeable/Gradeable.php
  site/app/views/grading/ElectronicGraderView.php
Due: php

php lint
  site/app/views/NotificationView.php
Due: php

update migration date
  migration/migrator/migrations/course/20260623000000_autograding_testcase.py
Due: migrator

made requested changes
  site/public/css/chatroom.css
  site/public/css/forum.css
  site/public/css/simple-grading.css
  site/ts/full-screen.ts
  site/vue/src/components/FullScreenButton.vue
Due: none

Fix PHPStan isset checks and flake8 trailing whitespace
  autograder/submitty_autograding_shipper.py
  site/app/controllers/student/SubmissionController.php
Due: php

cleanup and removing logs
  site/ts/ta-grading-panels-init.ts
  site/ts/ta-grading.ts
Due: none

removed commented code
  site/public/css/chatroom.css
  site/public/css/forum.css
Due: none

css lint
  site/public/css/chatroom.css
Due: none

js lint
  site/vue/src/components/FullScreenButton.vue
Due: none

js lint encore
  site/vue/src/components/FullScreenButton.vue
Due: none

js lint final
  site/vue/src/components/FullScreenButton.vue
Due: none

making cookie update safer
  site/ts/ta-grading.ts
Due: none

removed trailing space
  site/vue/src/components/FullScreenButton.vue
Due: none

[Feature:System] Add autograding testcases to database (#12660)
  .setup/install_submitty/install_bin.sh
  autograder/autograder/insert_database_version_data.py
  bin/build_homework_function.sh
  bin/insert_build_data.py
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20260623000000_autograding_testcase.py
Due: autograder, migrator

[Bugfix:TAGrading] TA Peer Grading Access (#12889)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/libraries/Access.php
  site/app/templates/grading/electronic/Details.twig
  site/app/views/NavigationView.php
  site/public/templates/grading/GradingGradeable.twig
  site/public/templates/grading/TotalScoreBox.twig
  site/ts/ta-grading-rubric.ts
Due: php

edit python_simple_homework
  .setup/data/courses/testing.yml
  more_autograding_examples/python_simple_homework/config/config.json
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
Due: none

[Feature:InstructorUI] Add Manage Teams UI for Instructors (#12909)
  site/app/controllers/student/TeamController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/submission/Team.twig
  site/app/views/submission/TeamView.php
Due: php

[Bugfix:InstructorUI] Upload CSV parse Registration Subsection (#12928)
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/ClassListForm.twig
  site/phpstan-baseline.neon
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
