Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

[Refactor:Developer] Combine GH Actions Dependabot entries (#10828)
  .github/dependabot.yml
Due: none

[Bugfix:Developer] Add python_submitty_utils to Dependabot (#10827)
  .github/dependabot.yml
Due: none

[Bugfix:Developer] Fix Github Actions Dependabot
  .github/dependabot.yml
Due: none

Remove pytz
  .setup/pip/system_requirements.txt
  python_submitty_utils/requirements.txt
Due: none

Check missing image, add images to capabilities
  .setup/CONFIGURE_SUBMITTY.py
  grading/load_config_json.cpp
Due: none

fix php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/gradeable/AutoGradedGradeable.php
Due: php

fix barb's request
  site/app/templates/grading/electronic/ta_status/Scatterplot.twig
Due: php

change name for gradingstats
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/models/gradeable/AutoGradedGradeable.php
  site/app/models/gradeable/AutoGradedVersion.php
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-TAGrading/ta_grading_details.spec.js
Due: php

Update phpstan-baseline.neon
  site/phpstan-baseline.neon
Due: none

Update sbin/shipper_utils/update_and_install_workers.py
  sbin/shipper_utils/update_and_install_workers.py
Due: none

Switch to config values, update migration
  migration/migrator/migrations/master/20240718015237_self_account_creation.py
  site/accepted_emails.json
  site/app/controllers/AuthenticationController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Config.php
  site/user_id_requirements.json
Due: php, migrator

add term and course
  site/app/controllers/admin/ReportController.php
Due: php

fix error on no existing config
  generate_workers.py
Due: none

cpp_inst_solution workflow finish
  autograder/autograder/autograding_utils.py
  autograder/autograder/execution_environments/secure_execution_environment.py
  bin/build_homework_function.sh
  more_autograding_examples/cpp_random_input_output/config/config.json
  more_autograding_examples/cpp_random_input_output/config/instructor_solution/generator.py
  more_autograding_examples/cpp_random_input_output/config/instructor_solution/instructor_solution.cpp
  sbin/check_everything.py
  sbin/create_course.sh
Due: autograder

tweak-green(light) + revised-bg(dark)
  site/public/css/colors.css
  site/public/css/diff-viewer.css
Due: none

revert debug statements
  autograder/autograder/execution_environments/jailed_sandbox.py
  autograder/autograder/grade_item.py
  bin/build_homework_function.sh
Due: autograder

Beginning work for email verification
  migration/migrator/migrations/master/20240805165505_user_verification_code.py
  site/app/controllers/AuthenticationController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/VerifyEmailForm.twig
  site/app/views/AuthenticationView.php
Due: php, migrator

[Bugfix:Developer] Fix Github Actions Dependabot (#10838)
  .github/dependabot.yml
Due: none

Update site/app/controllers/admin/ReportController.php
  site/app/controllers/admin/ReportController.php
Due: php

[enhancement/feature request]:[pdf-annotate.js] Bump pdf-annotate.js webpack (low priority)
  site/package-lock.json
  site/package.json
Due: none

Remove stale comment
  .setup/pip/system_requirements.txt
Due: none

[Feature:Developer] Move review requested PR to In Review
  .github/workflows/move_to_in_review.yml
Due: none

More work for email verification
  site/app/controllers/AuthenticationController.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/VerifyEmailForm.twig
  site/app/views/AuthenticationView.php
Due: php

Dump master db
  migration/migrator/data/submitty_db.sql
Due: migrator

fix phplint
  site/app/controllers/admin/ReportController.php
Due: php

fix lint
  site/app/controllers/admin/ReportController.php
Due: php

added a version conflict button
  site/app/templates/autograding/TAResults.twig
Due: php

url change
  site/app/templates/autograding/TAResults.twig
Due: php

style
  site/app/templates/autograding/TAResults.twig
Due: php

import sys
  sbin/shipper_utils/update_and_install_workers.py
Due: none

remove extra div
  site/public/templates/grading/Component.twig
Due: none

finished navigation buttons
  site/app/views/NavigationView.php
Due: php

closer follower the original format
  site/app/templates/autograding/TAResults.twig
Due: php

changed the path
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
Due: none

Remove regenerator-runtime dependency
  site/jest.config.js
  site/package-lock.json
  site/package.json
  site/tests/api/setupTests.ts
  site/tests/ts/setupTests.js
Due: none

Remove comment
  .setup/pip/system_requirements.txt
Due: none

[Feature] Added alerts to Confirm before navigating - issue #10847
  site/app/templates/admin/UploadConfigForm.twig
Due: php

Revert "[Feature] Added alerts to Confirm before navigating - issue #10847"
  site/app/templates/admin/UploadConfigForm.twig
Due: php

mermaid test
  site/cypress-image-diff-screenshots/baseline/mermaid_flowchart.spec-large_with_router.png
  site/cypress/e2e/Cypress-System/mermaid_flowchart.spec.js
Due: none

[Refactor:RainbowGrades] add term and course (#10840)
  site/app/controllers/admin/ReportController.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
