Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

Undo access control change
  site/app/controllers/HomePageController.php
Due: php

Remove python file change
  sbin/adduser.py
Due: none

Remove web API because it already exists
  site/app/controllers/admin/UsersController.php
  site/app/libraries/routers/WebRouter.php
  site/app/templates/admin/admin_gradeable/AdminGradeableBase.twig
  site/app/templates/admin/admin_gradeable/AdminGradeableUploadForm.twig
  site/public/js/gradeable.js
Due: php

updated the office hour queue
  site/cypress/e2e/Cypress-Gradeable/office_hours_queue.spec.js
Due: none

announcement element missing
  site/cypress/e2e/Cypress-Gradeable/office_hours_queue.spec.js
Due: none

Change config editor opener to a button
  site/app/templates/admin/admin_gradeable/AdminGradeableAuto.twig
Due: php

[Feature:Forum] Add a tooltip to the Upduck button (#10368)
  site/app/templates/forum/CreatePost.twig
Due: php

[Bugfix:Submission] Redirect out of submission if no team (#10356)
  site/app/controllers/student/SubmissionController.php
Due: php

Remove changes and XSS from drag-and-drop
  site/public/js/drag-and-drop.js
Due: none

[Refactor:System] Refactor routes in course materials (#10355)
  site/app/controllers/course/CourseMaterialsController.php
Due: php

Add missing function argument
  site/app/controllers/forum/ForumController.php
Due: php

Add another missing argument
  site/app/controllers/forum/ForumController.php
Due: php

Fix lint
  site/app/controllers/forum/ForumController.php
Due: php

add an else
  site/app/views/NavigationView.php
Due: php

changed variable name
  site/app/models/gradeable/Gradeable.php
Due: php

remove a space
  site/app/views/NavigationView.php
Due: php

Fixed moving up/down
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/builders/abstract-builder.js
  site/public/js/notebook_builder/widgets/multiple-choice-widget.js
Due: none

Update test_forum.spec.js
  site/cypress/e2e/Cypress-Feature/test_forum.spec.js
Due: none

[Feature:SubminiPolls] Poll-Timer(Backend) (#10184)
  .setup/bin/sample_courses/models/course/course_data.py
  .setup/data/polls/polls_data.json
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
  site/app/controllers/PollController.php
  site/app/entities/poll/Poll.php
  site/app/libraries/PollUtils.php
  site/app/templates/polls/PollForm.twig
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/public/css/polls.css
  site/public/js/polls.js
  site/tests/app/entities/poll/PollTester.php
  site/tests/app/libraries/PollUtilsTester.php
Due: php, migrator

[Bugfix:Forum] Fix forum socket update (#10388)
  site/app/controllers/forum/ForumController.php
Due: php

[Bugfix:CourseMaterials] Disables ability to scroll on popup (#10200)
  site/app/templates/generic/Popup.twig
  site/public/css/server.css
  site/public/js/server.js
Due: php

Uploading other branch changes
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/builders/abstract-builder.js
  site/public/js/notebook_builder/widgets/multiple-choice-widget.js
Due: none

[Bugfix:InstructorUI] error checking logic for exam seating (#10389)
  site/app/views/NavigationView.php
Due: php

Down Migration
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
Due: migrator

threashold I trust
  site/cypress/e2e/Cypress-Feature/test_forum.spec.js
Due: none

[Bugfix:SubminiPolls] Down Migration Fix (Poll Timer) (#10390)
  migration/migrator/migrations/course/20240205154116_add_poll_timer.py
Due: migrator

[Refactor:System] Refactor routes in grading files (#10363)
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/ImagesController.php
  site/app/controllers/grading/SimpleGraderController.php
  site/app/controllers/grading/popup_refactor/RubricGraderController.php
Due: php

Accounting for Null
  site/app/templates/polls/ViewPoll.twig
  site/app/views/PollView.php
Due: php

Removed unnecessary line
  site/public/js/ta-grading-rubric.js
Due: none

Added error check/message
  site/public/js/notebook_builder/builders/abstract-builder.js
Due: none

Fixing lint issues
  site/public/css/notebook-builder.css
  site/public/js/notebook_builder/builders/abstract-builder.js
Due: none

Testing version instances
  site/app/controllers/student/SubmissionController.php
Due: php

js lint
  site/public/js/notebook_builder/builders/abstract-builder.js
Due: none

Update forum.css
  site/public/css/forum.css
Due: none

changed function name
  site/app/models/gradeable/Gradeable.php
  site/app/views/NavigationView.php
Due: php

Update CreatePost.twig
  site/app/templates/forum/CreatePost.twig
Due: php
