Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

fixed some php linting issues
  site/app/libraries/database/DatabaseQueries.php
  site/app/templates/grading/electronic/ta_status/StatusData.twig
  site/app/views/grading/ElectronicGraderView.php
Due: php

Changed Date.now to Date.local
  site/public/js/confetti.js
  site/public/js/extensions.js
  site/public/js/latedays.js
Due: none

Fixes late day cache not finding user
  site/app/libraries/database/DatabaseQueries.php
Due: php

php linted
  site/app/libraries/database/DatabaseQueries.php
Due: php

fix edit post from main forum page
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/EditPostForm.twig
  site/app/templates/forum/displayThreadList.twig
  site/app/views/forum/ForumThreadView.php
  site/public/js/forum.js
Due: php

More feedback fixes
  site/app/controllers/forum/ForumController.php
  site/app/templates/forum/HistoryForm.twig
  site/app/templates/forum/RenderPost.twig
  site/app/templates/forum/ThreadPostForm.twig
  site/app/views/forum/ForumThreadView.php
  site/composer.lock
  site/public/css/forum.css
  site/public/js/forum.js
Due: php

[Bugfix:Submission] User not found in late day cache (#9923)
  site/app/libraries/database/DatabaseQueries.php
Due: php

enforce comma spacing for jslint
  site/.eslintrc.json
  site/cypress/e2e/Cypress-Admin/courseMaterials.spec.js
  site/cypress/e2e/Cypress-Feature/late_days_cache.spec.js
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable_results.spec.js
  site/cypress/e2e/Cypress-Gradeable/grading_stats.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_2.spec.js
  site/cypress/e2e/Cypress-UI/navigation_page.spec.js
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
  site/cypress/support/utils.js
  site/public/js/admin-gradeable-updates.js
  site/public/js/admin-team-form.js
  site/public/js/calendar.js
  site/public/js/confetti.js
  site/public/js/directory.js
  site/public/js/docker_interface.js
  site/public/js/drag-and-drop.js
  site/public/js/forum.js
  site/public/js/grade-inquiry.js
  site/public/js/gradeable-notebook.js
  site/public/js/latedays.js
  site/public/js/pdf/PDFAnnotateEmbedded.js
  site/public/js/polls.js
  site/public/js/rainbow-customization.js
  site/public/js/stat-page.js
  site/public/js/superuser-email.js
  site/public/js/system-update.js
  site/tests/ts/activity-dashboard.spec.js
  site/ts/activity-dashboard.js
Due: none

[Bugfix:Autograding] Fix Autograding to use term or semester (#9852)
  autograder/autograder/autograding_utils.py
  autograder/autograder/grade_item.py
  autograder/autograder/packer_unpacker.py
  autograder/submitty_autograding_shipper.py
  site/app/controllers/student/SubmissionController.php
Due: php, autograder

[Refactor:CourseMaterials] Use one variable for beginning of time (#9916)
  site/app/libraries/DateUtils.php
  site/app/templates/course/EditCourseMaterialsFolderForm.twig
  site/app/templates/course/EditCourseMaterialsForm.twig
  site/app/templates/course/SetAllReleaseForm.twig
  site/app/templates/course/SetFolderReleaseForm.twig
  site/app/templates/course/UploadCourseMaterialsForm.twig
  site/app/views/course/CourseMaterialsView.php
Due: php

[Feature:Developer] Enforce comma spacing rules with JSlint (#9924)
  site/.eslintrc.json
  site/cypress/e2e/Cypress-Admin/courseMaterials.spec.js
  site/cypress/e2e/Cypress-Feature/late_days_cache.spec.js
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable.spec.js
  site/cypress/e2e/Cypress-Gradeable/gradeable_results.spec.js
  site/cypress/e2e/Cypress-Gradeable/grading_stats.spec.js
  site/cypress/e2e/Cypress-System/autograding_status_2.spec.js
  site/cypress/e2e/Cypress-UI/navigation_page.spec.js
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
  site/cypress/support/utils.js
  site/public/js/admin-gradeable-updates.js
  site/public/js/admin-team-form.js
  site/public/js/calendar.js
  site/public/js/confetti.js
  site/public/js/directory.js
  site/public/js/docker_interface.js
  site/public/js/drag-and-drop.js
  site/public/js/forum.js
  site/public/js/grade-inquiry.js
  site/public/js/gradeable-notebook.js
  site/public/js/latedays.js
  site/public/js/pdf/PDFAnnotateEmbedded.js
  site/public/js/polls.js
  site/public/js/rainbow-customization.js
  site/public/js/stat-page.js
  site/public/js/superuser-email.js
  site/public/js/system-update.js
  site/tests/ts/activity-dashboard.spec.js
  site/ts/activity-dashboard.js
Due: none

[Feature:System] Can Email Anyone (#9799)
  migration/migrator/data/submitty_db.sql
  migration/migrator/migrations/master/20230914092120_add_to_name_to_email_database.py
  sbin/send_email.py
  site/app/controllers/SelfRejoinController.php
  site/app/entities/email/EmailEntity.php
  site/app/libraries/NotificationFactory.php
  site/app/libraries/database/DatabaseQueries.php
  site/app/models/Email.php
  site/app/templates/EmailStatus.twig
Due: php, migrator

fix some validate html errors
  site/app/templates/GlobalHeader.twig
  site/app/templates/bannerPopup.twig
Due: php

Fix some cypress issues
  site/app/templates/polls/PollForm.twig
  site/cypress/e2e/Cypress-Feature/polls.spec.js
  site/cypress/e2e/Cypress-UI/pronouns_change.spec.js
Due: php

Update BannerController.php
  site/app/controllers/banner/BannerController.php
Due: php

Update BannerView.php
  site/app/views/banner/BannerView.php
Due: php

php statistic analysis fix
  site/app/controllers/forum/ForumController.php
  site/phpstan-baseline.neon
Due: php

merge conflish resolve
  site/phpstan-baseline.neon
Due: none

error
  site/phpstan-baseline.neon
Due: none

fix types
  site/app/entities/banner/BannerImage.php
Due: php

Revert "Update BannerView.php"
  site/app/views/banner/BannerView.php
Due: php

fix more php errors
  site/app/views/GlobalView.php
  site/app/views/banner/BannerView.php
Due: php

Fix session cookie not updating
  site/app/libraries/SessionManager.php
Due: php

Fix PHPStan errors
  site/phpstan-baseline.neon
Due: none

renaming_late_day_extensions_2.0
  migration/migrator/data/course_tables.sql
  migration/migrator/migrations/course/20231022152303_renaming_late_day_exceptions.py
  site/app/libraries/database/DatabaseQueries.php
Due: php, migrator

Ensure db and cookie get updated
  site/app/libraries/Core.php
  site/app/libraries/SessionManager.php
Due: php

Fix unit test
  site/tests/app/libraries/SessionManagerTester.php
Due: none

[Bugfix:Developer] Fix PHPStan errors on main (#9926)
  site/phpstan-baseline.neon
Due: none

Update unit test
  site/tests/app/libraries/SessionManagerTester.php
Due: none

fix js syntax issue causing cypress failure
  site/public/js/forum.js
Due: none

Fix flattened email count
  site/app/libraries/NotificationFactory.php
Due: php

Fix checkboxes
  site/app/controllers/admin/UsersController.php
  site/app/templates/admin/users/ToggleManageStudentsColumns.twig
  site/app/views/admin/UsersView.php
Due: php

[Bugfix:Notifications] Fix flattened email count (#9928)
  site/app/libraries/NotificationFactory.php
Due: php

replace sample with blank
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

js lint
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

requested changes
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

Fix the php lint?
  site/phpstan-baseline.neon
Due: none

typo fix
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

undo after block
  site/cypress/e2e/Cypress-Gradeable/late_submission_warning_messages.spec.js
Due: none

Fixed CSV upload errors from deprecated function.
  site/app/controllers/admin/LateController.php
Due: php
