Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

scaffold done
  site/app/controllers/admin/ReportController.php
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

fixed typo
  site/app/controllers/admin/ReportController.php
  site/public/js/rainbow-customization.js
Due: php

changing the database password, and symlink fix
  .github/workflows/ci.yml
  Vagrantfile
Due: none

patching submitty_install_dir in CI and reverting vagrantfile edit by mistake
  .github/workflows/ci.yml
  Vagrantfile
Due: none

Fix: Restore focus indicator on grading panel header buttons (#13048)
  site/public/css/electronic.css
Due: none

Fix Flicker
  site/public/js/simple-grading.js
Due: none

And re-mounting ints file + revert the removed assertions in spec file
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
  site/ts/ta-grading-rubric.ts
Due: none

add comments
  site/ts/ta-grading-rubric.ts
Due: none

prevent timestamp / timezone frog robot
  site/app/templates/admin/Docker.twig
Due: php

removing /var/submitty/config before symlinking
  .github/workflows/ci.yml
Due: none

remove unmounting logic, i dont think we need it explicitly
  site/ts/ta-grading-rubric.ts
Due: none

fix spec file
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
Due: none

Add the usage of testid's
  site/app/templates/grading/electronic/EditPeerComponentsForm.twig
  site/app/templates/grading/electronic/PeerPanel.twig
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: php

New line
  site/cypress/e2e/Cypress-TAGrading/peer_panel_version_conflicts.spec.js
Due: none

Update DB check
  migration/migrator/data/course_tables.sql
Due: migrator

Remove unrelated database dump changes
  migration/migrator/data/course_tables.sql
Due: migrator

fixed a few bugs
  site/app/templates/admin/RainbowCustomization.twig
Due: php

duplicate system wide info div
  site/app/templates/admin/Docker.twig
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
  site/public/css/docker_interface.css
  site/public/js/docker_interface.js
Due: php

Fix submit box enoding
  site/app/templates/notebook/Notebook.twig
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/grading/ElectronicGraderView.php
  site/app/views/submission/HomeworkView.php
Due: php

cypress test the log button
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Due: none

fix js lint
  site/cypress/e2e/Cypress-UI/docker_ui.spec.js
Due: none

Fix PHP unit and lint
  site/phpstan-baseline.neon
  site/tests/app/libraries/FileUtilsTester.php
Due: none

count new image annotation as unviewed grade
  site/app/controllers/image_submission_files/ImageController.php
Due: php

[Refactor:System] Fix branch/main diff in DB Check (#13104)
  .github/workflows/ci.yml
Due: none

fix ci
  site/cypress/e2e/Cypress-TAGrading/rubric_grading.spec.js
Due: none

fix flicker by preventing self WS echoes
  site/public/js/simple-grading.js
Due: none

Fix the flciker which was caused due to WS self echo + animation
  site/app/templates/grading/simple/Display.twig
  site/public/css/simple-grading.css
  site/public/js/simple-grading.js
Due: php

Add comment on edited line
  site/public/js/simple-grading.js
Due: none

fixc css lint
  site/public/css/simple-grading.css
Due: none

Fix css lint again
  site/public/css/simple-grading.css
Due: none

Add toggle functionality for attachments in MoreDropdown component
  site/app/templates/forum/ForumBar.twig
  site/vue/src/components/forum/MoreDropdown.vue
Due: php

Refactor more dropdown functionality to use Vue component and add event handlers for thread options
  site/app/templates/forum/ForumBar.twig
  site/public/js/forum.js
Due: php

Add merged and deleted thread visibility options to thread parameters in forum templates
  site/app/templates/forum/ShowForumThreads.twig
  site/app/templates/forum/showFullThreadsPage.twig
Due: php

Add cypress component test
  site/cypress/component/MoreDropdown.cy.js
  site/vue/src/components/forum/MoreDropdown.vue
Due: none

Initialise and define Vue component
  site/vue/src/components/forum/MoreDropdown.vue
Due: none

Add merged and deleted thread visibility options to forum button parameters from PHP view
  site/app/views/forum/ForumThreadView.php
Due: php

Add divider to MoreDropdown items and update props for thread page state
  site/app/templates/forum/ForumBar.twig
  site/vue/src/components/forum/MoreDropdown.vue
Due: php

Enhance functionality with item dividers and badge support
  site/app/templates/forum/ForumBar.twig
  site/public/js/forum.js
  site/vue/src/components/forum/MoreDropdown.vue
Due: php

remove migration and make submission_clustering_enabled optional
  migration/migrator/migrations/course/20260724000000_submission_clustering_enabled.py
  site/app/controllers/admin/ConfigurationController.php
  site/app/models/Config.php
Due: php, migrator

Add Instructor Interface
  site/app/models/gradeable/Gradeable.php
  site/app/templates/admin/admin_gradeable/AdminGradeableGraders.twig
  site/public/js/admin-gradeable-updates.js
Due: php
