Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

.codecov.yml:

codecov:
  notify:
    require_ci_to_pass: true

ignore:
  - "tests/integrationTests"

coverage:
  status:
    project:
      default: false
      migrator:
        flags:
          - migrator
        target: 99%
    patch: false
    changes: false


flags:
  php:
    paths:
      - site/app
  autograder:
    paths:
      - autograder/autograder
  python_submitty_utils:
    paths:
      - python_submitty_utils/submitty_utils
  migrator:
    paths:
      - migration/migrator

comment:
  layout: "reach, diff, flags"
  behavior: once

[Refactor:System] Remove unused user connection management (#11582)
  site/app/libraries/socket/Server.php
  site/phpstan-baseline.neon
Due: php

[Testing:RainbowGrades] Add RainbowGrades test to Github CI (#10879)
  .setup/data/courses/testing.yml
  site/.performance_warning_ignore.json
  site/app/templates/admin/RainbowCustomization.twig
  site/cypress/e2e/Cypress-Gradeable/rainbow_grading.spec.js
  site/cypress/fixtures/manual_customization.json
  site/cypress/fixtures/rainbowgrades_ci_numeric.csv
  site/public/js/rainbow-customization.js
Due: php

Remove check for body from threadExists
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

Fix syntax from previous commit
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

Removed Deprecated Indentation Rule
  site/.stylelintrc.json
Due: none

Set up Prettier
  site/.prettierignore
  site/.prettierrc
  site/package-lock.json
  site/package.json
Due: none

changed cusom spacing
  site/app/templates/forum/displayThreadList.twig
  site/public/css/forum.css
Due: php

Single Attribute Per Line Config
  site/.prettierrc
Due: none

minor fix
  site/public/css/forum.css
Due: none

Reverted Test
  site/.prettierrc
Due: none

regrade select version
  site/app/controllers/student/SubmissionController.php
  site/ts/twig/grading/electronic/AutogradingPanel.ts
Due: php

add in gif to get 444 permissions
  .setup/install_submitty/install_site.sh
Due: none

Improved status and logging measures
  sbin/repair_services.sh
Due: none

Switch Scripts around
  site/package.json
Due: none

Shell Linting
  sbin/repair_services.sh
Due: none

changes to icons and deleting / adding banners
  site/app/controllers/GlobalController.php
  site/public/js/banner.js
  site/public/js/drag-and-drop.js
Due: php

Change Routes to use php8 syntax
  site/app/controllers/ChatroomController.php
Due: php

fix warning visibility
  site/app/templates/admin/Configuration.twig
  site/public/js/configuration.js
Due: php

Added All Affected Files to Ignore
  site/.prettierignore
Due: none

Fixed Not Ignoring
  site/.prettierignore
Due: none

create page
  site/app/libraries/Output.php
  site/app/templates/site/app/templates/CommunityEventContent.twig
  site/public/js/event-advertisements.js
Due: php

Twig variable for course identifier
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/grade-inquiry.js
Due: php

Set up correct Prettier Ignore
  site/.prettierignore
Due: none

Remove Print Width
  site/.prettierrc
Due: none

added check for user's first pr
  .github/workflows/first_pr_open.yml
Due: none

[Testing:Forum] Reset Forum Upon Test Failure (#11490)
  site/cypress/e2e/Cypress-Feature/forums.spec.js
Due: none

Change to use dataprovider, won't pass until after next commit
  site/tests/app/libraries/UtilsTester.php
Due: none

fix utils Tester accidentally removed parts
  site/tests/app/libraries/UtilsTester.php
Due: none

Server-side course formatter
  site/app/templates/submission/homework/SubmitBox.twig
  site/app/views/submission/HomeworkView.php
  site/public/js/grade-inquiry.js
Due: php

Migration for logging directory
  migration/migrator/migrations/system/20250410141421_repair_services.py
Due: migrator

add column styling
  site/app/templates/admin/RainbowCustomization.twig
  site/public/css/rainbow-customization.css
  site/public/js/rainbow-customization.js
Due: php

only show columns with values
  site/app/templates/admin/RainbowCustomization.twig
  site/public/js/rainbow-customization.js
Due: php

Handles boolean strings
  site/app/libraries/Utils.php
Due: php

Fix linting
  site/tests/app/libraries/UtilsTester.php
Due: none

[Bugfix:InstructorUI] Intercept absolute paths (#11571)
  site/app/controllers/course/CourseMaterialsController.php
  site/public/js/drag-and-drop.js
Due: php

[Bugfix:Forum] Delete Forum Threads via WebSocket (#11580)
  site/public/js/forum.js
Due: none

[Refactor:Submission] Split pdf image generation into new job (#11537)
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_qr_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/bulk_upload_split.py
  sbin/submitty_daemon_jobs/submitty_jobs/generate_pdf_images.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
Due: none

Create separate branch without verifying uploads
  site/cypress/e2e/Cypress-Gradeable/bulkupload.spec.js
Due: none

Fixed php linting
  site/app/controllers/ChatroomController.php
Due: php

Only Event Advertisement js file
  site/app/libraries/Output.php
  site/app/templates/site/app/templates/CommunityEventContent.twig
Due: php
