Repository Submitty/Submitty: changes, and which Codecov flags are due for each by the changed paths.
All: php, autograder, python_submitty_utils, migrator

optimize build order for Dockerfile
  Dockerfile
Due: none

slight comment update
  Dockerfile
Due: none

Fix whitespace around token validation endpoint
  site/app/controllers/AuthenticationController.php
Due: php

Use dedicated route for token validation
  site/app/controllers/AuthenticationController.php
Due: php

TotalScoreBox Integration with Vue Support
  site/ts/ta-grading-rubric.ts
Due: none

Add TotalScoreBox component for grading display
  site/vue/src/components/ta_grading/TotalScoreBox.vue
Due: none

Add Cypress tests for Vue component
  site/cypress/component/TotalScoreBox.cy.js
Due: none

Supress JS lint
  site/ts/ta-grading-rubric.ts
Due: none

[Feature:TAGrading] Add New Peer Grading Stoplight (#13016)
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/public/css/server.css
Due: php

[Feature:InstructorUI] Show username on create course page (#13025)
  site/app/templates/CreateCourseForm.twig
  site/app/views/HomePageView.php
Due: php

first draft (ugly)
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
  site/vue/src/components/DockerUIStatusMessage.vue
Due: php

Refactor: use post_date_raw in markPostUnread to prevent date parsing issues
  site/app/templates/forum/CreatePost.twig
Due: php

Add css style block and fix cypress TAGrading test fails
  site/cypress/component/ReceivedMarkForm.cy.js
  site/vue/src/components/ta_grading/ReceivedMarkForm.vue
Due: none

Fix TAGrading test
  site/cypress/e2e/Cypress-TAGrading/cyclic_grading_view.spec.js
Due: none

addressing reviews
  site/app/templates/grading/electronic/Details.twig
  site/cypress/e2e/Cypress-TAGrading/grading_clustering.spec.js
  site/public/js/details.js
  site/vue/src/components/GradingClustering.vue
Due: php

add banner while clusters are being formed
  site/app/controllers/grading/GradingClusterController.php
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/vue/src/components/GradingClustering.vue
Due: php

Update the clickHandler to not work in Edit mode
  site/cypress/component/MarkSelector.cy.js
  site/public/templates/grading/Mark.twig
  site/vue/src/components/ta_grading/MarkSelector.vue
Due: none

fixed deprecated calls count to 13
  site/app/controllers/AuthenticationController.php
Due: php

applying bulk grading
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/templates/grading/electronic/Details.twig
  site/ts/ta-grading-rubric.ts
Due: php

updated log messages
  sbin/auto_rainbow_grades.py
Due: none

add peer component icon
  site/public/css/electronic.css
  site/public/templates/grading/EditComponentHeader.twig
Due: none

initial commit
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

added options
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

Change query structure & change logic to show the first-time registered
  site/app/controllers/SelfRejoinController.php
  site/app/controllers/course/CourseRegistrationController.php
  site/app/libraries/database/DatabaseQueries.php
Due: php

cleared conflict and updated data-testids
  site/app/controllers/DockerInterfaceController.php
  site/app/templates/admin/Docker.twig
  site/public/js/docker_interface.js
Due: php

changes dialog message
  site/app/templates/admin/Docker.twig
Due: php

add missing packages needed for php-unit
  Dockerfile
Due: none

hacky css pr
  site/public/css/details.css
  site/public/css/simple-grading.css
  site/public/js/electronic-grading.js
  site/public/js/simple-grading.js
  site/ts/ta-grading-cookies.ts
Due: none

continuation of previous commit
  site/ts/ta-grading-cookies.ts
Due: none

stopping members who are Unclustered from being bulk graded, making changes to cypresS
  site/app/templates/grading/electronic/Details.twig
  site/app/views/grading/ElectronicGraderView.php
  site/cypress/component/GradingClustering.cy.js
  site/cypress/e2e/Cypress-TAGrading/grading_clustering.spec.js
Due: php

resolving php lint and js line erros
  site/app/controllers/grading/ElectronicGraderController.php
  site/app/controllers/grading/GradingClusterController.php
  site/cypress/e2e/Cypress-TAGrading/grading_clustering.spec.js
  site/vue/src/components/GradingClustering.vue
Due: php

fixing lint again
  site/app/controllers/grading/ElectronicGraderController.php
  site/vue/src/components/GradingClustering.vue
Due: php

Update migration timestamp
  migration/migrator/migrations/course/20260713152528_date_registered.py
Due: migrator

update .dockerignore to be an allowlist and exclude everything else
  .dockerignore
  submitty_test.sh
Due: none

fix discussion_post.spec.js
  site/cypress/e2e/Cypress-Feature/discussion_post.spec.js
Due: none

vue rename and adding watch
  site/vue/src/components/DockerStatusMessage.vue
  site/vue/src/components/DockerUIStatusMessage.vue
Due: none

[Bugfix:RainbowGrades] Revert accidential changes (#13028)
  sbin/auto_rainbow_grades.py
  sbin/submitty_daemon_jobs/submitty_jobs/jobs.py
  site/app/controllers/admin/ReportController.php
Due: php

[Feature:TAGrading] Add Image Annotation (#11921)
  .setup/install_submitty/install_site.sh
  site/app/controllers/MiscController.php
  site/app/controllers/pdf/PDFController.php
  site/app/libraries/Access.php
  site/app/templates/autograding/TAResults.twig
  site/app/templates/grading/electronic/ImageAnnotationEmbedded.twig
  site/app/views/AutoGradingView.php
  site/app/views/ImageView.php
  site/app/views/grading/ElectronicGraderView.php
  site/globals.d.ts
  site/package-lock.json
  site/package.json
  site/phpstan-baseline.neon
  site/public/css/image/image_annotation.css
  site/ts/ImageAnnotationEmbedded.ts
  site/ts/ta-grading-keymap.ts
  site/ts/ta-grading.ts
Due: php

fixed display gradebook function
  site/app/controllers/admin/ReportController.php
Due: php

[Bugfix:Forum] Fix date crash (#12945) (#13022)
  site/app/models/DateTimeFormat.php
  site/app/templates/forum/CreatePost.twig
  site/app/templates/forum/GeneratePostList.twig
  site/app/views/forum/ForumThreadView.php
Due: php

Path conditions:
  php: any of: site/app, but not: tests/integrationTests
  autograder: any of: autograder/autograder, but not: tests/integrationTests
  python_submitty_utils: any of: python_submitty_utils/submitty_utils, but not: tests/integrationTests
  migrator: any of: migration/migrator, but not: tests/integrationTests
